body.page-masterlist
{
padding-top:10px; padding-left:10px;
}
.page-masterlist .rnr-c-masterlistheader,
  .rnr-pagewrapper .page-masterlist .rnr-c-masterlistheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-c-masterlistheader
{
margin-bottom:5px;
}
.page-masterlist .rnr-b-masterlistheader,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader
{
white-space: nowrap;
}
.page-masterlist .rnr-b-masterlistheader,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader
{
text-align: left;
}
.page-masterlist .rnr-b-masterlistheader > *,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistheader > *
{

}
.page-masterlist .rnr-c-mastergrid,
  .rnr-pagewrapper .page-masterlist .rnr-c-mastergrid,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-c-mastergrid
{
margin-bottom:5px;
}
.page-masterlist .rnr-c-mastergrid,
  .rnr-pagewrapper .page-masterlist .rnr-c-mastergrid,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-c-mastergrid
{
min-width: 100px;
}
.page-masterlist .rnr-b-masterlistfields,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields
{
white-space: normal;
}
.page-masterlist .rnr-b-masterlistfields,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields
{
text-align: left;
}
.page-masterlist .rnr-b-masterlistfields > *,
  .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-masterlist .rnr-b-masterlistfields > *
{

}
body.page-masterlist .rnr-bare
{
padding-right: 5px;
}
