<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel accidents_report search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Date}">
	{BEGIN Date_fieldblock}		
	<td>
		{$label accidents_report Date}
	</td>
	<td>
		<input type="checkbox" {$Date_notbox}>
	</td>
	<td>
		{$searchtype_Date}
	</td>
	<td>
		{$Date_editcontrol}&nbsp;
	</td>
	<td>
		{$Date_editcontrol1}&nbsp;
	</td>
{END Date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Category}">
	{BEGIN Category_fieldblock}		
	<td>
		{$label accidents_report Category}
	</td>
	<td>
		<input type="checkbox" {$Category_notbox}>
	</td>
	<td>
		{$searchtype_Category}
	</td>
	<td>
		{$Category_editcontrol}&nbsp;
	</td>
	<td>
		{$Category_editcontrol1}&nbsp;
	</td>
{END Category_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Vehicle}">
	{BEGIN Vehicle_fieldblock}		
	<td>
		{$label accidents_report Vehicle}
	</td>
	<td>
		<input type="checkbox" {$Vehicle_notbox}>
	</td>
	<td>
		{$searchtype_Vehicle}
	</td>
	<td>
		{$Vehicle_editcontrol}&nbsp;
	</td>
	<td>
		{$Vehicle_editcontrol1}&nbsp;
	</td>
{END Vehicle_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Fleet}">
	{BEGIN Fleet_fieldblock}		
	<td>
		{$label accidents_report Fleet}
	</td>
	<td>
		<input type="checkbox" {$Fleet_notbox}>
	</td>
	<td>
		{$searchtype_Fleet}
	</td>
	<td>
		{$Fleet_editcontrol}&nbsp;
	</td>
	<td>
		{$Fleet_editcontrol1}&nbsp;
	</td>
{END Fleet_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Type}">
	{BEGIN Type_fieldblock}		
	<td>
		{$label accidents_report Type}
	</td>
	<td>
		<input type="checkbox" {$Type_notbox}>
	</td>
	<td>
		{$searchtype_Type}
	</td>
	<td>
		{$Type_editcontrol}&nbsp;
	</td>
	<td>
		{$Type_editcontrol1}&nbsp;
	</td>
{END Type_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Time}">
	{BEGIN Time_fieldblock}		
	<td>
		{$label accidents_report Time}
	</td>
	<td>
		<input type="checkbox" {$Time_notbox}>
	</td>
	<td>
		{$searchtype_Time}
	</td>
	<td>
		{$Time_editcontrol}&nbsp;
	</td>
	<td>
		{$Time_editcontrol1}&nbsp;
	</td>
{END Time_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Location}">
	{BEGIN Location_fieldblock}		
	<td>
		{$label accidents_report Location}
	</td>
	<td>
		<input type="checkbox" {$Location_notbox}>
	</td>
	<td>
		{$searchtype_Location}
	</td>
	<td>
		{$Location_editcontrol}&nbsp;
	</td>
	<td>
		{$Location_editcontrol1}&nbsp;
	</td>
{END Location_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Driver}">
	{BEGIN Driver_fieldblock}		
	<td>
		{$label accidents_report Driver}
	</td>
	<td>
		<input type="checkbox" {$Driver_notbox}>
	</td>
	<td>
		{$searchtype_Driver}
	</td>
	<td>
		{$Driver_editcontrol}&nbsp;
	</td>
	<td>
		{$Driver_editcontrol1}&nbsp;
	</td>
{END Driver_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Deaths}">
	{BEGIN Deaths_fieldblock}		
	<td>
		{$label accidents_report Deaths}
	</td>
	<td>
		<input type="checkbox" {$Deaths_notbox}>
	</td>
	<td>
		{$searchtype_Deaths}
	</td>
	<td>
		{$Deaths_editcontrol}&nbsp;
	</td>
	<td>
		{$Deaths_editcontrol1}&nbsp;
	</td>
{END Deaths_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Injured}">
	{BEGIN Injured_fieldblock}		
	<td>
		{$label accidents_report Injured}
	</td>
	<td>
		<input type="checkbox" {$Injured_notbox}>
	</td>
	<td>
		{$searchtype_Injured}
	</td>
	<td>
		{$Injured_editcontrol}&nbsp;
	</td>
	<td>
		{$Injured_editcontrol1}&nbsp;
	</td>
{END Injured_fieldblock}
	</tr>
	<tr class="{$fielddispclass_StatusInjured}">
	{BEGIN StatusInjured_fieldblock}		
	<td>
		{$label accidents_report StatusInjured}
	</td>
	<td>
		<input type="checkbox" {$StatusInjured_notbox}>
	</td>
	<td>
		{$searchtype_StatusInjured}
	</td>
	<td>
		{$StatusInjured_editcontrol}&nbsp;
	</td>
	<td>
		{$StatusInjured_editcontrol1}&nbsp;
	</td>
{END StatusInjured_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Details}">
	{BEGIN Details_fieldblock}		
	<td>
		{$label accidents_report Details}
	</td>
	<td>
		<input type="checkbox" {$Details_notbox}>
	</td>
	<td>
		{$searchtype_Details}
	</td>
	<td>
		{$Details_editcontrol}&nbsp;
	</td>
	<td>
		{$Details_editcontrol1}&nbsp;
	</td>
{END Details_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DamageToVehicle}">
	{BEGIN DamageToVehicle_fieldblock}		
	<td>
		{$label accidents_report DamageToVehicle}
	</td>
	<td>
		<input type="checkbox" {$DamageToVehicle_notbox}>
	</td>
	<td>
		{$searchtype_DamageToVehicle}
	</td>
	<td>
		{$DamageToVehicle_editcontrol}&nbsp;
	</td>
	<td>
		{$DamageToVehicle_editcontrol1}&nbsp;
	</td>
{END DamageToVehicle_fieldblock}
	</tr>
	<tr class="{$fielddispclass_EnteredBy}">
	{BEGIN EnteredBy_fieldblock}		
	<td>
		{$label accidents_report EnteredBy}
	</td>
	<td>
		<input type="checkbox" {$EnteredBy_notbox}>
	</td>
	<td>
		{$searchtype_EnteredBy}
	</td>
	<td>
		{$EnteredBy_editcontrol}&nbsp;
	</td>
	<td>
		{$EnteredBy_editcontrol1}&nbsp;
	</td>
{END EnteredBy_fieldblock}
	</tr>
	<tr class="{$fielddispclass_3rdPartyDamages}">
	{BEGIN 3rdPartyDamages_fieldblock}		
	<td>
		{$label accidents_report 3rdPartyDamages}
	</td>
	<td>
		<input type="checkbox" {$3rdPartyDamages_notbox}>
	</td>
	<td>
		{$searchtype_3rdPartyDamages}
	</td>
	<td>
		{$3rdPartyDamages_editcontrol}&nbsp;
	</td>
	<td>
		{$3rdPartyDamages_editcontrol1}&nbsp;
	</td>
{END 3rdPartyDamages_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Images}">
	{BEGIN Images_fieldblock}		
	<td>
		{$label accidents_report Images}
	</td>
	<td>
		<input type="checkbox" {$Images_notbox}>
	</td>
	<td>
		{$searchtype_Images}
	</td>
	<td>
		{$Images_editcontrol}&nbsp;
	</td>
	<td>
		{$Images_editcontrol1}&nbsp;
	</td>
{END Images_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
