<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel accidents_report print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN Id_fieldheadercolumn}
			<th class="{$Id_class}" {$Id_style}  data-field="Id">
				{$label accidents_report Id}
			</th>
			{END Id_fieldheadercolumn}
			{BEGIN Date_fieldheadercolumn}
			<th class="{$Date_class}" {$Date_style}  data-field="Date">
				{$label accidents_report Date}
			</th>
			{END Date_fieldheadercolumn}
			{BEGIN Vehicle_fieldheadercolumn}
			<th class="{$Vehicle_class}" {$Vehicle_style}  data-field="Vehicle">
				{$label accidents_report Vehicle}
			</th>
			{END Vehicle_fieldheadercolumn}
			{BEGIN Fleet_fieldheadercolumn}
			<th class="{$Fleet_class}" {$Fleet_style}  data-field="Fleet">
				{$label accidents_report Fleet}
			</th>
			{END Fleet_fieldheadercolumn}
			{BEGIN Type_fieldheadercolumn}
			<th class="{$Type_class}" {$Type_style}  data-field="Type">
				{$label accidents_report Type}
			</th>
			{END Type_fieldheadercolumn}
			{BEGIN Time_fieldheadercolumn}
			<th class="{$Time_class}" {$Time_style}  data-field="Time">
				{$label accidents_report Time}
			</th>
			{END Time_fieldheadercolumn}
			{BEGIN Location_fieldheadercolumn}
			<th class="{$Location_class}" {$Location_style}  data-field="Location">
				{$label accidents_report Location}
			</th>
			{END Location_fieldheadercolumn}
			{BEGIN Driver_fieldheadercolumn}
			<th class="{$Driver_class}" {$Driver_style}  data-field="Driver">
				{$label accidents_report Driver}
			</th>
			{END Driver_fieldheadercolumn}
			{BEGIN Deaths_fieldheadercolumn}
			<th class="{$Deaths_class}" {$Deaths_style}  data-field="Deaths">
				{$label accidents_report Deaths}
			</th>
			{END Deaths_fieldheadercolumn}
			{BEGIN Injured_fieldheadercolumn}
			<th class="{$Injured_class}" {$Injured_style}  data-field="Injured">
				{$label accidents_report Injured}
			</th>
			{END Injured_fieldheadercolumn}
			{BEGIN StatusInjured_fieldheadercolumn}
			<th class="{$StatusInjured_class}" {$StatusInjured_style}  data-field="StatusInjured">
				{$label accidents_report StatusInjured}
			</th>
			{END StatusInjured_fieldheadercolumn}
			{BEGIN Details_fieldheadercolumn}
			<th class="{$Details_class}" {$Details_style}  data-field="Details">
				{$label accidents_report Details}
			</th>
			{END Details_fieldheadercolumn}
			{BEGIN DamageToVehicle_fieldheadercolumn}
			<th class="{$DamageToVehicle_class}" {$DamageToVehicle_style}  data-field="DamageToVehicle">
				{$label accidents_report DamageToVehicle}
			</th>
			{END DamageToVehicle_fieldheadercolumn}
			{BEGIN 3rdPartyDamages_fieldheadercolumn}
			<th class="{$3rdPartyDamages_class}" {$3rdPartyDamages_style}  data-field="3rdPartyDamages">
				{$label accidents_report 3rdPartyDamages}
			</th>
			{END 3rdPartyDamages_fieldheadercolumn}
			{BEGIN EnteredBy_fieldheadercolumn}
			<th class="{$EnteredBy_class}" {$EnteredBy_style}  data-field="EnteredBy">
				{$label accidents_report EnteredBy}
			</th>
			{END EnteredBy_fieldheadercolumn}
			{BEGIN Images_fieldheadercolumn}
			<th class="{$Images_class}" {$Images_style}  data-field="Images">
				{$label accidents_report Images}
			</th>
			{END Images_fieldheadercolumn}
			{BEGIN SysDate_fieldheadercolumn}
			<th class="{$SysDate_class}" {$SysDate_style}  data-field="SysDate">
				{$label accidents_report SysDate}
			</th>
			{END SysDate_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN Id_fieldcolumn}
			<td  class="{$Id_class}" {$Id_style} {$recordattrs}>
				{$Id_value}
			</td>
			{END Id_fieldcolumn}
			{BEGIN Date_fieldcolumn}
			<td  class="{$Date_class}" {$Date_style} {$recordattrs}>
				{$Date_value}
			</td>
			{END Date_fieldcolumn}
			{BEGIN Vehicle_fieldcolumn}
			<td  class="{$Vehicle_class}" {$Vehicle_style} {$recordattrs}>
				{$Vehicle_value}
			</td>
			{END Vehicle_fieldcolumn}
			{BEGIN Fleet_fieldcolumn}
			<td  class="{$Fleet_class}" {$Fleet_style} {$recordattrs}>
				{$Fleet_value}
			</td>
			{END Fleet_fieldcolumn}
			{BEGIN Type_fieldcolumn}
			<td  class="{$Type_class}" {$Type_style} {$recordattrs}>
				{$Type_value}
			</td>
			{END Type_fieldcolumn}
			{BEGIN Time_fieldcolumn}
			<td  class="{$Time_class}" {$Time_style} {$recordattrs}>
				{$Time_value}
			</td>
			{END Time_fieldcolumn}
			{BEGIN Location_fieldcolumn}
			<td  class="{$Location_class}" {$Location_style} {$recordattrs}>
				{$Location_value}
			</td>
			{END Location_fieldcolumn}
			{BEGIN Driver_fieldcolumn}
			<td  class="{$Driver_class}" {$Driver_style} {$recordattrs}>
				{$Driver_value}
			</td>
			{END Driver_fieldcolumn}
			{BEGIN Deaths_fieldcolumn}
			<td  class="{$Deaths_class}" {$Deaths_style} {$recordattrs}>
				{$Deaths_value}
			</td>
			{END Deaths_fieldcolumn}
			{BEGIN Injured_fieldcolumn}
			<td  class="{$Injured_class}" {$Injured_style} {$recordattrs}>
				{$Injured_value}
			</td>
			{END Injured_fieldcolumn}
			{BEGIN StatusInjured_fieldcolumn}
			<td  class="{$StatusInjured_class}" {$StatusInjured_style} {$recordattrs}>
				{$StatusInjured_value}
			</td>
			{END StatusInjured_fieldcolumn}
			{BEGIN Details_fieldcolumn}
			<td  class="{$Details_class}" {$Details_style} {$recordattrs}>
				{$Details_value}
			</td>
			{END Details_fieldcolumn}
			{BEGIN DamageToVehicle_fieldcolumn}
			<td  class="{$DamageToVehicle_class}" {$DamageToVehicle_style} {$recordattrs}>
				{$DamageToVehicle_value}
			</td>
			{END DamageToVehicle_fieldcolumn}
			{BEGIN 3rdPartyDamages_fieldcolumn}
			<td  class="{$3rdPartyDamages_class}" {$3rdPartyDamages_style} {$recordattrs}>
				{$3rdPartyDamages_value}
			</td>
			{END 3rdPartyDamages_fieldcolumn}
			{BEGIN EnteredBy_fieldcolumn}
			<td  class="{$EnteredBy_class}" {$EnteredBy_style} {$recordattrs}>
				{$EnteredBy_value}
			</td>
			{END EnteredBy_fieldcolumn}
			{BEGIN Images_fieldcolumn}
			<td  class="{$Images_class}" {$Images_style} {$recordattrs}>
				{$Images_value}
			</td>
			{END Images_fieldcolumn}
			{BEGIN SysDate_fieldcolumn}
			<td  class="{$SysDate_class}" {$SysDate_style} {$recordattrs}>
				{$SysDate_value}
			</td>
			{END SysDate_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

{BEGIN totals_row}
	<tfoot>
		<tr class=" style1">
		{BEGIN totals_record}
			{BEGIN Id_fieldfootercolumn}
			<td>
						</td>
			{END Id_fieldfootercolumn}
			{BEGIN Date_fieldfootercolumn}
			<td>
						</td>
			{END Date_fieldfootercolumn}
			{BEGIN Vehicle_fieldfootercolumn}
			<td>
						</td>
			{END Vehicle_fieldfootercolumn}
			{BEGIN Fleet_fieldfootercolumn}
			<td>
						</td>
			{END Fleet_fieldfootercolumn}
			{BEGIN Type_fieldfootercolumn}
			<td>
						</td>
			{END Type_fieldfootercolumn}
			{BEGIN Time_fieldfootercolumn}
			<td>
						</td>
			{END Time_fieldfootercolumn}
			{BEGIN Location_fieldfootercolumn}
			<td>
						</td>
			{END Location_fieldfootercolumn}
			{BEGIN Driver_fieldfootercolumn}
			<td>
						</td>
			{END Driver_fieldfootercolumn}
			{BEGIN Deaths_fieldfootercolumn}
			<td>
							{BEGIN Deaths_showtotal}
									{mlang_message TOTAL}:
				{$Deaths_total}
				{END Deaths_showtotal}
			</td>
			{END Deaths_fieldfootercolumn}
			{BEGIN Injured_fieldfootercolumn}
			<td>
							{BEGIN Injured_showtotal}
									{mlang_message TOTAL}:
				{$Injured_total}
				{END Injured_showtotal}
			</td>
			{END Injured_fieldfootercolumn}
			{BEGIN StatusInjured_fieldfootercolumn}
			<td>
						</td>
			{END StatusInjured_fieldfootercolumn}
			{BEGIN Details_fieldfootercolumn}
			<td>
						</td>
			{END Details_fieldfootercolumn}
			{BEGIN DamageToVehicle_fieldfootercolumn}
			<td>
						</td>
			{END DamageToVehicle_fieldfootercolumn}
			{BEGIN 3rdPartyDamages_fieldfootercolumn}
			<td>
						</td>
			{END 3rdPartyDamages_fieldfootercolumn}
			{BEGIN EnteredBy_fieldfootercolumn}
			<td>
						</td>
			{END EnteredBy_fieldfootercolumn}
			{BEGIN Images_fieldfootercolumn}
			<td>
						</td>
			{END Images_fieldfootercolumn}
			{BEGIN SysDate_fieldfootercolumn}
			<td>
						</td>
			{END SysDate_fieldfootercolumn}
			{BEGIN endrecordtotals_block}
			<td class="rnr-cs"></td>
			{END endrecordtotals_block}
		{END totals_record}
		</tr>
	</tfoot>
{END totals_row}
</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
