<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_pdf} rnr-wrapper rnr-cbw-pdf">

{BEGIN container_pdf}
<div class="rnr-c rnr-cv rnr-c-pdf">


<div  class="rnr-brickcontents style1 rnr-b-viewpdf {$brickclass_viewpdf}">{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button" {$pdflink_attrs}>PDF View</a>
{END pdflink_block}

</div>


</div>
{END container_pdf}

</div>




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel accidents view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN Id_fieldblock}
<div data-fieldname="Id" class="rnr-field style1 {$fielddispclass_Id}">
  <span class="rnr-label">{$label accidents Id}:</span>
  <span class="rnr-control style3">{$Id_value}</span>
</div>
{END Id_fieldblock}
	{BEGIN Date_fieldblock}
<div data-fieldname="Date" class="rnr-field style1 {$fielddispclass_Date}">
  <span class="rnr-label">{$label accidents Date}:</span>
  <span class="rnr-control style3">{$Date_value}</span>
</div>
{END Date_fieldblock}
	{BEGIN Vehicle_fieldblock}
<div data-fieldname="Vehicle" class="rnr-field style1 {$fielddispclass_Vehicle}">
  <span class="rnr-label">{$label accidents Vehicle}:</span>
  <span class="rnr-control style3">{$Vehicle_value}</span>
</div>
{END Vehicle_fieldblock}
	{BEGIN Fleet_fieldblock}
<div data-fieldname="Fleet" class="rnr-field style1 {$fielddispclass_Fleet}">
  <span class="rnr-label">{$label accidents Fleet}:</span>
  <span class="rnr-control style3">{$Fleet_value}</span>
</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}
<div data-fieldname="Type" class="rnr-field style1 {$fielddispclass_Type}">
  <span class="rnr-label">{$label accidents Type}:</span>
  <span class="rnr-control style3">{$Type_value}</span>
</div>
{END Type_fieldblock}
	{BEGIN Time_fieldblock}
<div data-fieldname="Time" class="rnr-field style1 {$fielddispclass_Time}">
  <span class="rnr-label">{$label accidents Time}:</span>
  <span class="rnr-control style3">{$Time_value}</span>
</div>
{END Time_fieldblock}
	{BEGIN Location_fieldblock}
<div data-fieldname="Location" class="rnr-field style1 {$fielddispclass_Location}">
  <span class="rnr-label">{$label accidents Location}:</span>
  <span class="rnr-control style3">{$Location_value}</span>
</div>
{END Location_fieldblock}
	{BEGIN Driver_fieldblock}
<div data-fieldname="Driver" class="rnr-field style1 {$fielddispclass_Driver}">
  <span class="rnr-label">{$label accidents Driver}:</span>
  <span class="rnr-control style3">{$Driver_value}</span>
</div>
{END Driver_fieldblock}
	{BEGIN Deaths_fieldblock}
<div data-fieldname="Deaths" class="rnr-field style1 {$fielddispclass_Deaths}">
  <span class="rnr-label">{$label accidents Deaths}:</span>
  <span class="rnr-control style3">{$Deaths_value}</span>
</div>
{END Deaths_fieldblock}
</td>
<td>
	{BEGIN Injured_fieldblock}
<div data-fieldname="Injured" class="rnr-field style1 {$fielddispclass_Injured}">
  <span class="rnr-label">{$label accidents Injured}:</span>
  <span class="rnr-control style3">{$Injured_value}</span>
</div>
{END Injured_fieldblock}
	{BEGIN StatusInjured_fieldblock}
<div data-fieldname="StatusInjured" class="rnr-field style1 {$fielddispclass_StatusInjured}">
  <span class="rnr-label">{$label accidents StatusInjured}:</span>
  <span class="rnr-control style3">{$StatusInjured_value}</span>
</div>
{END StatusInjured_fieldblock}
	{BEGIN Details_fieldblock}
<div data-fieldname="Details" class="rnr-field style1 {$fielddispclass_Details}">
  <span class="rnr-label">{$label accidents Details}:</span>
  <span class="rnr-control style3">{$Details_value}</span>
</div>
{END Details_fieldblock}
	{BEGIN DamageToVehicle_fieldblock}
<div data-fieldname="DamageToVehicle" class="rnr-field style1 {$fielddispclass_DamageToVehicle}">
  <span class="rnr-label">{$label accidents DamageToVehicle}:</span>
  <span class="rnr-control style3">{$DamageToVehicle_value}</span>
</div>
{END DamageToVehicle_fieldblock}
	{BEGIN EnteredBy_fieldblock}
<div data-fieldname="EnteredBy" class="rnr-field style1 {$fielddispclass_EnteredBy}">
  <span class="rnr-label">{$label accidents EnteredBy}:</span>
  <span class="rnr-control style3">{$EnteredBy_value}</span>
</div>
{END EnteredBy_fieldblock}
	{BEGIN 3rdPartyDamages_fieldblock}
<div data-fieldname="3rdPartyDamages" class="rnr-field style1 {$fielddispclass_3rdPartyDamages}">
  <span class="rnr-label">{$label accidents 3rdPartyDamages}:</span>
  <span class="rnr-control style3">{$3rdPartyDamages_value}</span>
</div>
{END 3rdPartyDamages_fieldblock}
	{BEGIN Images_fieldblock}
<div data-fieldname="Images" class="rnr-field style1 {$fielddispclass_Images}">
  <span class="rnr-label">{$label accidents Images}:</span>
  <span class="rnr-control style3">{$Images_value}</span>
</div>
{END Images_fieldblock}
	{BEGIN SysDate_fieldblock}
<div data-fieldname="SysDate" class="rnr-field style1 {$fielddispclass_SysDate}">
  <span class="rnr-label">{$label accidents SysDate}:</span>
  <span class="rnr-control style3">{$SysDate_value}</span>
</div>
{END SysDate_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
