<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf  current" originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item1_menulink_attrs}>
									Permissions
			</a>
	</div>
</div>
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item2_menulink_attrs}>
									Assign users to groups
			</a>
	</div>
</div>
<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item3_menulink_attrs}>
									Add/Edit users
			</a>
	</div>
</div>
