<ul class="rnr-b-vmenu simple {$menustyle}" originalMenuTag="$$originalMenuTag">
<li class=" current menuLeaf">
	<div>
		<div>
			<a {$item1_menulink_attrs}>
									{mlang_message AA_PERMISSIONS}
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item2_menulink_attrs}>
									{mlang_message AA_ASSIGN_USERS}
			</a>
		</div>
	</div>
</li>
<li class=" menuLeaf">
	<div>
		<div>
			<a {$item3_menulink_attrs}>
									{mlang_message AA_ADDEDIT_USERS}
			</a>
		</div>
	</div>
</li>
</ul>
