<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf  current" originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item1_menulink_attrs}>
									{mlang_message AA_PERMISSIONS}
			</a>
	</div>
</div>
<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item2_menulink_attrs}>
									{mlang_message AA_ASSIGN_USERS}
			</a>
	</div>
</div>
<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf " originalMenuTag="$$originalMenuTag">
	<div>
		<a {$item3_menulink_attrs}>
									{mlang_message AA_ADDEDIT_USERS}
			</a>
	</div>
</div>
