{BEGIN item1_menulink}
<ul class="nav navbar-nav" id="item1" view="topitem">
	<li class="{BEGIN item1_current} active{END item1_current}">
			<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
	</li>
</ul>
{END item1_menulink}
{BEGIN item2_menulink}
<ul class="nav navbar-nav" id="item2" view="topitem">
	<li class="{BEGIN item2_current} active{END item2_current}">
			<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
	</li>
</ul>
{END item2_menulink}
{BEGIN item3_menulink}
<ul class="nav navbar-nav" id="item3" view="topitem">
	<li class="{BEGIN item3_current} active{END item3_current}">
			<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
	</li>
</ul>
{END item3_menulink}

