<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel creategrn_issue_rebuilt search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Status_fieldblock}		
	<div class="container {$fielddispclass_Status}" data-fieldname="Status">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Status}
			</div>
			<div class="col-md-2" >
				{$searchtype_Status}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol1}
			</div>
		</div>
	</div>
{END Status_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN RemovedFrom_fieldblock}		
	<div class="container {$fielddispclass_RemovedFrom}" data-fieldname="RemovedFrom">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt RemovedFrom}
			</div>
			<div class="col-md-2" >
				{$searchtype_RemovedFrom}
			</div>
			<div class="col-md-4" >
				{$RemovedFrom_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RemovedFrom_editcontrol1}
			</div>
		</div>
	</div>
{END RemovedFrom_fieldblock}
	{BEGIN GRNDate_fieldblock}		
	<div class="container {$fielddispclass_GRNDate}" data-fieldname="GRNDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt GRNDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_GRNDate}
			</div>
			<div class="col-md-4" >
				{$GRNDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GRNDate_editcontrol1}
			</div>
		</div>
	</div>
{END GRNDate_fieldblock}
	{BEGIN ItemCode_fieldblock}		
	<div class="container {$fielddispclass_ItemCode}" data-fieldname="ItemCode">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt ItemCode}
			</div>
			<div class="col-md-2" >
				{$searchtype_ItemCode}
			</div>
			<div class="col-md-4" >
				{$ItemCode_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ItemCode_editcontrol1}
			</div>
		</div>
	</div>
{END ItemCode_fieldblock}
	{BEGIN Remarks_fieldblock}		
	<div class="container {$fielddispclass_Remarks}" data-fieldname="Remarks">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Remarks}
			</div>
			<div class="col-md-2" >
				{$searchtype_Remarks}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol1}
			</div>
		</div>
	</div>
{END Remarks_fieldblock}
	{BEGIN Quantity_fieldblock}		
	<div class="container {$fielddispclass_Quantity}" data-fieldname="Quantity">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Quantity}
			</div>
			<div class="col-md-2" >
				{$searchtype_Quantity}
			</div>
			<div class="col-md-4" >
				{$Quantity_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Quantity_editcontrol1}
			</div>
		</div>
	</div>
{END Quantity_fieldblock}
	{BEGIN PriceLink_fieldblock}		
	<div class="container {$fielddispclass_PriceLink}" data-fieldname="PriceLink">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt PriceLink}
			</div>
			<div class="col-md-2" >
				{$searchtype_PriceLink}
			</div>
			<div class="col-md-4" >
				{$PriceLink_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PriceLink_editcontrol1}
			</div>
		</div>
	</div>
{END PriceLink_fieldblock}
	{BEGIN Brand_fieldblock}		
	<div class="container {$fielddispclass_Brand}" data-fieldname="Brand">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Brand}
			</div>
			<div class="col-md-2" >
				{$searchtype_Brand}
			</div>
			<div class="col-md-4" >
				{$Brand_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Brand_editcontrol1}
			</div>
		</div>
	</div>
{END Brand_fieldblock}
	{BEGIN Description_fieldblock}		
	<div class="container {$fielddispclass_Description}" data-fieldname="Description">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Description}
			</div>
			<div class="col-md-2" >
				{$searchtype_Description}
			</div>
			<div class="col-md-4" >
				{$Description_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Description_editcontrol1}
			</div>
		</div>
	</div>
{END Description_fieldblock}
	{BEGIN Supplier_fieldblock}		
	<div class="container {$fielddispclass_Supplier}" data-fieldname="Supplier">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Supplier}
			</div>
			<div class="col-md-2" >
				{$searchtype_Supplier}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol1}
			</div>
		</div>
	</div>
{END Supplier_fieldblock}
	{BEGIN UnitPrice_fieldblock}		
	<div class="container {$fielddispclass_UnitPrice}" data-fieldname="UnitPrice">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt UnitPrice}
			</div>
			<div class="col-md-2" >
				{$searchtype_UnitPrice}
			</div>
			<div class="col-md-4" >
				{$UnitPrice_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UnitPrice_editcontrol1}
			</div>
		</div>
	</div>
{END UnitPrice_fieldblock}
	{BEGIN Cost_fieldblock}		
	<div class="container {$fielddispclass_Cost}" data-fieldname="Cost">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt Cost}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_fieldblock}
	{BEGIN EnteredBy_fieldblock}		
	<div class="container {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt EnteredBy}
			</div>
			<div class="col-md-2" >
				{$searchtype_EnteredBy}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol1}
			</div>
		</div>
	</div>
{END EnteredBy_fieldblock}
	{BEGIN CurrentStock_fieldblock}		
	<div class="container {$fielddispclass_CurrentStock}" data-fieldname="CurrentStock">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt CurrentStock}
			</div>
			<div class="col-md-2" >
				{$searchtype_CurrentStock}
			</div>
			<div class="col-md-4" >
				{$CurrentStock_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CurrentStock_editcontrol1}
			</div>
		</div>
	</div>
{END CurrentStock_fieldblock}
	{BEGIN SystemDate_fieldblock}		
	<div class="container {$fielddispclass_SystemDate}" data-fieldname="SystemDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_issue_rebuilt SystemDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SystemDate}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol1}
			</div>
		</div>
	</div>
{END SystemDate_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
