<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel creategrn_issue view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN ID_fieldblock}
	<div class="{$fielddispclass_ID} col-md-6 bs-viewcontrolgroup" data-fieldname="ID">
		<label class="control-label" for="{$labelfor_ID}">
			{$label creategrn_issue ID}
		</label>
		<div class="" >
			{$ID_value}&nbsp;
		</div>
	</div>
{END ID_fieldblock}
					{BEGIN Status_fieldblock}
	<div class="{$fielddispclass_Status} col-md-6 bs-viewcontrolgroup" data-fieldname="Status">
		<label class="control-label" for="{$labelfor_Status}">
			{$label creategrn_issue Status}
		</label>
		<div class="" >
			{$Status_value}&nbsp;
		</div>
	</div>
{END Status_fieldblock}
					{BEGIN Fleet_fieldblock}
	<div class="{$fielddispclass_Fleet} col-md-6 bs-viewcontrolgroup" data-fieldname="Fleet">
		<label class="control-label" for="{$labelfor_Fleet}">
			{$label creategrn_issue Fleet}
		</label>
		<div class="" >
			{$Fleet_value}&nbsp;
		</div>
	</div>
{END Fleet_fieldblock}
					{BEGIN RemovedFrom_fieldblock}
	<div class="{$fielddispclass_RemovedFrom} col-md-6 bs-viewcontrolgroup" data-fieldname="RemovedFrom">
		<label class="control-label" for="{$labelfor_RemovedFrom}">
			{$label creategrn_issue RemovedFrom}
		</label>
		<div class="" >
			{$RemovedFrom_value}&nbsp;
		</div>
	</div>
{END RemovedFrom_fieldblock}
					{BEGIN GRNDate_fieldblock}
	<div class="{$fielddispclass_GRNDate} col-md-6 bs-viewcontrolgroup" data-fieldname="GRNDate">
		<label class="control-label" for="{$labelfor_GRNDate}">
			{$label creategrn_issue GRNDate}
		</label>
		<div class="" >
			{$GRNDate_value}&nbsp;
		</div>
	</div>
{END GRNDate_fieldblock}
					{BEGIN ItemCode_fieldblock}
	<div class="{$fielddispclass_ItemCode} col-md-6 bs-viewcontrolgroup" data-fieldname="ItemCode">
		<label class="control-label" for="{$labelfor_ItemCode}">
			{$label creategrn_issue ItemCode}
		</label>
		<div class="" >
			{$ItemCode_value}&nbsp;
		</div>
	</div>
{END ItemCode_fieldblock}
					{BEGIN Remarks_fieldblock}
	<div class="{$fielddispclass_Remarks} col-md-6 bs-viewcontrolgroup" data-fieldname="Remarks">
		<label class="control-label" for="{$labelfor_Remarks}">
			{$label creategrn_issue Remarks}
		</label>
		<div class="" >
			{$Remarks_value}&nbsp;
		</div>
	</div>
{END Remarks_fieldblock}
					{BEGIN CurrentStock_fieldblock}
	<div class="{$fielddispclass_CurrentStock} col-md-6 bs-viewcontrolgroup" data-fieldname="CurrentStock">
		<label class="control-label" for="{$labelfor_CurrentStock}">
			{$label creategrn_issue CurrentStock}
		</label>
		<div class="" >
			{$CurrentStock_value}&nbsp;
		</div>
	</div>
{END CurrentStock_fieldblock}
					{BEGIN Quantity_fieldblock}
	<div class="{$fielddispclass_Quantity} col-md-6 bs-viewcontrolgroup" data-fieldname="Quantity">
		<label class="control-label" for="{$labelfor_Quantity}">
			{$label creategrn_issue Quantity}
		</label>
		<div class="" >
			{$Quantity_value}&nbsp;
		</div>
	</div>
{END Quantity_fieldblock}
					{BEGIN Brand_fieldblock}
	<div class="{$fielddispclass_Brand} col-md-6 bs-viewcontrolgroup" data-fieldname="Brand">
		<label class="control-label" for="{$labelfor_Brand}">
			{$label creategrn_issue Brand}
		</label>
		<div class="" >
			{$Brand_value}&nbsp;
		</div>
	</div>
{END Brand_fieldblock}
					{BEGIN Description_fieldblock}
	<div class="{$fielddispclass_Description} col-md-6 bs-viewcontrolgroup" data-fieldname="Description">
		<label class="control-label" for="{$labelfor_Description}">
			{$label creategrn_issue Description}
		</label>
		<div class="" >
			{$Description_value}&nbsp;
		</div>
	</div>
{END Description_fieldblock}
					{BEGIN Supplier_fieldblock}
	<div class="{$fielddispclass_Supplier} col-md-6 bs-viewcontrolgroup" data-fieldname="Supplier">
		<label class="control-label" for="{$labelfor_Supplier}">
			{$label creategrn_issue Supplier}
		</label>
		<div class="" >
			{$Supplier_value}&nbsp;
		</div>
	</div>
{END Supplier_fieldblock}
					{BEGIN UnitPrice_fieldblock}
	<div class="{$fielddispclass_UnitPrice} col-md-6 bs-viewcontrolgroup" data-fieldname="UnitPrice">
		<label class="control-label" for="{$labelfor_UnitPrice}">
			{$label creategrn_issue UnitPrice}
		</label>
		<div class="" >
			{$UnitPrice_value}&nbsp;
		</div>
	</div>
{END UnitPrice_fieldblock}
					{BEGIN Cost_fieldblock}
	<div class="{$fielddispclass_Cost} col-md-6 bs-viewcontrolgroup" data-fieldname="Cost">
		<label class="control-label" for="{$labelfor_Cost}">
			{$label creategrn_issue Cost}
		</label>
		<div class="" >
			{$Cost_value}&nbsp;
		</div>
	</div>
{END Cost_fieldblock}
					{BEGIN SystemDate_fieldblock}
	<div class="{$fielddispclass_SystemDate} col-md-6 bs-viewcontrolgroup" data-fieldname="SystemDate">
		<label class="control-label" for="{$labelfor_SystemDate}">
			{$label creategrn_issue SystemDate}
		</label>
		<div class="" >
			{$SystemDate_value}&nbsp;
		</div>
	</div>
{END SystemDate_fieldblock}
					{BEGIN EnteredBy_fieldblock}
	<div class="{$fielddispclass_EnteredBy} col-md-6 bs-viewcontrolgroup" data-fieldname="EnteredBy">
		<label class="control-label" for="{$labelfor_EnteredBy}">
			{$label creategrn_issue EnteredBy}
		</label>
		<div class="" >
			{$EnteredBy_value}&nbsp;
		</div>
	</div>
{END EnteredBy_fieldblock}
					{BEGIN ApprovedBy_fieldblock}
	<div class="{$fielddispclass_ApprovedBy} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedBy">
		<label class="control-label" for="{$labelfor_ApprovedBy}">
			{$label creategrn_issue ApprovedBy}
		</label>
		<div class="" >
			{$ApprovedBy_value}&nbsp;
		</div>
	</div>
{END ApprovedBy_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
						{BEGIN pdflink_block}
			<li><a href=# class="pdflink" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a></li>
			{END pdflink_block}
						{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
