<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_pdf} rnr-wrapper rnr-cbw-pdf">

{BEGIN container_pdf}
<div class="rnr-c rnr-cv rnr-c-pdf">


<div  class="rnr-brickcontents style1 rnr-b-viewpdf {$brickclass_viewpdf}">{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button" {$pdflink_attrs}>PDF View</a>
{END pdflink_block}

</div>


</div>
{END container_pdf}

</div>



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel creategrn1 view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN MAX_GRNDate__fieldblock}
<div data-fieldname="MAX_GRNDate_" class="rnr-field style1 {$fielddispclass_MAX_GRNDate_}">
  <span class="rnr-label">{$label creategrn1 MAX_GRNDate_}:</span>
  <span class="rnr-control style3">{$MAX_GRNDate__value}</span>
</div>
{END MAX_GRNDate__fieldblock}
	{BEGIN SUM_CurrentStock__fieldblock}
<div data-fieldname="SUM_CurrentStock_" class="rnr-field style1 {$fielddispclass_SUM_CurrentStock_}">
  <span class="rnr-label">{$label creategrn1 SUM_CurrentStock_}:</span>
  <span class="rnr-control style3">{$SUM_CurrentStock__value}</span>
</div>
{END SUM_CurrentStock__fieldblock}
	{BEGIN Fleet_fieldblock}
<div data-fieldname="Fleet" class="rnr-field style1 {$fielddispclass_Fleet}">
  <span class="rnr-label">{$label creategrn1 Fleet}:</span>
  <span class="rnr-control style3">{$Fleet_value}</span>
</div>
{END Fleet_fieldblock}
	{BEGIN ID_fieldblock}
<div data-fieldname="ID" class="rnr-field style1 {$fielddispclass_ID}">
  <span class="rnr-label">{$label creategrn1 ID}:</span>
  <span class="rnr-control style3">{$ID_value}</span>
</div>
{END ID_fieldblock}
	{BEGIN SystemDate_fieldblock}
<div data-fieldname="SystemDate" class="rnr-field style1 {$fielddispclass_SystemDate}">
  <span class="rnr-label">{$label creategrn1 SystemDate}:</span>
  <span class="rnr-control style3">{$SystemDate_value}</span>
</div>
{END SystemDate_fieldblock}
	{BEGIN Status_fieldblock}
<div data-fieldname="Status" class="rnr-field style1 {$fielddispclass_Status}">
  <span class="rnr-label">{$label creategrn1 Status}:</span>
  <span class="rnr-control style3">{$Status_value}</span>
</div>
{END Status_fieldblock}
	{BEGIN RemovedFrom_fieldblock}
<div data-fieldname="RemovedFrom" class="rnr-field style1 {$fielddispclass_RemovedFrom}">
  <span class="rnr-label">{$label creategrn1 RemovedFrom}:</span>
  <span class="rnr-control style3">{$RemovedFrom_value}</span>
</div>
{END RemovedFrom_fieldblock}
	{BEGIN RefNumber_fieldblock}
<div data-fieldname="RefNumber" class="rnr-field style1 {$fielddispclass_RefNumber}">
  <span class="rnr-label">{$label creategrn1 RefNumber}:</span>
  <span class="rnr-control style3">{$RefNumber_value}</span>
</div>
{END RefNumber_fieldblock}
	{BEGIN ItemCode_fieldblock}
<div data-fieldname="ItemCode" class="rnr-field style1 {$fielddispclass_ItemCode}">
  <span class="rnr-label">{$label creategrn1 ItemCode}:</span>
  <span class="rnr-control style3">{$ItemCode_value}</span>
</div>
{END ItemCode_fieldblock}
</td>
<td>
	{BEGIN Brand_fieldblock}
<div data-fieldname="Brand" class="rnr-field style1 {$fielddispclass_Brand}">
  <span class="rnr-label">{$label creategrn1 Brand}:</span>
  <span class="rnr-control style3">{$Brand_value}</span>
</div>
{END Brand_fieldblock}
	{BEGIN Description_fieldblock}
<div data-fieldname="Description" class="rnr-field style1 {$fielddispclass_Description}">
  <span class="rnr-label">{$label creategrn1 Description}:</span>
  <span class="rnr-control style3">{$Description_value}</span>
</div>
{END Description_fieldblock}
	{BEGIN Supplier_fieldblock}
<div data-fieldname="Supplier" class="rnr-field style1 {$fielddispclass_Supplier}">
  <span class="rnr-label">{$label creategrn1 Supplier}:</span>
  <span class="rnr-control style3">{$Supplier_value}</span>
</div>
{END Supplier_fieldblock}
	{BEGIN UnitPrice_fieldblock}
<div data-fieldname="UnitPrice" class="rnr-field style1 {$fielddispclass_UnitPrice}">
  <span class="rnr-label">{$label creategrn1 UnitPrice}:</span>
  <span class="rnr-control style3">{$UnitPrice_value}</span>
</div>
{END UnitPrice_fieldblock}
	{BEGIN Quantity_fieldblock}
<div data-fieldname="Quantity" class="rnr-field style1 {$fielddispclass_Quantity}">
  <span class="rnr-label">{$label creategrn1 Quantity}:</span>
  <span class="rnr-control style3">{$Quantity_value}</span>
</div>
{END Quantity_fieldblock}
	{BEGIN Cost_fieldblock}
<div data-fieldname="Cost" class="rnr-field style1 {$fielddispclass_Cost}">
  <span class="rnr-label">{$label creategrn1 Cost}:</span>
  <span class="rnr-control style3">{$Cost_value}</span>
</div>
{END Cost_fieldblock}
	{BEGIN EnteredBy_fieldblock}
<div data-fieldname="EnteredBy" class="rnr-field style1 {$fielddispclass_EnteredBy}">
  <span class="rnr-label">{$label creategrn1 EnteredBy}:</span>
  <span class="rnr-control style3">{$EnteredBy_value}</span>
</div>
{END EnteredBy_fieldblock}
	{BEGIN ApprovedBy_fieldblock}
<div data-fieldname="ApprovedBy" class="rnr-field style1 {$fielddispclass_ApprovedBy}">
  <span class="rnr-label">{$label creategrn1 ApprovedBy}:</span>
  <span class="rnr-control style3">{$ApprovedBy_value}</span>
</div>
{END ApprovedBy_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
