<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel creategrn_issue detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Details found: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Displaying first: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$ID_class}">{$label creategrn_issue ID}</th>
			<th class="{$Status_class}">{$label creategrn_issue Status}</th>
			<th class="{$Fleet_class}">{$label creategrn_issue Fleet}</th>
			<th class="{$RemovedFrom_class}">{$label creategrn_issue RemovedFrom}</th>
			<th class="{$GRNDate_class}">{$label creategrn_issue GRNDate}</th>
			<th class="{$ItemCode_class}">{$label creategrn_issue ItemCode}</th>
			<th class="{$Brand_class}">{$label creategrn_issue Brand}</th>
			<th class="{$Description_class}">{$label creategrn_issue Description}</th>
			<th class="{$Supplier_class}">{$label creategrn_issue Supplier}</th>
			<th class="{$Quantity_class}">{$label creategrn_issue Quantity}</th>
			<th class="{$UnitPrice_class}">{$label creategrn_issue UnitPrice}</th>
			<th class="{$Cost_class}">{$label creategrn_issue Cost}</th>
			<th class="{$EnteredBy_class}">{$label creategrn_issue EnteredBy}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$ID_class}">{$ID_value}</td>
			<td class="{$Status_class}">{$Status_value}</td>
			<td class="{$Fleet_class}">{$Fleet_value}</td>
			<td class="{$RemovedFrom_class}">{$RemovedFrom_value}</td>
			<td class="{$GRNDate_class}">{$GRNDate_value}</td>
			<td class="{$ItemCode_class}">{$ItemCode_value}</td>
			<td class="{$Brand_class}">{$Brand_value}</td>
			<td class="{$Description_class}">{$Description_value}</td>
			<td class="{$Supplier_class}">{$Supplier_value}</td>
			<td class="{$Quantity_class}">{$Quantity_value}</td>
			<td class="{$UnitPrice_class}">{$UnitPrice_value}</td>
			<td class="{$Cost_class}">{$Cost_value}</td>
			<td class="{$EnteredBy_class}">{$EnteredBy_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>