<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel creategrn_stock_balance search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ItemID_fieldblock}		
	<div class="container {$fielddispclass_ItemID}" data-fieldname="ItemID">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_stock_balance ItemID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ItemID}
			</div>
			<div class="col-md-4" >
				{$ItemID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ItemID_editcontrol1}
			</div>
		</div>
	</div>
{END ItemID_fieldblock}
	{BEGIN Brand_fieldblock}		
	<div class="container {$fielddispclass_Brand}" data-fieldname="Brand">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_stock_balance Brand}
			</div>
			<div class="col-md-2" >
				{$searchtype_Brand}
			</div>
			<div class="col-md-4" >
				{$Brand_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Brand_editcontrol1}
			</div>
		</div>
	</div>
{END Brand_fieldblock}
	{BEGIN Description_fieldblock}		
	<div class="container {$fielddispclass_Description}" data-fieldname="Description">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_stock_balance Description}
			</div>
			<div class="col-md-2" >
				{$searchtype_Description}
			</div>
			<div class="col-md-4" >
				{$Description_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Description_editcontrol1}
			</div>
		</div>
	</div>
{END Description_fieldblock}
	{BEGIN Supplier_fieldblock}		
	<div class="container {$fielddispclass_Supplier}" data-fieldname="Supplier">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_stock_balance Supplier}
			</div>
			<div class="col-md-2" >
				{$searchtype_Supplier}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol1}
			</div>
		</div>
	</div>
{END Supplier_fieldblock}
	{BEGIN SUM_Quantity__fieldblock}		
	<div class="container {$fielddispclass_SUM_Quantity_}" data-fieldname="SUM_Quantity_">
		<div class="form-group">
			<div class="col-md-2">
				{$label creategrn_stock_balance SUM_Quantity_}
			</div>
			<div class="col-md-2" >
				{$searchtype_SUM_Quantity_}
			</div>
			<div class="col-md-4" >
				{$SUM_Quantity__editcontrol}
			</div>
			<div class="col-md-4" >
				{$SUM_Quantity__editcontrol1}
			</div>
		</div>
	</div>
{END SUM_Quantity__fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
