<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel creategrn_issue_rebuilt_use edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-editfields2 {$brickclass_editfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN Status_fieldblock}
<div data-fieldname="Status" class="rnr-field style1 {$fielddispclass_Status}">
  <span class="rnr-label">{BEGIN Status_label}{$label creategrn_issue_rebuilt_use Status}{END Status_label}</span>
  <span class="rnr-control style3">{$Status_editcontrol}</span>
</div>
{END Status_fieldblock}
	{BEGIN GRNDate_fieldblock}
<div data-fieldname="GRNDate" class="rnr-field style1 {$fielddispclass_GRNDate}">
  <span class="rnr-label">{BEGIN GRNDate_label}{$label creategrn_issue_rebuilt_use GRNDate}{END GRNDate_label}</span>
  <span class="rnr-control style3">{$GRNDate_editcontrol}</span>
</div>
{END GRNDate_fieldblock}
	{BEGIN Fleet_fieldblock}
<div data-fieldname="Fleet" class="rnr-field style1 {$fielddispclass_Fleet}">
  <span class="rnr-label">{BEGIN Fleet_label}{$label creategrn_issue_rebuilt_use Fleet}{END Fleet_label}</span>
  <span class="rnr-control style3">{$Fleet_editcontrol}</span>
</div>
{END Fleet_fieldblock}
	{BEGIN RemovedFrom_fieldblock}
<div data-fieldname="RemovedFrom" class="rnr-field style1 {$fielddispclass_RemovedFrom}">
  <span class="rnr-label">{BEGIN RemovedFrom_label}{$label creategrn_issue_rebuilt_use RemovedFrom}{END RemovedFrom_label}</span>
  <span class="rnr-control style3">{$RemovedFrom_editcontrol}</span>
</div>
{END RemovedFrom_fieldblock}
	{BEGIN ItemCode_fieldblock}
<div data-fieldname="ItemCode" class="rnr-field style1 {$fielddispclass_ItemCode}">
  <span class="rnr-label">{BEGIN ItemCode_label}{$label creategrn_issue_rebuilt_use ItemCode}{END ItemCode_label}</span>
  <span class="rnr-control style3">{$ItemCode_editcontrol}</span>
</div>
{END ItemCode_fieldblock}
	{BEGIN Brand_fieldblock}
<div data-fieldname="Brand" class="rnr-field style1 {$fielddispclass_Brand}">
  <span class="rnr-label">{BEGIN Brand_label}{$label creategrn_issue_rebuilt_use Brand}{END Brand_label}</span>
  <span class="rnr-control style3">{$Brand_editcontrol}</span>
</div>
{END Brand_fieldblock}
	{BEGIN Description_fieldblock}
<div data-fieldname="Description" class="rnr-field style1 {$fielddispclass_Description}">
  <span class="rnr-label">{BEGIN Description_label}{$label creategrn_issue_rebuilt_use Description}{END Description_label}</span>
  <span class="rnr-control style3">{$Description_editcontrol}</span>
</div>
{END Description_fieldblock}
</td>
<td>
	{BEGIN Supplier_fieldblock}
<div data-fieldname="Supplier" class="rnr-field style1 {$fielddispclass_Supplier}">
  <span class="rnr-label">{BEGIN Supplier_label}{$label creategrn_issue_rebuilt_use Supplier}{END Supplier_label}</span>
  <span class="rnr-control style3">{$Supplier_editcontrol}</span>
</div>
{END Supplier_fieldblock}
	{BEGIN CurrentStock_fieldblock}
<div data-fieldname="CurrentStock" class="rnr-field style1 {$fielddispclass_CurrentStock}">
  <span class="rnr-label">{BEGIN CurrentStock_label}{$label creategrn_issue_rebuilt_use CurrentStock}{END CurrentStock_label}</span>
  <span class="rnr-control style3">{$CurrentStock_editcontrol}</span>
</div>
{END CurrentStock_fieldblock}
	{BEGIN Quantity_fieldblock}
<div data-fieldname="Quantity" class="rnr-field style1 {$fielddispclass_Quantity}">
  <span class="rnr-label">{BEGIN Quantity_label}{$label creategrn_issue_rebuilt_use Quantity}{END Quantity_label}</span>
  <span class="rnr-control style3">{$Quantity_editcontrol}</span>
</div>
{END Quantity_fieldblock}
	{BEGIN Cost_fieldblock}
<div data-fieldname="Cost" class="rnr-field style1 {$fielddispclass_Cost}">
  <span class="rnr-label">{BEGIN Cost_label}{$label creategrn_issue_rebuilt_use Cost}{END Cost_label}</span>
  <span class="rnr-control style3">{$Cost_editcontrol}</span>
</div>
{END Cost_fieldblock}
	{BEGIN SystemDate_fieldblock}
<div data-fieldname="SystemDate" class="rnr-field style1 {$fielddispclass_SystemDate}">
  <span class="rnr-label">{BEGIN SystemDate_label}{$label creategrn_issue_rebuilt_use SystemDate}{END SystemDate_label}</span>
  <span class="rnr-control style3">{$SystemDate_editcontrol}</span>
</div>
{END SystemDate_fieldblock}
	{BEGIN EnteredBy_fieldblock}
<div data-fieldname="EnteredBy" class="rnr-field style1 {$fielddispclass_EnteredBy}">
  <span class="rnr-label">{BEGIN EnteredBy_label}{$label creategrn_issue_rebuilt_use EnteredBy}{END EnteredBy_label}</span>
  <span class="rnr-control style3">{$EnteredBy_editcontrol}</span>
</div>
{END EnteredBy_fieldblock}
	{BEGIN ApprovedBy_fieldblock}
<div data-fieldname="ApprovedBy" class="rnr-field style1 {$fielddispclass_ApprovedBy}">
  <span class="rnr-label">{BEGIN ApprovedBy_label}{$label creategrn_issue_rebuilt_use ApprovedBy}{END ApprovedBy_label}</span>
  <span class="rnr-control style3">{$ApprovedBy_editcontrol}</span>
</div>
{END ApprovedBy_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
