<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel creategrn_disposal_rebuild print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN ID_fieldheadercolumn}
			<th class="{$ID_class}" {$ID_style}  data-field="ID">
				{$label creategrn_disposal_rebuild ID}
			</th>
			{END ID_fieldheadercolumn}
			{BEGIN Status_fieldheadercolumn}
			<th class="{$Status_class}" {$Status_style}  data-field="Status">
				{$label creategrn_disposal_rebuild Status}
			</th>
			{END Status_fieldheadercolumn}
			{BEGIN Fleet_fieldheadercolumn}
			<th class="{$Fleet_class}" {$Fleet_style}  data-field="Fleet">
				{$label creategrn_disposal_rebuild Fleet}
			</th>
			{END Fleet_fieldheadercolumn}
			{BEGIN GRNDate_fieldheadercolumn}
			<th class="{$GRNDate_class}" {$GRNDate_style}  data-field="GRNDate">
				{$label creategrn_disposal_rebuild GRNDate}
			</th>
			{END GRNDate_fieldheadercolumn}
			{BEGIN ItemCode_fieldheadercolumn}
			<th class="{$ItemCode_class}" {$ItemCode_style}  data-field="ItemCode">
				{$label creategrn_disposal_rebuild ItemCode}
			</th>
			{END ItemCode_fieldheadercolumn}
			{BEGIN Quantity_fieldheadercolumn}
			<th class="{$Quantity_class}" {$Quantity_style}  data-field="Quantity">
				{$label creategrn_disposal_rebuild Quantity}
			</th>
			{END Quantity_fieldheadercolumn}
			{BEGIN Brand_fieldheadercolumn}
			<th class="{$Brand_class}" {$Brand_style}  data-field="Brand">
				{$label creategrn_disposal_rebuild Brand}
			</th>
			{END Brand_fieldheadercolumn}
			{BEGIN Description_fieldheadercolumn}
			<th class="{$Description_class}" {$Description_style}  data-field="Description">
				{$label creategrn_disposal_rebuild Description}
			</th>
			{END Description_fieldheadercolumn}
			{BEGIN Supplier_fieldheadercolumn}
			<th class="{$Supplier_class}" {$Supplier_style}  data-field="Supplier">
				{$label creategrn_disposal_rebuild Supplier}
			</th>
			{END Supplier_fieldheadercolumn}
			{BEGIN UnitPrice_fieldheadercolumn}
			<th class="{$UnitPrice_class}" {$UnitPrice_style}  data-field="UnitPrice">
				{$label creategrn_disposal_rebuild UnitPrice}
			</th>
			{END UnitPrice_fieldheadercolumn}
			{BEGIN ApprovedBy_fieldheadercolumn}
			<th class="{$ApprovedBy_class}" {$ApprovedBy_style}  data-field="ApprovedBy">
				{$label creategrn_disposal_rebuild ApprovedBy}
			</th>
			{END ApprovedBy_fieldheadercolumn}
			{BEGIN Cost_fieldheadercolumn}
			<th class="{$Cost_class}" {$Cost_style}  data-field="Cost">
				{$label creategrn_disposal_rebuild Cost}
			</th>
			{END Cost_fieldheadercolumn}
			{BEGIN EnteredBy_fieldheadercolumn}
			<th class="{$EnteredBy_class}" {$EnteredBy_style}  data-field="EnteredBy">
				{$label creategrn_disposal_rebuild EnteredBy}
			</th>
			{END EnteredBy_fieldheadercolumn}
			{BEGIN CurrentStock_fieldheadercolumn}
			<th class="{$CurrentStock_class}" {$CurrentStock_style}  data-field="CurrentStock">
				{$label creategrn_disposal_rebuild CurrentStock}
			</th>
			{END CurrentStock_fieldheadercolumn}
			{BEGIN SystemDate_fieldheadercolumn}
			<th class="{$SystemDate_class}" {$SystemDate_style}  data-field="SystemDate">
				{$label creategrn_disposal_rebuild SystemDate}
			</th>
			{END SystemDate_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN ID_fieldcolumn}
			<td  class="{$ID_class}" {$ID_style} {$recordattrs}>
				{$ID_value}
			</td>
			{END ID_fieldcolumn}
			{BEGIN Status_fieldcolumn}
			<td  class="{$Status_class}" {$Status_style} {$recordattrs}>
				{$Status_value}
			</td>
			{END Status_fieldcolumn}
			{BEGIN Fleet_fieldcolumn}
			<td  class="{$Fleet_class}" {$Fleet_style} {$recordattrs}>
				{$Fleet_value}
			</td>
			{END Fleet_fieldcolumn}
			{BEGIN GRNDate_fieldcolumn}
			<td  class="{$GRNDate_class}" {$GRNDate_style} {$recordattrs}>
				{$GRNDate_value}
			</td>
			{END GRNDate_fieldcolumn}
			{BEGIN ItemCode_fieldcolumn}
			<td  class="{$ItemCode_class}" {$ItemCode_style} {$recordattrs}>
				{$ItemCode_value}
			</td>
			{END ItemCode_fieldcolumn}
			{BEGIN Quantity_fieldcolumn}
			<td  class="{$Quantity_class}" {$Quantity_style} {$recordattrs}>
				{$Quantity_value}
			</td>
			{END Quantity_fieldcolumn}
			{BEGIN Brand_fieldcolumn}
			<td  class="{$Brand_class}" {$Brand_style} {$recordattrs}>
				{$Brand_value}
			</td>
			{END Brand_fieldcolumn}
			{BEGIN Description_fieldcolumn}
			<td  class="{$Description_class}" {$Description_style} {$recordattrs}>
				{$Description_value}
			</td>
			{END Description_fieldcolumn}
			{BEGIN Supplier_fieldcolumn}
			<td  class="{$Supplier_class}" {$Supplier_style} {$recordattrs}>
				{$Supplier_value}
			</td>
			{END Supplier_fieldcolumn}
			{BEGIN UnitPrice_fieldcolumn}
			<td  class="{$UnitPrice_class}" {$UnitPrice_style} {$recordattrs}>
				{$UnitPrice_value}
			</td>
			{END UnitPrice_fieldcolumn}
			{BEGIN ApprovedBy_fieldcolumn}
			<td  class="{$ApprovedBy_class}" {$ApprovedBy_style} {$recordattrs}>
				{$ApprovedBy_value}
			</td>
			{END ApprovedBy_fieldcolumn}
			{BEGIN Cost_fieldcolumn}
			<td  class="{$Cost_class}" {$Cost_style} {$recordattrs}>
				{$Cost_value}
			</td>
			{END Cost_fieldcolumn}
			{BEGIN EnteredBy_fieldcolumn}
			<td  class="{$EnteredBy_class}" {$EnteredBy_style} {$recordattrs}>
				{$EnteredBy_value}
			</td>
			{END EnteredBy_fieldcolumn}
			{BEGIN CurrentStock_fieldcolumn}
			<td  class="{$CurrentStock_class}" {$CurrentStock_style} {$recordattrs}>
				{$CurrentStock_value}
			</td>
			{END CurrentStock_fieldcolumn}
			{BEGIN SystemDate_fieldcolumn}
			<td  class="{$SystemDate_class}" {$SystemDate_style} {$recordattrs}>
				{$SystemDate_value}
			</td>
			{END SystemDate_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

{BEGIN totals_row}
	<tfoot>
		<tr class=" style1">
		{BEGIN totals_record}
			{BEGIN ID_fieldfootercolumn}
			<td>
						</td>
			{END ID_fieldfootercolumn}
			{BEGIN Status_fieldfootercolumn}
			<td>
						</td>
			{END Status_fieldfootercolumn}
			{BEGIN Fleet_fieldfootercolumn}
			<td>
						</td>
			{END Fleet_fieldfootercolumn}
			{BEGIN GRNDate_fieldfootercolumn}
			<td>
						</td>
			{END GRNDate_fieldfootercolumn}
			{BEGIN ItemCode_fieldfootercolumn}
			<td>
						</td>
			{END ItemCode_fieldfootercolumn}
			{BEGIN Quantity_fieldfootercolumn}
			<td>
						</td>
			{END Quantity_fieldfootercolumn}
			{BEGIN Brand_fieldfootercolumn}
			<td>
						</td>
			{END Brand_fieldfootercolumn}
			{BEGIN Description_fieldfootercolumn}
			<td>
						</td>
			{END Description_fieldfootercolumn}
			{BEGIN Supplier_fieldfootercolumn}
			<td>
						</td>
			{END Supplier_fieldfootercolumn}
			{BEGIN UnitPrice_fieldfootercolumn}
			<td>
						</td>
			{END UnitPrice_fieldfootercolumn}
			{BEGIN ApprovedBy_fieldfootercolumn}
			<td>
						</td>
			{END ApprovedBy_fieldfootercolumn}
			{BEGIN Cost_fieldfootercolumn}
			<td>
							{BEGIN Cost_showtotal}
									{mlang_message TOTAL}:
				{$Cost_total}
				{END Cost_showtotal}
			</td>
			{END Cost_fieldfootercolumn}
			{BEGIN EnteredBy_fieldfootercolumn}
			<td>
						</td>
			{END EnteredBy_fieldfootercolumn}
			{BEGIN CurrentStock_fieldfootercolumn}
			<td>
						</td>
			{END CurrentStock_fieldfootercolumn}
			{BEGIN SystemDate_fieldfootercolumn}
			<td>
						</td>
			{END SystemDate_fieldfootercolumn}
			{BEGIN endrecordtotals_block}
			<td class="rnr-cs"></td>
			{END endrecordtotals_block}
		{END totals_record}
		</tr>
	</tfoot>
{END totals_row}
</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
