<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel creategrn_receive add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Status_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Status}" data-fieldname="Status" data-signal-error-for="Status{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Status}">
		{BEGIN Status_label}{$label creategrn_receive Status}{END Status_label}
	</label>
	<div class="col-md-6" >
		{$Status_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Status">
		<div class="text-muted" >
		{$tooltip creategrn_receive Status}
		</div>
	</div>
</div>
</div>
{END Status_fieldblock}

			{BEGIN Fleet_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Fleet}" data-fieldname="Fleet" data-signal-error-for="Fleet{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Fleet}">
		{BEGIN Fleet_label}{$label creategrn_receive Fleet}{END Fleet_label}
	</label>
	<div class="col-md-6" >
		{$Fleet_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Fleet">
		<div class="text-muted" >
		{$tooltip creategrn_receive Fleet}
		</div>
	</div>
</div>
</div>
{END Fleet_fieldblock}

			{BEGIN GRNDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_GRNDate}" data-fieldname="GRNDate" data-signal-error-for="GRNDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_GRNDate}">
		{BEGIN GRNDate_label}{$label creategrn_receive GRNDate}{END GRNDate_label}
	</label>
	<div class="col-md-6" >
		{$GRNDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="GRNDate">
		<div class="text-muted" >
		{$tooltip creategrn_receive GRNDate}
		</div>
	</div>
</div>
</div>
{END GRNDate_fieldblock}

			{BEGIN ItemCode_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ItemCode}" data-fieldname="ItemCode" data-signal-error-for="ItemCode{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ItemCode}">
		{BEGIN ItemCode_label}{$label creategrn_receive ItemCode}{END ItemCode_label}
	</label>
	<div class="col-md-6" >
		{$ItemCode_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ItemCode">
		<div class="text-muted" >
		{$tooltip creategrn_receive ItemCode}
		</div>
	</div>
</div>
</div>
{END ItemCode_fieldblock}

			{BEGIN UnitPrice_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_UnitPrice}" data-fieldname="UnitPrice" data-signal-error-for="UnitPrice{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_UnitPrice}">
		{BEGIN UnitPrice_label}{$label creategrn_receive UnitPrice}{END UnitPrice_label}
	</label>
	<div class="col-md-6" >
		{$UnitPrice_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="UnitPrice">
		<div class="text-muted" >
		{$tooltip creategrn_receive UnitPrice}
		</div>
	</div>
</div>
</div>
{END UnitPrice_fieldblock}

			{BEGIN Quantity_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Quantity}" data-fieldname="Quantity" data-signal-error-for="Quantity{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Quantity}">
		{BEGIN Quantity_label}{$label creategrn_receive Quantity}{END Quantity_label}
	</label>
	<div class="col-md-6" >
		{$Quantity_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Quantity">
		<div class="text-muted" >
		{$tooltip creategrn_receive Quantity}
		</div>
	</div>
</div>
</div>
{END Quantity_fieldblock}

			{BEGIN RefNumber_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RefNumber}" data-fieldname="RefNumber" data-signal-error-for="RefNumber{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RefNumber}">
		{BEGIN RefNumber_label}{$label creategrn_receive RefNumber}{END RefNumber_label}
	</label>
	<div class="col-md-6" >
		{$RefNumber_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RefNumber">
		<div class="text-muted" >
		{$tooltip creategrn_receive RefNumber}
		</div>
	</div>
</div>
</div>
{END RefNumber_fieldblock}

			{BEGIN Brand_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Brand}" data-fieldname="Brand" data-signal-error-for="Brand{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Brand}">
		{BEGIN Brand_label}{$label creategrn_receive Brand}{END Brand_label}
	</label>
	<div class="col-md-6" >
		{$Brand_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Brand">
		<div class="text-muted" >
		{$tooltip creategrn_receive Brand}
		</div>
	</div>
</div>
</div>
{END Brand_fieldblock}

			{BEGIN Description_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Description}" data-fieldname="Description" data-signal-error-for="Description{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Description}">
		{BEGIN Description_label}{$label creategrn_receive Description}{END Description_label}
	</label>
	<div class="col-md-6" >
		{$Description_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Description">
		<div class="text-muted" >
		{$tooltip creategrn_receive Description}
		</div>
	</div>
</div>
</div>
{END Description_fieldblock}

			{BEGIN Supplier_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Supplier}" data-fieldname="Supplier" data-signal-error-for="Supplier{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Supplier}">
		{BEGIN Supplier_label}{$label creategrn_receive Supplier}{END Supplier_label}
	</label>
	<div class="col-md-6" >
		{$Supplier_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Supplier">
		<div class="text-muted" >
		{$tooltip creategrn_receive Supplier}
		</div>
	</div>
</div>
</div>
{END Supplier_fieldblock}

			{BEGIN SystemDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SystemDate}" data-fieldname="SystemDate" data-signal-error-for="SystemDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SystemDate}">
		{BEGIN SystemDate_label}{$label creategrn_receive SystemDate}{END SystemDate_label}
	</label>
	<div class="col-md-6" >
		{$SystemDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SystemDate">
		<div class="text-muted" >
		{$tooltip creategrn_receive SystemDate}
		</div>
	</div>
</div>
</div>
{END SystemDate_fieldblock}

			{BEGIN Cost_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Cost}" data-fieldname="Cost" data-signal-error-for="Cost{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Cost}">
		{BEGIN Cost_label}{$label creategrn_receive Cost}{END Cost_label}
	</label>
	<div class="col-md-6" >
		{$Cost_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Cost">
		<div class="text-muted" >
		{$tooltip creategrn_receive Cost}
		</div>
	</div>
</div>
</div>
{END Cost_fieldblock}

			{BEGIN EnteredBy_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy" data-signal-error-for="EnteredBy{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EnteredBy}">
		{BEGIN EnteredBy_label}{$label creategrn_receive EnteredBy}{END EnteredBy_label}
	</label>
	<div class="col-md-6" >
		{$EnteredBy_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EnteredBy">
		<div class="text-muted" >
		{$tooltip creategrn_receive EnteredBy}
		</div>
	</div>
</div>
</div>
{END EnteredBy_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
