<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel Dashboard search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_ID}">
	{BEGIN vehiclemaster_ID_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_ID}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_ID_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_ID}
	</td>
	<td>
		{$vehiclemaster_ID_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_ID_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_ID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_RegNo}">
	{BEGIN vehiclemaster_RegNo_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_RegNo}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_RegNo_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_RegNo}
	</td>
	<td>
		{$vehiclemaster_RegNo_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_RegNo_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_RegNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Fleet}">
	{BEGIN vehiclemaster_Fleet_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Fleet}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Fleet_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Fleet}
	</td>
	<td>
		{$vehiclemaster_Fleet_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Fleet_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Fleet_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Type}">
	{BEGIN vehiclemaster_Type_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Type}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Type_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Type}
	</td>
	<td>
		{$vehiclemaster_Type_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Type_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Type_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_RegDate}">
	{BEGIN vehiclemaster_RegDate_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_RegDate}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_RegDate_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_RegDate}
	</td>
	<td>
		{$vehiclemaster_RegDate_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_RegDate_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_RegDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Cost}">
	{BEGIN vehiclemaster_Cost_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Cost}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Cost_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Cost}
	</td>
	<td>
		{$vehiclemaster_Cost_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Cost_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Cost_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_DriverAsigned}">
	{BEGIN vehiclemaster_DriverAsigned_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_DriverAsigned}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_DriverAsigned_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_DriverAsigned}
	</td>
	<td>
		{$vehiclemaster_DriverAsigned_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_DriverAsigned_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_DriverAsigned_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Make}">
	{BEGIN vehiclemaster_Make_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Make}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Make_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Make}
	</td>
	<td>
		{$vehiclemaster_Make_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Make_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Make_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Model}">
	{BEGIN vehiclemaster_Model_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Model}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Model_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Model}
	</td>
	<td>
		{$vehiclemaster_Model_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Model_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Model_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_InsuranceDue}">
	{BEGIN vehiclemaster_InsuranceDue_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_InsuranceDue}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_InsuranceDue_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_InsuranceDue}
	</td>
	<td>
		{$vehiclemaster_InsuranceDue_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_InsuranceDue_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_InsuranceDue_fieldblock}
	</tr>
	<tr class="{$fielddispclass_vehiclemaster_Last_Mileage}">
	{BEGIN vehiclemaster_Last_Mileage_fieldblock}		
	<td>
		{$label Dashboard vehiclemaster_Last_Mileage}
	</td>
	<td>
		<input type="checkbox" {$vehiclemaster_Last_Mileage_notbox}>
	</td>
	<td>
		{$searchtype_vehiclemaster_Last_Mileage}
	</td>
	<td>
		{$vehiclemaster_Last_Mileage_editcontrol}&nbsp;
	</td>
	<td>
		{$vehiclemaster_Last_Mileage_editcontrol1}&nbsp;
	</td>
{END vehiclemaster_Last_Mileage_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to Dashboard</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
