<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="FuelDate">
	{$FuelDate_editcontrol}
	</control>
	<control 
	field="Fleet">
	{$Fleet_editcontrol}
	</control>
	<control 
	field="Vehicle">
	{$Vehicle_editcontrol}
	</control>
	<control 
	field="FuelStation">
	{$FuelStation_editcontrol}
	</control>
	<control 
	field="MeterReading">
	{$MeterReading_editcontrol}
	</control>
	<control 
	field="LitersPumped">
	{$LitersPumped_editcontrol}
	</control>
	<control 
	field="PricePerLiter">
	{$PricePerLiter_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
