<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel fuelmaster print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN Id_fieldheadercolumn}
			<th class="{$Id_class}" {$Id_style}  data-field="Id">
				{$label fuelmaster Id}
			</th>
			{END Id_fieldheadercolumn}
			{BEGIN SystemDate_fieldheadercolumn}
			<th class="{$SystemDate_class}" {$SystemDate_style}  data-field="SystemDate">
				{$label fuelmaster SystemDate}
			</th>
			{END SystemDate_fieldheadercolumn}
			{BEGIN Fleet_fieldheadercolumn}
			<th class="{$Fleet_class}" {$Fleet_style}  data-field="Fleet">
				{$label fuelmaster Fleet}
			</th>
			{END Fleet_fieldheadercolumn}
			{BEGIN FuelDate_fieldheadercolumn}
			<th class="{$FuelDate_class}" {$FuelDate_style}  data-field="FuelDate">
				{$label fuelmaster FuelDate}
			</th>
			{END FuelDate_fieldheadercolumn}
			{BEGIN Vehicle_fieldheadercolumn}
			<th class="{$Vehicle_class}" {$Vehicle_style}  data-field="Vehicle">
				{$label fuelmaster Vehicle}
			</th>
			{END Vehicle_fieldheadercolumn}
			{BEGIN Driver_fieldheadercolumn}
			<th class="{$Driver_class}" {$Driver_style}  data-field="Driver">
				{$label fuelmaster Driver}
			</th>
			{END Driver_fieldheadercolumn}
			{BEGIN CouponNo_fieldheadercolumn}
			<th class="{$CouponNo_class}" {$CouponNo_style}  data-field="CouponNo">
				{$label fuelmaster CouponNo}
			</th>
			{END CouponNo_fieldheadercolumn}
			{BEGIN FuelStation_fieldheadercolumn}
			<th class="{$FuelStation_class}" {$FuelStation_style}  data-field="FuelStation">
				{$label fuelmaster FuelStation}
			</th>
			{END FuelStation_fieldheadercolumn}
			{BEGIN MeterReading_fieldheadercolumn}
			<th class="{$MeterReading_class}" {$MeterReading_style}  data-field="MeterReading">
				{$label fuelmaster MeterReading}
			</th>
			{END MeterReading_fieldheadercolumn}
			{BEGIN LitersPumped_fieldheadercolumn}
			<th class="{$LitersPumped_class}" {$LitersPumped_style}  data-field="LitersPumped">
				{$label fuelmaster LitersPumped}
			</th>
			{END LitersPumped_fieldheadercolumn}
			{BEGIN FillType_fieldheadercolumn}
			<th class="{$FillType_class}" {$FillType_style}  data-field="FillType">
				{$label fuelmaster FillType}
			</th>
			{END FillType_fieldheadercolumn}
			{BEGIN PricePerLiter_fieldheadercolumn}
			<th class="{$PricePerLiter_class}" {$PricePerLiter_style}  data-field="PricePerLiter">
				{$label fuelmaster PricePerLiter}
			</th>
			{END PricePerLiter_fieldheadercolumn}
			{BEGIN Cost_fieldheadercolumn}
			<th class="{$Cost_class}" {$Cost_style}  data-field="Cost">
				{$label fuelmaster Cost}
			</th>
			{END Cost_fieldheadercolumn}
			{BEGIN LastMileage_fieldheadercolumn}
			<th class="{$LastMileage_class}" {$LastMileage_style}  data-field="LastMileage">
				{$label fuelmaster LastMileage}
			</th>
			{END LastMileage_fieldheadercolumn}
			{BEGIN Economy_fieldheadercolumn}
			<th class="{$Economy_class}" {$Economy_style}  data-field="Economy">
				{$label fuelmaster Economy}
			</th>
			{END Economy_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN Id_fieldcolumn}
			<td  class="{$Id_class}" {$Id_style} {$recordattrs}>
				{$Id_value}
			</td>
			{END Id_fieldcolumn}
			{BEGIN SystemDate_fieldcolumn}
			<td  class="{$SystemDate_class}" {$SystemDate_style} {$recordattrs}>
				{$SystemDate_value}
			</td>
			{END SystemDate_fieldcolumn}
			{BEGIN Fleet_fieldcolumn}
			<td  class="{$Fleet_class}" {$Fleet_style} {$recordattrs}>
				{$Fleet_value}
			</td>
			{END Fleet_fieldcolumn}
			{BEGIN FuelDate_fieldcolumn}
			<td  class="{$FuelDate_class}" {$FuelDate_style} {$recordattrs}>
				{$FuelDate_value}
			</td>
			{END FuelDate_fieldcolumn}
			{BEGIN Vehicle_fieldcolumn}
			<td  class="{$Vehicle_class}" {$Vehicle_style} {$recordattrs}>
				{$Vehicle_value}
			</td>
			{END Vehicle_fieldcolumn}
			{BEGIN Driver_fieldcolumn}
			<td  class="{$Driver_class}" {$Driver_style} {$recordattrs}>
				{$Driver_value}
			</td>
			{END Driver_fieldcolumn}
			{BEGIN CouponNo_fieldcolumn}
			<td  class="{$CouponNo_class}" {$CouponNo_style} {$recordattrs}>
				{$CouponNo_value}
			</td>
			{END CouponNo_fieldcolumn}
			{BEGIN FuelStation_fieldcolumn}
			<td  class="{$FuelStation_class}" {$FuelStation_style} {$recordattrs}>
				{$FuelStation_value}
			</td>
			{END FuelStation_fieldcolumn}
			{BEGIN MeterReading_fieldcolumn}
			<td  class="{$MeterReading_class}" {$MeterReading_style} {$recordattrs}>
				{$MeterReading_value}
			</td>
			{END MeterReading_fieldcolumn}
			{BEGIN LitersPumped_fieldcolumn}
			<td  class="{$LitersPumped_class}" {$LitersPumped_style} {$recordattrs}>
				{$LitersPumped_value}
			</td>
			{END LitersPumped_fieldcolumn}
			{BEGIN FillType_fieldcolumn}
			<td  class="{$FillType_class}" {$FillType_style} {$recordattrs}>
				{$FillType_value}
			</td>
			{END FillType_fieldcolumn}
			{BEGIN PricePerLiter_fieldcolumn}
			<td  class="{$PricePerLiter_class}" {$PricePerLiter_style} {$recordattrs}>
				{$PricePerLiter_value}
			</td>
			{END PricePerLiter_fieldcolumn}
			{BEGIN Cost_fieldcolumn}
			<td  class="{$Cost_class}" {$Cost_style} {$recordattrs}>
				{$Cost_value}
			</td>
			{END Cost_fieldcolumn}
			{BEGIN LastMileage_fieldcolumn}
			<td  class="{$LastMileage_class}" {$LastMileage_style} {$recordattrs}>
				{$LastMileage_value}
			</td>
			{END LastMileage_fieldcolumn}
			{BEGIN Economy_fieldcolumn}
			<td  class="{$Economy_class}" {$Economy_style} {$recordattrs}>
				{$Economy_value}
			</td>
			{END Economy_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

{BEGIN totals_row}
	<tfoot>
		<tr class=" style1">
		{BEGIN totals_record}
			{BEGIN Id_fieldfootercolumn}
			<td>
						</td>
			{END Id_fieldfootercolumn}
			{BEGIN SystemDate_fieldfootercolumn}
			<td>
						</td>
			{END SystemDate_fieldfootercolumn}
			{BEGIN Fleet_fieldfootercolumn}
			<td>
						</td>
			{END Fleet_fieldfootercolumn}
			{BEGIN FuelDate_fieldfootercolumn}
			<td>
						</td>
			{END FuelDate_fieldfootercolumn}
			{BEGIN Vehicle_fieldfootercolumn}
			<td>
						</td>
			{END Vehicle_fieldfootercolumn}
			{BEGIN Driver_fieldfootercolumn}
			<td>
						</td>
			{END Driver_fieldfootercolumn}
			{BEGIN CouponNo_fieldfootercolumn}
			<td>
						</td>
			{END CouponNo_fieldfootercolumn}
			{BEGIN FuelStation_fieldfootercolumn}
			<td>
						</td>
			{END FuelStation_fieldfootercolumn}
			{BEGIN MeterReading_fieldfootercolumn}
			<td>
						</td>
			{END MeterReading_fieldfootercolumn}
			{BEGIN LitersPumped_fieldfootercolumn}
			<td>
							{BEGIN LitersPumped_showtotal}
									{mlang_message TOTAL}:
				{$LitersPumped_total}
				{END LitersPumped_showtotal}
			</td>
			{END LitersPumped_fieldfootercolumn}
			{BEGIN FillType_fieldfootercolumn}
			<td>
						</td>
			{END FillType_fieldfootercolumn}
			{BEGIN PricePerLiter_fieldfootercolumn}
			<td>
						</td>
			{END PricePerLiter_fieldfootercolumn}
			{BEGIN Cost_fieldfootercolumn}
			<td>
							{BEGIN Cost_showtotal}
									{mlang_message TOTAL}:
				{$Cost_total}
				{END Cost_showtotal}
			</td>
			{END Cost_fieldfootercolumn}
			{BEGIN LastMileage_fieldfootercolumn}
			<td>
						</td>
			{END LastMileage_fieldfootercolumn}
			{BEGIN Economy_fieldfootercolumn}
			<td>
							{BEGIN Economy_showtotal}
									{mlang_message AVERAGE}:
				{$Economy_total}
				{END Economy_showtotal}
			</td>
			{END Economy_fieldfootercolumn}
			{BEGIN endrecordtotals_block}
			<td class="rnr-cs"></td>
			{END endrecordtotals_block}
		{END totals_record}
		</tr>
	</tfoot>
{END totals_row}
</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
