<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel fuelmaster add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Fleet_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Fleet}" data-fieldname="Fleet" data-signal-error-for="Fleet{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Fleet}">
		{BEGIN Fleet_label}{$label fuelmaster Fleet}{END Fleet_label}
	</label>
	<div class="col-md-6" >
		{$Fleet_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Fleet">
		<div class="text-muted" >
		{$tooltip fuelmaster Fleet}
		</div>
	</div>
</div>
</div>
{END Fleet_fieldblock}

			{BEGIN Vehicle_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Vehicle}" data-fieldname="Vehicle" data-signal-error-for="Vehicle{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Vehicle}">
		{BEGIN Vehicle_label}{$label fuelmaster Vehicle}{END Vehicle_label}
	</label>
	<div class="col-md-6" >
		{$Vehicle_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Vehicle">
		<div class="text-muted" >
		{$tooltip fuelmaster Vehicle}
		</div>
	</div>
</div>
</div>
{END Vehicle_fieldblock}

			{BEGIN CouponNo_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CouponNo}" data-fieldname="CouponNo" data-signal-error-for="CouponNo{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CouponNo}">
		{BEGIN CouponNo_label}{$label fuelmaster CouponNo}{END CouponNo_label}
	</label>
	<div class="col-md-6" >
		{$CouponNo_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CouponNo">
		<div class="text-muted" >
		{$tooltip fuelmaster CouponNo}
		</div>
	</div>
</div>
</div>
{END CouponNo_fieldblock}

			{BEGIN FuelDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FuelDate}" data-fieldname="FuelDate" data-signal-error-for="FuelDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FuelDate}">
		{BEGIN FuelDate_label}{$label fuelmaster FuelDate}{END FuelDate_label}
	</label>
	<div class="col-md-6" >
		{$FuelDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FuelDate">
		<div class="text-muted" >
		{$tooltip fuelmaster FuelDate}
		</div>
	</div>
</div>
</div>
{END FuelDate_fieldblock}

			{BEGIN FuelStation_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FuelStation}" data-fieldname="FuelStation" data-signal-error-for="FuelStation{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FuelStation}">
		{BEGIN FuelStation_label}{$label fuelmaster FuelStation}{END FuelStation_label}
	</label>
	<div class="col-md-6" >
		{$FuelStation_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FuelStation">
		<div class="text-muted" >
		{$tooltip fuelmaster FuelStation}
		</div>
	</div>
</div>
</div>
{END FuelStation_fieldblock}

			{BEGIN MeterReading_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_MeterReading}" data-fieldname="MeterReading" data-signal-error-for="MeterReading{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_MeterReading}">
		{BEGIN MeterReading_label}{$label fuelmaster MeterReading}{END MeterReading_label}
	</label>
	<div class="col-md-6" >
		{$MeterReading_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="MeterReading">
		<div class="text-muted" >
		{$tooltip fuelmaster MeterReading}
		</div>
	</div>
</div>
</div>
{END MeterReading_fieldblock}

			{BEGIN LitersPumped_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LitersPumped}" data-fieldname="LitersPumped" data-signal-error-for="LitersPumped{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LitersPumped}">
		{BEGIN LitersPumped_label}{$label fuelmaster LitersPumped}{END LitersPumped_label}
	</label>
	<div class="col-md-6" >
		{$LitersPumped_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LitersPumped">
		<div class="text-muted" >
		{$tooltip fuelmaster LitersPumped}
		</div>
	</div>
</div>
</div>
{END LitersPumped_fieldblock}

			{BEGIN PricePerLiter_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PricePerLiter}" data-fieldname="PricePerLiter" data-signal-error-for="PricePerLiter{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PricePerLiter}">
		{BEGIN PricePerLiter_label}{$label fuelmaster PricePerLiter}{END PricePerLiter_label}
	</label>
	<div class="col-md-6" >
		{$PricePerLiter_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PricePerLiter">
		<div class="text-muted" >
		{$tooltip fuelmaster PricePerLiter}
		</div>
	</div>
</div>
</div>
{END PricePerLiter_fieldblock}

			{BEGIN FillType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FillType}" data-fieldname="FillType" data-signal-error-for="FillType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FillType}">
		{BEGIN FillType_label}{$label fuelmaster FillType}{END FillType_label}
	</label>
	<div class="col-md-6" >
		{$FillType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FillType">
		<div class="text-muted" >
		{$tooltip fuelmaster FillType}
		</div>
	</div>
</div>
</div>
{END FillType_fieldblock}

			{BEGIN LastMileage_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LastMileage}" data-fieldname="LastMileage" data-signal-error-for="LastMileage{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LastMileage}">
		{BEGIN LastMileage_label}{$label fuelmaster LastMileage}{END LastMileage_label}
	</label>
	<div class="col-md-6" >
		{$LastMileage_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LastMileage">
		<div class="text-muted" >
		{$tooltip fuelmaster LastMileage}
		</div>
	</div>
</div>
</div>
{END LastMileage_fieldblock}

			{BEGIN Driver_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Driver}" data-fieldname="Driver" data-signal-error-for="Driver{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Driver}">
		{BEGIN Driver_label}{$label fuelmaster Driver}{END Driver_label}
	</label>
	<div class="col-md-6" >
		{$Driver_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Driver">
		<div class="text-muted" >
		{$tooltip fuelmaster Driver}
		</div>
	</div>
</div>
</div>
{END Driver_fieldblock}

			{BEGIN SystemDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SystemDate}" data-fieldname="SystemDate" data-signal-error-for="SystemDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SystemDate}">
		{BEGIN SystemDate_label}{$label fuelmaster SystemDate}{END SystemDate_label}
	</label>
	<div class="col-md-6" >
		{$SystemDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SystemDate">
		<div class="text-muted" >
		{$tooltip fuelmaster SystemDate}
		</div>
	</div>
</div>
</div>
{END SystemDate_fieldblock}

			{BEGIN Economy_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Economy}" data-fieldname="Economy" data-signal-error-for="Economy{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Economy}">
		{BEGIN Economy_label}{$label fuelmaster Economy}{END Economy_label}
	</label>
	<div class="col-md-6" >
		{$Economy_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Economy">
		<div class="text-muted" >
		{$tooltip fuelmaster Economy}
		</div>
	</div>
</div>
</div>
{END Economy_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
