<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel fuelmaster_Chart3 search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Id}">
	{BEGIN Id_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 Id}
	</td>
	<td>
		<input type="checkbox" {$Id_notbox}>
	</td>
	<td>
		{$searchtype_Id}
	</td>
	<td>
		{$Id_editcontrol}&nbsp;
	</td>
	<td>
		{$Id_editcontrol1}&nbsp;
	</td>
{END Id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_SystemDate}">
	{BEGIN SystemDate_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 SystemDate}
	</td>
	<td>
		<input type="checkbox" {$SystemDate_notbox}>
	</td>
	<td>
		{$searchtype_SystemDate}
	</td>
	<td>
		{$SystemDate_editcontrol}&nbsp;
	</td>
	<td>
		{$SystemDate_editcontrol1}&nbsp;
	</td>
{END SystemDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FuelDate}">
	{BEGIN FuelDate_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 FuelDate}
	</td>
	<td>
		<input type="checkbox" {$FuelDate_notbox}>
	</td>
	<td>
		{$searchtype_FuelDate}
	</td>
	<td>
		{$FuelDate_editcontrol}&nbsp;
	</td>
	<td>
		{$FuelDate_editcontrol1}&nbsp;
	</td>
{END FuelDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Vehicle}">
	{BEGIN Vehicle_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 Vehicle}
	</td>
	<td>
		<input type="checkbox" {$Vehicle_notbox}>
	</td>
	<td>
		{$searchtype_Vehicle}
	</td>
	<td>
		{$Vehicle_editcontrol}&nbsp;
	</td>
	<td>
		{$Vehicle_editcontrol1}&nbsp;
	</td>
{END Vehicle_fieldblock}
	</tr>
	<tr class="{$fielddispclass_MeterReading}">
	{BEGIN MeterReading_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 MeterReading}
	</td>
	<td>
		<input type="checkbox" {$MeterReading_notbox}>
	</td>
	<td>
		{$searchtype_MeterReading}
	</td>
	<td>
		{$MeterReading_editcontrol}&nbsp;
	</td>
	<td>
		{$MeterReading_editcontrol1}&nbsp;
	</td>
{END MeterReading_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LitersPumped}">
	{BEGIN LitersPumped_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 LitersPumped}
	</td>
	<td>
		<input type="checkbox" {$LitersPumped_notbox}>
	</td>
	<td>
		{$searchtype_LitersPumped}
	</td>
	<td>
		{$LitersPumped_editcontrol}&nbsp;
	</td>
	<td>
		{$LitersPumped_editcontrol1}&nbsp;
	</td>
{END LitersPumped_fieldblock}
	</tr>
	<tr class="{$fielddispclass_PricePerLiter}">
	{BEGIN PricePerLiter_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 PricePerLiter}
	</td>
	<td>
		<input type="checkbox" {$PricePerLiter_notbox}>
	</td>
	<td>
		{$searchtype_PricePerLiter}
	</td>
	<td>
		{$PricePerLiter_editcontrol}&nbsp;
	</td>
	<td>
		{$PricePerLiter_editcontrol1}&nbsp;
	</td>
{END PricePerLiter_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FuelStation}">
	{BEGIN FuelStation_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 FuelStation}
	</td>
	<td>
		<input type="checkbox" {$FuelStation_notbox}>
	</td>
	<td>
		{$searchtype_FuelStation}
	</td>
	<td>
		{$FuelStation_editcontrol}&nbsp;
	</td>
	<td>
		{$FuelStation_editcontrol1}&nbsp;
	</td>
{END FuelStation_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Fleet}">
	{BEGIN Fleet_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 Fleet}
	</td>
	<td>
		<input type="checkbox" {$Fleet_notbox}>
	</td>
	<td>
		{$searchtype_Fleet}
	</td>
	<td>
		{$Fleet_editcontrol}&nbsp;
	</td>
	<td>
		{$Fleet_editcontrol1}&nbsp;
	</td>
{END Fleet_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LastMileage}">
	{BEGIN LastMileage_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 LastMileage}
	</td>
	<td>
		<input type="checkbox" {$LastMileage_notbox}>
	</td>
	<td>
		{$searchtype_LastMileage}
	</td>
	<td>
		{$LastMileage_editcontrol}&nbsp;
	</td>
	<td>
		{$LastMileage_editcontrol1}&nbsp;
	</td>
{END LastMileage_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Economy}">
	{BEGIN Economy_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 Economy}
	</td>
	<td>
		<input type="checkbox" {$Economy_notbox}>
	</td>
	<td>
		{$searchtype_Economy}
	</td>
	<td>
		{$Economy_editcontrol}&nbsp;
	</td>
	<td>
		{$Economy_editcontrol1}&nbsp;
	</td>
{END Economy_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FillType}">
	{BEGIN FillType_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 FillType}
	</td>
	<td>
		<input type="checkbox" {$FillType_notbox}>
	</td>
	<td>
		{$searchtype_FillType}
	</td>
	<td>
		{$FillType_editcontrol}&nbsp;
	</td>
	<td>
		{$FillType_editcontrol1}&nbsp;
	</td>
{END FillType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CouponNo}">
	{BEGIN CouponNo_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 CouponNo}
	</td>
	<td>
		<input type="checkbox" {$CouponNo_notbox}>
	</td>
	<td>
		{$searchtype_CouponNo}
	</td>
	<td>
		{$CouponNo_editcontrol}&nbsp;
	</td>
	<td>
		{$CouponNo_editcontrol1}&nbsp;
	</td>
{END CouponNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Driver}">
	{BEGIN Driver_fieldblock}		
	<td>
		{$label fuelmaster_Chart3 Driver}
	</td>
	<td>
		<input type="checkbox" {$Driver_notbox}>
	</td>
	<td>
		{$searchtype_Driver}
	</td>
	<td>
		{$Driver_editcontrol}&nbsp;
	</td>
	<td>
		{$Driver_editcontrol1}&nbsp;
	</td>
{END Driver_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
