<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel fuelmaster search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Id_fieldblock}		
	<div class="container {$fielddispclass_Id}" data-fieldname="Id">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Id}
			</div>
			<div class="col-md-2" >
				{$searchtype_Id}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol1}
			</div>
		</div>
	</div>
{END Id_fieldblock}
	{BEGIN SystemDate_fieldblock}		
	<div class="container {$fielddispclass_SystemDate}" data-fieldname="SystemDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster SystemDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SystemDate}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol1}
			</div>
		</div>
	</div>
{END SystemDate_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN FuelDate_fieldblock}		
	<div class="container {$fielddispclass_FuelDate}" data-fieldname="FuelDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster FuelDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_FuelDate}
			</div>
			<div class="col-md-4" >
				{$FuelDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FuelDate_editcontrol1}
			</div>
		</div>
	</div>
{END FuelDate_fieldblock}
	{BEGIN Vehicle_fieldblock}		
	<div class="container {$fielddispclass_Vehicle}" data-fieldname="Vehicle">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Vehicle}
			</div>
			<div class="col-md-2" >
				{$searchtype_Vehicle}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol1}
			</div>
		</div>
	</div>
{END Vehicle_fieldblock}
	{BEGIN Driver_fieldblock}		
	<div class="container {$fielddispclass_Driver}" data-fieldname="Driver">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Driver}
			</div>
			<div class="col-md-2" >
				{$searchtype_Driver}
			</div>
			<div class="col-md-4" >
				{$Driver_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Driver_editcontrol1}
			</div>
		</div>
	</div>
{END Driver_fieldblock}
	{BEGIN CouponNo_fieldblock}		
	<div class="container {$fielddispclass_CouponNo}" data-fieldname="CouponNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster CouponNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_CouponNo}
			</div>
			<div class="col-md-4" >
				{$CouponNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CouponNo_editcontrol1}
			</div>
		</div>
	</div>
{END CouponNo_fieldblock}
	{BEGIN FuelStation_fieldblock}		
	<div class="container {$fielddispclass_FuelStation}" data-fieldname="FuelStation">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster FuelStation}
			</div>
			<div class="col-md-2" >
				{$searchtype_FuelStation}
			</div>
			<div class="col-md-4" >
				{$FuelStation_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FuelStation_editcontrol1}
			</div>
		</div>
	</div>
{END FuelStation_fieldblock}
	{BEGIN MeterReading_fieldblock}		
	<div class="container {$fielddispclass_MeterReading}" data-fieldname="MeterReading">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster MeterReading}
			</div>
			<div class="col-md-2" >
				{$searchtype_MeterReading}
			</div>
			<div class="col-md-4" >
				{$MeterReading_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MeterReading_editcontrol1}
			</div>
		</div>
	</div>
{END MeterReading_fieldblock}
	{BEGIN LitersPumped_fieldblock}		
	<div class="container {$fielddispclass_LitersPumped}" data-fieldname="LitersPumped">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster LitersPumped}
			</div>
			<div class="col-md-2" >
				{$searchtype_LitersPumped}
			</div>
			<div class="col-md-4" >
				{$LitersPumped_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LitersPumped_editcontrol1}
			</div>
		</div>
	</div>
{END LitersPumped_fieldblock}
	{BEGIN FillType_fieldblock}		
	<div class="container {$fielddispclass_FillType}" data-fieldname="FillType">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster FillType}
			</div>
			<div class="col-md-2" >
				{$searchtype_FillType}
			</div>
			<div class="col-md-4" >
				{$FillType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FillType_editcontrol1}
			</div>
		</div>
	</div>
{END FillType_fieldblock}
	{BEGIN PricePerLiter_fieldblock}		
	<div class="container {$fielddispclass_PricePerLiter}" data-fieldname="PricePerLiter">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster PricePerLiter}
			</div>
			<div class="col-md-2" >
				{$searchtype_PricePerLiter}
			</div>
			<div class="col-md-4" >
				{$PricePerLiter_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PricePerLiter_editcontrol1}
			</div>
		</div>
	</div>
{END PricePerLiter_fieldblock}
	{BEGIN Cost_fieldblock}		
	<div class="container {$fielddispclass_Cost}" data-fieldname="Cost">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Cost}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_fieldblock}
	{BEGIN LastMileage_fieldblock}		
	<div class="container {$fielddispclass_LastMileage}" data-fieldname="LastMileage">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster LastMileage}
			</div>
			<div class="col-md-2" >
				{$searchtype_LastMileage}
			</div>
			<div class="col-md-4" >
				{$LastMileage_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LastMileage_editcontrol1}
			</div>
		</div>
	</div>
{END LastMileage_fieldblock}
	{BEGIN Economy_fieldblock}		
	<div class="container {$fielddispclass_Economy}" data-fieldname="Economy">
		<div class="form-group">
			<div class="col-md-2">
				{$label fuelmaster Economy}
			</div>
			<div class="col-md-2" >
				{$searchtype_Economy}
			</div>
			<div class="col-md-4" >
				{$Economy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Economy_editcontrol1}
			</div>
		</div>
	</div>
{END Economy_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
