<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel fuelstationmaster print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN Id_fieldheadercolumn}
			<th class="{$Id_class}" {$Id_style}  data-field="Id">
				{$label fuelstationmaster Id}
			</th>
			{END Id_fieldheadercolumn}
			{BEGIN FuelStation_fieldheadercolumn}
			<th class="{$FuelStation_class}" {$FuelStation_style}  data-field="FuelStation">
				{$label fuelstationmaster FuelStation}
			</th>
			{END FuelStation_fieldheadercolumn}
			{BEGIN Address_fieldheadercolumn}
			<th class="{$Address_class}" {$Address_style}  data-field="Address">
				{$label fuelstationmaster Address}
			</th>
			{END Address_fieldheadercolumn}
			{BEGIN ContactNumber_fieldheadercolumn}
			<th class="{$ContactNumber_class}" {$ContactNumber_style}  data-field="ContactNumber">
				{$label fuelstationmaster ContactNumber}
			</th>
			{END ContactNumber_fieldheadercolumn}
			{BEGIN Deposit_fieldheadercolumn}
			<th class="{$Deposit_class}" {$Deposit_style}  data-field="Deposit">
				{$label fuelstationmaster Deposit}
			</th>
			{END Deposit_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN Id_fieldcolumn}
			<td  class="{$Id_class}" {$Id_style} {$recordattrs}>
				{$Id_value}
			</td>
			{END Id_fieldcolumn}
			{BEGIN FuelStation_fieldcolumn}
			<td  class="{$FuelStation_class}" {$FuelStation_style} {$recordattrs}>
				{$FuelStation_value}
			</td>
			{END FuelStation_fieldcolumn}
			{BEGIN Address_fieldcolumn}
			<td  class="{$Address_class}" {$Address_style} {$recordattrs}>
				{$Address_value}
			</td>
			{END Address_fieldcolumn}
			{BEGIN ContactNumber_fieldcolumn}
			<td  class="{$ContactNumber_class}" {$ContactNumber_style} {$recordattrs}>
				{$ContactNumber_value}
			</td>
			{END ContactNumber_fieldcolumn}
			{BEGIN Deposit_fieldcolumn}
			<td  class="{$Deposit_class}" {$Deposit_style} {$recordattrs}>
				{$Deposit_value}
			</td>
			{END Deposit_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
