<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel fuelstationmaster add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN FuelStation_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FuelStation}" data-fieldname="FuelStation" data-signal-error-for="FuelStation{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FuelStation}">
		{BEGIN FuelStation_label}{$label fuelstationmaster FuelStation}{END FuelStation_label}
	</label>
	<div class="col-md-6" >
		{$FuelStation_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FuelStation">
		<div class="text-muted" >
		{$tooltip fuelstationmaster FuelStation}
		</div>
	</div>
</div>
</div>
{END FuelStation_fieldblock}

			{BEGIN Address_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Address}" data-fieldname="Address" data-signal-error-for="Address{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Address}">
		{BEGIN Address_label}{$label fuelstationmaster Address}{END Address_label}
	</label>
	<div class="col-md-6" >
		{$Address_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Address">
		<div class="text-muted" >
		{$tooltip fuelstationmaster Address}
		</div>
	</div>
</div>
</div>
{END Address_fieldblock}

			{BEGIN ContactNumber_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ContactNumber}" data-fieldname="ContactNumber" data-signal-error-for="ContactNumber{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ContactNumber}">
		{BEGIN ContactNumber_label}{$label fuelstationmaster ContactNumber}{END ContactNumber_label}
	</label>
	<div class="col-md-6" >
		{$ContactNumber_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ContactNumber">
		<div class="text-muted" >
		{$tooltip fuelstationmaster ContactNumber}
		</div>
	</div>
</div>
</div>
{END ContactNumber_fieldblock}

			{BEGIN Deposit_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Deposit}" data-fieldname="Deposit" data-signal-error-for="Deposit{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Deposit}">
		{BEGIN Deposit_label}{$label fuelstationmaster Deposit}{END Deposit_label}
	</label>
	<div class="col-md-6" >
		{$Deposit_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Deposit">
		<div class="text-muted" >
		{$tooltip fuelstationmaster Deposit}
		</div>
	</div>
</div>
</div>
{END Deposit_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
