<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel insurance_payments print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN Fleet_fieldheadercolumn}
			<th class="{$Fleet_class}" {$Fleet_style}  data-field="Fleet">
				{$label insurance_payments Fleet}
			</th>
			{END Fleet_fieldheadercolumn}
			{BEGIN Id_fieldheadercolumn}
			<th class="{$Id_class}" {$Id_style}  data-field="Id">
				{$label insurance_payments Id}
			</th>
			{END Id_fieldheadercolumn}
			{BEGIN VehicleNo_fieldheadercolumn}
			<th class="{$VehicleNo_class}" {$VehicleNo_style}  data-field="VehicleNo">
				{$label insurance_payments VehicleNo}
			</th>
			{END VehicleNo_fieldheadercolumn}
			{BEGIN Type_fieldheadercolumn}
			<th class="{$Type_class}" {$Type_style}  data-field="Type">
				{$label insurance_payments Type}
			</th>
			{END Type_fieldheadercolumn}
			{BEGIN RenewalDueDate_fieldheadercolumn}
			<th class="{$RenewalDueDate_class}" {$RenewalDueDate_style}  data-field="RenewalDueDate">
				{$label insurance_payments RenewalDueDate}
			</th>
			{END RenewalDueDate_fieldheadercolumn}
			{BEGIN Insurer_fieldheadercolumn}
			<th class="{$Insurer_class}" {$Insurer_style}  data-field="Insurer">
				{$label insurance_payments Insurer}
			</th>
			{END Insurer_fieldheadercolumn}
			{BEGIN Premium_fieldheadercolumn}
			<th class="{$Premium_class}" {$Premium_style}  data-field="Premium">
				{$label insurance_payments Premium}
			</th>
			{END Premium_fieldheadercolumn}
			{BEGIN From_fieldheadercolumn}
			<th class="{$From_class}" {$From_style}  data-field="From">
				{$label insurance_payments From}
			</th>
			{END From_fieldheadercolumn}
			{BEGIN To_fieldheadercolumn}
			<th class="{$To_class}" {$To_style}  data-field="To">
				{$label insurance_payments To}
			</th>
			{END To_fieldheadercolumn}
			{BEGIN DateofPayment_fieldheadercolumn}
			<th class="{$DateofPayment_class}" {$DateofPayment_style}  data-field="DateofPayment">
				{$label insurance_payments DateofPayment}
			</th>
			{END DateofPayment_fieldheadercolumn}
			{BEGIN PaymentVoucher_fieldheadercolumn}
			<th class="{$PaymentVoucher_class}" {$PaymentVoucher_style}  data-field="PaymentVoucher">
				{$label insurance_payments PaymentVoucher}
			</th>
			{END PaymentVoucher_fieldheadercolumn}
			{BEGIN SysDate_fieldheadercolumn}
			<th class="{$SysDate_class}" {$SysDate_style}  data-field="SysDate">
				{$label insurance_payments SysDate}
			</th>
			{END SysDate_fieldheadercolumn}
			{BEGIN EnteredBy_fieldheadercolumn}
			<th class="{$EnteredBy_class}" {$EnteredBy_style}  data-field="EnteredBy">
				{$label insurance_payments EnteredBy}
			</th>
			{END EnteredBy_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN Fleet_fieldcolumn}
			<td  class="{$Fleet_class}" {$Fleet_style} {$recordattrs}>
				{$Fleet_value}
			</td>
			{END Fleet_fieldcolumn}
			{BEGIN Id_fieldcolumn}
			<td  class="{$Id_class}" {$Id_style} {$recordattrs}>
				{$Id_value}
			</td>
			{END Id_fieldcolumn}
			{BEGIN VehicleNo_fieldcolumn}
			<td  class="{$VehicleNo_class}" {$VehicleNo_style} {$recordattrs}>
				{$VehicleNo_value}
			</td>
			{END VehicleNo_fieldcolumn}
			{BEGIN Type_fieldcolumn}
			<td  class="{$Type_class}" {$Type_style} {$recordattrs}>
				{$Type_value}
			</td>
			{END Type_fieldcolumn}
			{BEGIN RenewalDueDate_fieldcolumn}
			<td  class="{$RenewalDueDate_class}" {$RenewalDueDate_style} {$recordattrs}>
				{$RenewalDueDate_value}
			</td>
			{END RenewalDueDate_fieldcolumn}
			{BEGIN Insurer_fieldcolumn}
			<td  class="{$Insurer_class}" {$Insurer_style} {$recordattrs}>
				{$Insurer_value}
			</td>
			{END Insurer_fieldcolumn}
			{BEGIN Premium_fieldcolumn}
			<td  class="{$Premium_class}" {$Premium_style} {$recordattrs}>
				{$Premium_value}
			</td>
			{END Premium_fieldcolumn}
			{BEGIN From_fieldcolumn}
			<td  class="{$From_class}" {$From_style} {$recordattrs}>
				{$From_value}
			</td>
			{END From_fieldcolumn}
			{BEGIN To_fieldcolumn}
			<td  class="{$To_class}" {$To_style} {$recordattrs}>
				{$To_value}
			</td>
			{END To_fieldcolumn}
			{BEGIN DateofPayment_fieldcolumn}
			<td  class="{$DateofPayment_class}" {$DateofPayment_style} {$recordattrs}>
				{$DateofPayment_value}
			</td>
			{END DateofPayment_fieldcolumn}
			{BEGIN PaymentVoucher_fieldcolumn}
			<td  class="{$PaymentVoucher_class}" {$PaymentVoucher_style} {$recordattrs}>
				{$PaymentVoucher_value}
			</td>
			{END PaymentVoucher_fieldcolumn}
			{BEGIN SysDate_fieldcolumn}
			<td  class="{$SysDate_class}" {$SysDate_style} {$recordattrs}>
				{$SysDate_value}
			</td>
			{END SysDate_fieldcolumn}
			{BEGIN EnteredBy_fieldcolumn}
			<td  class="{$EnteredBy_class}" {$EnteredBy_style} {$recordattrs}>
				{$EnteredBy_value}
			</td>
			{END EnteredBy_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
