<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel insuranceclaims search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Date_fieldblock}		
	<div class="container {$fielddispclass_Date}" data-fieldname="Date">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Date}
			</div>
			<div class="col-md-2" >
				{$searchtype_Date}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol1}
			</div>
		</div>
	</div>
{END Date_fieldblock}
	{BEGIN Id_fieldblock}		
	<div class="container {$fielddispclass_Id}" data-fieldname="Id">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Id}
			</div>
			<div class="col-md-2" >
				{$searchtype_Id}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol1}
			</div>
		</div>
	</div>
{END Id_fieldblock}
	{BEGIN SysDate_fieldblock}		
	<div class="container {$fielddispclass_SysDate}" data-fieldname="SysDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims SysDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SysDate}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol1}
			</div>
		</div>
	</div>
{END SysDate_fieldblock}
	{BEGIN VehicleNo_fieldblock}		
	<div class="container {$fielddispclass_VehicleNo}" data-fieldname="VehicleNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims VehicleNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_VehicleNo}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol1}
			</div>
		</div>
	</div>
{END VehicleNo_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}		
	<div class="container {$fielddispclass_Type}" data-fieldname="Type">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Type}
			</div>
			<div class="col-md-2" >
				{$searchtype_Type}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol1}
			</div>
		</div>
	</div>
{END Type_fieldblock}
	{BEGIN AccidentDate_fieldblock}		
	<div class="container {$fielddispclass_AccidentDate}" data-fieldname="AccidentDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims AccidentDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_AccidentDate}
			</div>
			<div class="col-md-4" >
				{$AccidentDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AccidentDate_editcontrol1}
			</div>
		</div>
	</div>
{END AccidentDate_fieldblock}
	{BEGIN insurer_fieldblock}		
	<div class="container {$fielddispclass_insurer}" data-fieldname="insurer">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims insurer}
			</div>
			<div class="col-md-2" >
				{$searchtype_insurer}
			</div>
			<div class="col-md-4" >
				{$insurer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$insurer_editcontrol1}
			</div>
		</div>
	</div>
{END insurer_fieldblock}
	{BEGIN Claim_fieldblock}		
	<div class="container {$fielddispclass_Claim}" data-fieldname="Claim">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Claim}
			</div>
			<div class="col-md-2" >
				{$searchtype_Claim}
			</div>
			<div class="col-md-4" >
				{$Claim_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Claim_editcontrol1}
			</div>
		</div>
	</div>
{END Claim_fieldblock}
	{BEGIN ReceiptNo_fieldblock}		
	<div class="container {$fielddispclass_ReceiptNo}" data-fieldname="ReceiptNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims ReceiptNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_ReceiptNo}
			</div>
			<div class="col-md-4" >
				{$ReceiptNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ReceiptNo_editcontrol1}
			</div>
		</div>
	</div>
{END ReceiptNo_fieldblock}
	{BEGIN Remarks_fieldblock}		
	<div class="container {$fielddispclass_Remarks}" data-fieldname="Remarks">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims Remarks}
			</div>
			<div class="col-md-2" >
				{$searchtype_Remarks}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol1}
			</div>
		</div>
	</div>
{END Remarks_fieldblock}
	{BEGIN EnteredBy_fieldblock}		
	<div class="container {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy">
		<div class="form-group">
			<div class="col-md-2">
				{$label insuranceclaims EnteredBy}
			</div>
			<div class="col-md-2" >
				{$searchtype_EnteredBy}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol1}
			</div>
		</div>
	</div>
{END EnteredBy_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
