<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel insurance_payments search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN VehicleNo_fieldblock}		
	<div class="container {$fielddispclass_VehicleNo}" data-fieldname="VehicleNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments VehicleNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_VehicleNo}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol1}
			</div>
		</div>
	</div>
{END VehicleNo_fieldblock}
	{BEGIN Type_fieldblock}		
	<div class="container {$fielddispclass_Type}" data-fieldname="Type">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments Type}
			</div>
			<div class="col-md-2" >
				{$searchtype_Type}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol1}
			</div>
		</div>
	</div>
{END Type_fieldblock}
	{BEGIN RenewalDueDate_fieldblock}		
	<div class="container {$fielddispclass_RenewalDueDate}" data-fieldname="RenewalDueDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments RenewalDueDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_RenewalDueDate}
			</div>
			<div class="col-md-4" >
				{$RenewalDueDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RenewalDueDate_editcontrol1}
			</div>
		</div>
	</div>
{END RenewalDueDate_fieldblock}
	{BEGIN Insurer_fieldblock}		
	<div class="container {$fielddispclass_Insurer}" data-fieldname="Insurer">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments Insurer}
			</div>
			<div class="col-md-2" >
				{$searchtype_Insurer}
			</div>
			<div class="col-md-4" >
				{$Insurer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Insurer_editcontrol1}
			</div>
		</div>
	</div>
{END Insurer_fieldblock}
	{BEGIN Premium_fieldblock}		
	<div class="container {$fielddispclass_Premium}" data-fieldname="Premium">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments Premium}
			</div>
			<div class="col-md-2" >
				{$searchtype_Premium}
			</div>
			<div class="col-md-4" >
				{$Premium_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Premium_editcontrol1}
			</div>
		</div>
	</div>
{END Premium_fieldblock}
	{BEGIN From_fieldblock}		
	<div class="container {$fielddispclass_From}" data-fieldname="From">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments From}
			</div>
			<div class="col-md-2" >
				{$searchtype_From}
			</div>
			<div class="col-md-4" >
				{$From_editcontrol}
			</div>
			<div class="col-md-4" >
				{$From_editcontrol1}
			</div>
		</div>
	</div>
{END From_fieldblock}
	{BEGIN To_fieldblock}		
	<div class="container {$fielddispclass_To}" data-fieldname="To">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments To}
			</div>
			<div class="col-md-2" >
				{$searchtype_To}
			</div>
			<div class="col-md-4" >
				{$To_editcontrol}
			</div>
			<div class="col-md-4" >
				{$To_editcontrol1}
			</div>
		</div>
	</div>
{END To_fieldblock}
	{BEGIN DateofPayment_fieldblock}		
	<div class="container {$fielddispclass_DateofPayment}" data-fieldname="DateofPayment">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments DateofPayment}
			</div>
			<div class="col-md-2" >
				{$searchtype_DateofPayment}
			</div>
			<div class="col-md-4" >
				{$DateofPayment_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DateofPayment_editcontrol1}
			</div>
		</div>
	</div>
{END DateofPayment_fieldblock}
	{BEGIN PaymentVoucher_fieldblock}		
	<div class="container {$fielddispclass_PaymentVoucher}" data-fieldname="PaymentVoucher">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments PaymentVoucher}
			</div>
			<div class="col-md-2" >
				{$searchtype_PaymentVoucher}
			</div>
			<div class="col-md-4" >
				{$PaymentVoucher_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentVoucher_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentVoucher_fieldblock}
	{BEGIN SysDate_fieldblock}		
	<div class="container {$fielddispclass_SysDate}" data-fieldname="SysDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments SysDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SysDate}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol1}
			</div>
		</div>
	</div>
{END SysDate_fieldblock}
	{BEGIN EnteredBy_fieldblock}		
	<div class="container {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy">
		<div class="form-group">
			<div class="col-md-2">
				{$label insurance_payments EnteredBy}
			</div>
			<div class="col-md-2" >
				{$searchtype_EnteredBy}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol1}
			</div>
		</div>
	</div>
{END EnteredBy_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
