<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel insurance_payments search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Fleet}">
	{BEGIN Fleet_fieldblock}		
	<td>
		{$label insurance_payments Fleet}
	</td>
	<td>
		<input type="checkbox" {$Fleet_notbox}>
	</td>
	<td>
		{$searchtype_Fleet}
	</td>
	<td>
		{$Fleet_editcontrol}&nbsp;
	</td>
	<td>
		{$Fleet_editcontrol1}&nbsp;
	</td>
{END Fleet_fieldblock}
	</tr>
	<tr class="{$fielddispclass_VehicleNo}">
	{BEGIN VehicleNo_fieldblock}		
	<td>
		{$label insurance_payments VehicleNo}
	</td>
	<td>
		<input type="checkbox" {$VehicleNo_notbox}>
	</td>
	<td>
		{$searchtype_VehicleNo}
	</td>
	<td>
		{$VehicleNo_editcontrol}&nbsp;
	</td>
	<td>
		{$VehicleNo_editcontrol1}&nbsp;
	</td>
{END VehicleNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Type}">
	{BEGIN Type_fieldblock}		
	<td>
		{$label insurance_payments Type}
	</td>
	<td>
		<input type="checkbox" {$Type_notbox}>
	</td>
	<td>
		{$searchtype_Type}
	</td>
	<td>
		{$Type_editcontrol}&nbsp;
	</td>
	<td>
		{$Type_editcontrol1}&nbsp;
	</td>
{END Type_fieldblock}
	</tr>
	<tr class="{$fielddispclass_RenewalDueDate}">
	{BEGIN RenewalDueDate_fieldblock}		
	<td>
		{$label insurance_payments RenewalDueDate}
	</td>
	<td>
		<input type="checkbox" {$RenewalDueDate_notbox}>
	</td>
	<td>
		{$searchtype_RenewalDueDate}
	</td>
	<td>
		{$RenewalDueDate_editcontrol}&nbsp;
	</td>
	<td>
		{$RenewalDueDate_editcontrol1}&nbsp;
	</td>
{END RenewalDueDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Insurer}">
	{BEGIN Insurer_fieldblock}		
	<td>
		{$label insurance_payments Insurer}
	</td>
	<td>
		<input type="checkbox" {$Insurer_notbox}>
	</td>
	<td>
		{$searchtype_Insurer}
	</td>
	<td>
		{$Insurer_editcontrol}&nbsp;
	</td>
	<td>
		{$Insurer_editcontrol1}&nbsp;
	</td>
{END Insurer_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Premium}">
	{BEGIN Premium_fieldblock}		
	<td>
		{$label insurance_payments Premium}
	</td>
	<td>
		<input type="checkbox" {$Premium_notbox}>
	</td>
	<td>
		{$searchtype_Premium}
	</td>
	<td>
		{$Premium_editcontrol}&nbsp;
	</td>
	<td>
		{$Premium_editcontrol1}&nbsp;
	</td>
{END Premium_fieldblock}
	</tr>
	<tr class="{$fielddispclass_From}">
	{BEGIN From_fieldblock}		
	<td>
		{$label insurance_payments From}
	</td>
	<td>
		<input type="checkbox" {$From_notbox}>
	</td>
	<td>
		{$searchtype_From}
	</td>
	<td>
		{$From_editcontrol}&nbsp;
	</td>
	<td>
		{$From_editcontrol1}&nbsp;
	</td>
{END From_fieldblock}
	</tr>
	<tr class="{$fielddispclass_To}">
	{BEGIN To_fieldblock}		
	<td>
		{$label insurance_payments To}
	</td>
	<td>
		<input type="checkbox" {$To_notbox}>
	</td>
	<td>
		{$searchtype_To}
	</td>
	<td>
		{$To_editcontrol}&nbsp;
	</td>
	<td>
		{$To_editcontrol1}&nbsp;
	</td>
{END To_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DateofPayment}">
	{BEGIN DateofPayment_fieldblock}		
	<td>
		{$label insurance_payments DateofPayment}
	</td>
	<td>
		<input type="checkbox" {$DateofPayment_notbox}>
	</td>
	<td>
		{$searchtype_DateofPayment}
	</td>
	<td>
		{$DateofPayment_editcontrol}&nbsp;
	</td>
	<td>
		{$DateofPayment_editcontrol1}&nbsp;
	</td>
{END DateofPayment_fieldblock}
	</tr>
	<tr class="{$fielddispclass_PaymentVoucher}">
	{BEGIN PaymentVoucher_fieldblock}		
	<td>
		{$label insurance_payments PaymentVoucher}
	</td>
	<td>
		<input type="checkbox" {$PaymentVoucher_notbox}>
	</td>
	<td>
		{$searchtype_PaymentVoucher}
	</td>
	<td>
		{$PaymentVoucher_editcontrol}&nbsp;
	</td>
	<td>
		{$PaymentVoucher_editcontrol1}&nbsp;
	</td>
{END PaymentVoucher_fieldblock}
	</tr>
	<tr class="{$fielddispclass_SysDate}">
	{BEGIN SysDate_fieldblock}		
	<td>
		{$label insurance_payments SysDate}
	</td>
	<td>
		<input type="checkbox" {$SysDate_notbox}>
	</td>
	<td>
		{$searchtype_SysDate}
	</td>
	<td>
		{$SysDate_editcontrol}&nbsp;
	</td>
	<td>
		{$SysDate_editcontrol1}&nbsp;
	</td>
{END SysDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_EnteredBy}">
	{BEGIN EnteredBy_fieldblock}		
	<td>
		{$label insurance_payments EnteredBy}
	</td>
	<td>
		<input type="checkbox" {$EnteredBy_notbox}>
	</td>
	<td>
		{$searchtype_EnteredBy}
	</td>
	<td>
		{$EnteredBy_editcontrol}&nbsp;
	</td>
	<td>
		{$EnteredBy_editcontrol1}&nbsp;
	</td>
{END EnteredBy_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
