<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel insuranceclaims add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Fleet_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Fleet}" data-fieldname="Fleet" data-signal-error-for="Fleet{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Fleet}">
		{BEGIN Fleet_label}{$label insuranceclaims Fleet}{END Fleet_label}
	</label>
	<div class="col-md-6" >
		{$Fleet_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Fleet">
		<div class="text-muted" >
		{$tooltip insuranceclaims Fleet}
		</div>
	</div>
</div>
</div>
{END Fleet_fieldblock}

			{BEGIN VehicleNo_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VehicleNo}" data-fieldname="VehicleNo" data-signal-error-for="VehicleNo{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VehicleNo}">
		{BEGIN VehicleNo_label}{$label insuranceclaims VehicleNo}{END VehicleNo_label}
	</label>
	<div class="col-md-6" >
		{$VehicleNo_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VehicleNo">
		<div class="text-muted" >
		{$tooltip insuranceclaims VehicleNo}
		</div>
	</div>
</div>
</div>
{END VehicleNo_fieldblock}

			{BEGIN Type_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Type}" data-fieldname="Type" data-signal-error-for="Type{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Type}">
		{BEGIN Type_label}{$label insuranceclaims Type}{END Type_label}
	</label>
	<div class="col-md-6" >
		{$Type_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Type">
		<div class="text-muted" >
		{$tooltip insuranceclaims Type}
		</div>
	</div>
</div>
</div>
{END Type_fieldblock}

			{BEGIN Date_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Date}" data-fieldname="Date" data-signal-error-for="Date{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Date}">
		{BEGIN Date_label}{$label insuranceclaims Date}{END Date_label}
	</label>
	<div class="col-md-6" >
		{$Date_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Date">
		<div class="text-muted" >
		{$tooltip insuranceclaims Date}
		</div>
	</div>
</div>
</div>
{END Date_fieldblock}

			{BEGIN AccidentDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AccidentDate}" data-fieldname="AccidentDate" data-signal-error-for="AccidentDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AccidentDate}">
		{BEGIN AccidentDate_label}{$label insuranceclaims AccidentDate}{END AccidentDate_label}
	</label>
	<div class="col-md-6" >
		{$AccidentDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AccidentDate">
		<div class="text-muted" >
		{$tooltip insuranceclaims AccidentDate}
		</div>
	</div>
</div>
</div>
{END AccidentDate_fieldblock}

			{BEGIN insurer_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_insurer}" data-fieldname="insurer" data-signal-error-for="insurer{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_insurer}">
		{BEGIN insurer_label}{$label insuranceclaims insurer}{END insurer_label}
	</label>
	<div class="col-md-6" >
		{$insurer_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="insurer">
		<div class="text-muted" >
		{$tooltip insuranceclaims insurer}
		</div>
	</div>
</div>
</div>
{END insurer_fieldblock}

			{BEGIN Claim_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Claim}" data-fieldname="Claim" data-signal-error-for="Claim{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Claim}">
		{BEGIN Claim_label}{$label insuranceclaims Claim}{END Claim_label}
	</label>
	<div class="col-md-6" >
		{$Claim_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Claim">
		<div class="text-muted" >
		{$tooltip insuranceclaims Claim}
		</div>
	</div>
</div>
</div>
{END Claim_fieldblock}

			{BEGIN ReceiptNo_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ReceiptNo}" data-fieldname="ReceiptNo" data-signal-error-for="ReceiptNo{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ReceiptNo}">
		{BEGIN ReceiptNo_label}{$label insuranceclaims ReceiptNo}{END ReceiptNo_label}
	</label>
	<div class="col-md-6" >
		{$ReceiptNo_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ReceiptNo">
		<div class="text-muted" >
		{$tooltip insuranceclaims ReceiptNo}
		</div>
	</div>
</div>
</div>
{END ReceiptNo_fieldblock}

			{BEGIN Remarks_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Remarks}" data-fieldname="Remarks" data-signal-error-for="Remarks{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label insuranceclaims Remarks}{END Remarks_label}
	</label>
	<div class="col-md-6" >
		{$Remarks_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip insuranceclaims Remarks}
		</div>
	</div>
</div>
</div>
{END Remarks_fieldblock}

			{BEGIN EnteredBy_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy" data-signal-error-for="EnteredBy{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EnteredBy}">
		{BEGIN EnteredBy_label}{$label insuranceclaims EnteredBy}{END EnteredBy_label}
	</label>
	<div class="col-md-6" >
		{$EnteredBy_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EnteredBy">
		<div class="text-muted" >
		{$tooltip insuranceclaims EnteredBy}
		</div>
	</div>
</div>
</div>
{END EnteredBy_fieldblock}

			{BEGIN SysDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SysDate}" data-fieldname="SysDate" data-signal-error-for="SysDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SysDate}">
		{BEGIN SysDate_label}{$label insuranceclaims SysDate}{END SysDate_label}
	</label>
	<div class="col-md-6" >
		{$SysDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SysDate">
		<div class="text-muted" >
		{$tooltip insuranceclaims SysDate}
		</div>
	</div>
</div>
</div>
{END SysDate_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
