<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_pdf} rnr-wrapper rnr-cbw-pdf">

{BEGIN container_pdf}
<div class="rnr-c rnr-cv rnr-c-pdf">


<div  class="rnr-brickcontents style1 rnr-b-viewpdf {$brickclass_viewpdf}">{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button" {$pdflink_attrs}>PDF View</a>
{END pdflink_block}

</div>


</div>
{END container_pdf}

</div>



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel insurance_payments_report view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN SysDate_fieldblock}
<div data-fieldname="SysDate" class="rnr-field style1 {$fielddispclass_SysDate}">
  <span class="rnr-label">{$label insurance_payments_report SysDate}:</span>
  <span class="rnr-control style3">{$SysDate_value}</span>
</div>
{END SysDate_fieldblock}
	{BEGIN Id_fieldblock}
<div data-fieldname="Id" class="rnr-field style1 {$fielddispclass_Id}">
  <span class="rnr-label">{$label insurance_payments_report Id}:</span>
  <span class="rnr-control style3">{$Id_value}</span>
</div>
{END Id_fieldblock}
	{BEGIN VehicleNo_fieldblock}
<div data-fieldname="VehicleNo" class="rnr-field style1 {$fielddispclass_VehicleNo}">
  <span class="rnr-label">{$label insurance_payments_report VehicleNo}:</span>
  <span class="rnr-control style3">{$VehicleNo_value}</span>
</div>
{END VehicleNo_fieldblock}
	{BEGIN Fleet_fieldblock}
<div data-fieldname="Fleet" class="rnr-field style1 {$fielddispclass_Fleet}">
  <span class="rnr-label">{$label insurance_payments_report Fleet}:</span>
  <span class="rnr-control style3">{$Fleet_value}</span>
</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}
<div data-fieldname="Type" class="rnr-field style1 {$fielddispclass_Type}">
  <span class="rnr-label">{$label insurance_payments_report Type}:</span>
  <span class="rnr-control style3">{$Type_value}</span>
</div>
{END Type_fieldblock}
	{BEGIN Insurer_fieldblock}
<div data-fieldname="Insurer" class="rnr-field style1 {$fielddispclass_Insurer}">
  <span class="rnr-label">{$label insurance_payments_report Insurer}:</span>
  <span class="rnr-control style3">{$Insurer_value}</span>
</div>
{END Insurer_fieldblock}
</td>
<td>
	{BEGIN RenewalDueDate_fieldblock}
<div data-fieldname="RenewalDueDate" class="rnr-field style1 {$fielddispclass_RenewalDueDate}">
  <span class="rnr-label">{$label insurance_payments_report RenewalDueDate}:</span>
  <span class="rnr-control style3">{$RenewalDueDate_value}</span>
</div>
{END RenewalDueDate_fieldblock}
	{BEGIN Premium_fieldblock}
<div data-fieldname="Premium" class="rnr-field style1 {$fielddispclass_Premium}">
  <span class="rnr-label">{$label insurance_payments_report Premium}:</span>
  <span class="rnr-control style3">{$Premium_value}</span>
</div>
{END Premium_fieldblock}
	{BEGIN DateofPayment_fieldblock}
<div data-fieldname="DateofPayment" class="rnr-field style1 {$fielddispclass_DateofPayment}">
  <span class="rnr-label">{$label insurance_payments_report DateofPayment}:</span>
  <span class="rnr-control style3">{$DateofPayment_value}</span>
</div>
{END DateofPayment_fieldblock}
	{BEGIN PaymentVoucher_fieldblock}
<div data-fieldname="PaymentVoucher" class="rnr-field style1 {$fielddispclass_PaymentVoucher}">
  <span class="rnr-label">{$label insurance_payments_report PaymentVoucher}:</span>
  <span class="rnr-control style3">{$PaymentVoucher_value}</span>
</div>
{END PaymentVoucher_fieldblock}
	{BEGIN EnteredBy_fieldblock}
<div data-fieldname="EnteredBy" class="rnr-field style1 {$fielddispclass_EnteredBy}">
  <span class="rnr-label">{$label insurance_payments_report EnteredBy}:</span>
  <span class="rnr-control style3">{$EnteredBy_value}</span>
</div>
{END EnteredBy_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
