<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}
{BEGIN pdflink_block}
<a href="#" class="pdflink btn btn-default" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a>
{END pdflink_block}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel inventorymaster_pricing5 print}</h2>

{END printheader}


{BEGIN page_number}
<span>{mlang_message PAGE1} <span class="rp-pageno">{$pageno}</span> {mlang_message PAGE2} <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN ItemID_fieldheadercolumn}
			<th class="{$ItemID_class}" {$ItemID_style}  data-field="ItemID">
				{$label inventorymaster_pricing5 ItemID}
			</th>
			{END ItemID_fieldheadercolumn}
			{BEGIN Brand_fieldheadercolumn}
			<th class="{$Brand_class}" {$Brand_style}  data-field="Brand">
				{$label inventorymaster_pricing5 Brand}
			</th>
			{END Brand_fieldheadercolumn}
			{BEGIN Description_fieldheadercolumn}
			<th class="{$Description_class}" {$Description_style}  data-field="Description">
				{$label inventorymaster_pricing5 Description}
			</th>
			{END Description_fieldheadercolumn}
			{BEGIN Supplier_fieldheadercolumn}
			<th class="{$Supplier_class}" {$Supplier_style}  data-field="Supplier">
				{$label inventorymaster_pricing5 Supplier}
			</th>
			{END Supplier_fieldheadercolumn}
			{BEGIN UnitPrice_fieldheadercolumn}
			<th class="{$UnitPrice_class}" {$UnitPrice_style}  data-field="UnitPrice">
				{$label inventorymaster_pricing5 UnitPrice}
			</th>
			{END UnitPrice_fieldheadercolumn}
			{BEGIN GRNDate_fieldheadercolumn}
			<th class="{$GRNDate_class}" {$GRNDate_style}  data-field="GRNDate">
				{$label inventorymaster_pricing5 GRNDate}
			</th>
			{END GRNDate_fieldheadercolumn}
			{BEGIN ID1_fieldheadercolumn}
			<th class="{$ID1_class}" {$ID1_style}  data-field="ID1">
				{$label inventorymaster_pricing5 ID1}
			</th>
			{END ID1_fieldheadercolumn}
			{BEGIN Status_fieldheadercolumn}
			<th class="{$Status_class}" {$Status_style}  data-field="Status">
				{$label inventorymaster_pricing5 Status}
			</th>
			{END Status_fieldheadercolumn}
			{BEGIN creategrn_ID_fieldheadercolumn}
			<th class="{$creategrn_ID_class}" {$creategrn_ID_style}  data-field="creategrn_ID">
				{$label inventorymaster_pricing5 creategrn_ID}
			</th>
			{END creategrn_ID_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN ItemID_fieldcolumn}
			<td  class="{$ItemID_class}" {$ItemID_style} {$recordattrs}>
				{$ItemID_value}
			</td>
			{END ItemID_fieldcolumn}
			{BEGIN Brand_fieldcolumn}
			<td  class="{$Brand_class}" {$Brand_style} {$recordattrs}>
				{$Brand_value}
			</td>
			{END Brand_fieldcolumn}
			{BEGIN Description_fieldcolumn}
			<td  class="{$Description_class}" {$Description_style} {$recordattrs}>
				{$Description_value}
			</td>
			{END Description_fieldcolumn}
			{BEGIN Supplier_fieldcolumn}
			<td  class="{$Supplier_class}" {$Supplier_style} {$recordattrs}>
				{$Supplier_value}
			</td>
			{END Supplier_fieldcolumn}
			{BEGIN UnitPrice_fieldcolumn}
			<td  class="{$UnitPrice_class}" {$UnitPrice_style} {$recordattrs}>
				{$UnitPrice_value}
			</td>
			{END UnitPrice_fieldcolumn}
			{BEGIN GRNDate_fieldcolumn}
			<td  class="{$GRNDate_class}" {$GRNDate_style} {$recordattrs}>
				{$GRNDate_value}
			</td>
			{END GRNDate_fieldcolumn}
			{BEGIN ID1_fieldcolumn}
			<td  class="{$ID1_class}" {$ID1_style} {$recordattrs}>
				{$ID1_value}
			</td>
			{END ID1_fieldcolumn}
			{BEGIN Status_fieldcolumn}
			<td  class="{$Status_class}" {$Status_style} {$recordattrs}>
				{$Status_value}
			</td>
			{END Status_fieldcolumn}
			{BEGIN creategrn_ID_fieldcolumn}
			<td  class="{$creategrn_ID_class}" {$creategrn_ID_style} {$recordattrs}>
				{$creategrn_ID_value}
			</td>
			{END creategrn_ID_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
