<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_pdf} rnr-wrapper rnr-cbw-pdf">

{BEGIN container_pdf}
<div class="rnr-c rnr-cv rnr-c-pdf">


<div  class="rnr-brickcontents style1 rnr-b-viewpdf {$brickclass_viewpdf}">{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button" {$pdflink_attrs}>PDF View</a>
{END pdflink_block}

</div>


</div>
{END container_pdf}

</div>



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel inventorymaster_subone view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN ItemID_fieldblock}
<div data-fieldname="ItemID" class="rnr-field style1 {$fielddispclass_ItemID}">
  <span class="rnr-label">{$label inventorymaster_subone ItemID}:</span>
  <span class="rnr-control style3">{$ItemID_value}</span>
</div>
{END ItemID_fieldblock}
	{BEGIN Brand_fieldblock}
<div data-fieldname="Brand" class="rnr-field style1 {$fielddispclass_Brand}">
  <span class="rnr-label">{$label inventorymaster_subone Brand}:</span>
  <span class="rnr-control style3">{$Brand_value}</span>
</div>
{END Brand_fieldblock}
	{BEGIN Description_fieldblock}
<div data-fieldname="Description" class="rnr-field style1 {$fielddispclass_Description}">
  <span class="rnr-label">{$label inventorymaster_subone Description}:</span>
  <span class="rnr-control style3">{$Description_value}</span>
</div>
{END Description_fieldblock}
	{BEGIN Supplier_fieldblock}
<div data-fieldname="Supplier" class="rnr-field style1 {$fielddispclass_Supplier}">
  <span class="rnr-label">{$label inventorymaster_subone Supplier}:</span>
  <span class="rnr-control style3">{$Supplier_value}</span>
</div>
{END Supplier_fieldblock}
</td>
<td>
	{BEGIN UnitPrice_fieldblock}
<div data-fieldname="UnitPrice" class="rnr-field style1 {$fielddispclass_UnitPrice}">
  <span class="rnr-label">{$label inventorymaster_subone UnitPrice}:</span>
  <span class="rnr-control style3">{$UnitPrice_value}</span>
</div>
{END UnitPrice_fieldblock}
	{BEGIN GRNDate_fieldblock}
<div data-fieldname="GRNDate" class="rnr-field style1 {$fielddispclass_GRNDate}">
  <span class="rnr-label">{$label inventorymaster_subone GRNDate}:</span>
  <span class="rnr-control style3">{$GRNDate_value}</span>
</div>
{END GRNDate_fieldblock}
	{BEGIN SUM_Quantity__fieldblock}
<div data-fieldname="SUM_Quantity_" class="rnr-field style1 {$fielddispclass_SUM_Quantity_}">
  <span class="rnr-label">{$label inventorymaster_subone SUM_Quantity_}:</span>
  <span class="rnr-control style3">{$SUM_Quantity__value}</span>
</div>
{END SUM_Quantity__fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
