<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-export" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_export}
<div class="rnr-c rnr-cv rnr-c-export">


<div  class="rnr-brickcontents style2 rnr-b-exportheader {$brickclass_exportheader}"><span>	<h1>{$pagetitlelabel inventorymaster1 export}</h1>
</span></div>


{BEGIN range_block}
<div  class="rnr-brickcontents style1 rnr-b-exprange {$brickclass_exprange}"><div class="rnr-field style2">
Data range
</div>
<div class="rnr-field style1">
<span class="rnr-hoption">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="records" VALUE="all" CHECKED {$allpageradio_attrs}>
	<span class="rnr-radio-label"> All records</span>&nbsp;&nbsp;
</span>
<span class="rnr-hoption">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="records" VALUE="page" {$pageradio_attrs}>
	<span class="rnr-radio-label">  Current page only</span>
</span>
</div></div>{END range_block}



<div  class="rnr-brickcontents style1 rnr-b-expoutput {$brickclass_expoutput}"><div class="rnr-field style2">
Output format	
</div>
{BEGIN groupExcel}
<div class="rnr-field style1">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="type" VALUE="excel2007" CHECKED {$excelradio_attrs}><span class="rnr-radio-label"> <img src="images/excel.gif" align="absmiddle" alt=" ">&nbsp;Excel 2007</span>
</div>
{END groupExcel}
<div class="rnr-field style1">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="type" VALUE="word" {$wordradio_attrs}><span class="rnr-radio-label"> <img src="images/word.gif" align="absmiddle" alt=" ">&nbsp;Word</span>
</div>
<div class="rnr-field style1">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="type" VALUE="csv" {$csvradio_attrs}><span class="rnr-radio-label"> <img src="images/csv.gif" align="absmiddle" alt=" ">&nbsp;CSV (comma separated values)</span>
</div>
<div class="rnr-field style1">
	<INPUT TYPE="radio" class="rnr-radio-button" NAME="type" VALUE="xml" {$xmlradio_attrs}><span class="rnr-radio-label"> <img src="images/xml.gif" align="absmiddle" alt=" ">&nbsp;XML</span>
</div>
</div>



<div  class="rnr-brickcontents style2 rnr-b-expbuttons {$brickclass_expbuttons}"><a href="#" class="rnr-button main" {$exportlink_attrs}>Export</a>
</div>


</div>
{END container_export}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
