<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel inventorymaster1 edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-editfields2 {$brickclass_editfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN ItemID_fieldblock}
<div data-fieldname="ItemID" class="rnr-field style1 {$fielddispclass_ItemID}">
  <span class="rnr-label">{BEGIN ItemID_label}{$label inventorymaster1 ItemID}{END ItemID_label}</span>
  <span class="rnr-control style3">{$ItemID_editcontrol}</span>
</div>
{END ItemID_fieldblock}
	{BEGIN Brand_fieldblock}
<div data-fieldname="Brand" class="rnr-field style1 {$fielddispclass_Brand}">
  <span class="rnr-label">{BEGIN Brand_label}{$label inventorymaster1 Brand}{END Brand_label}</span>
  <span class="rnr-control style3">{$Brand_editcontrol}</span>
</div>
{END Brand_fieldblock}
</td>
<td>
	{BEGIN Description_fieldblock}
<div data-fieldname="Description" class="rnr-field style1 {$fielddispclass_Description}">
  <span class="rnr-label">{BEGIN Description_label}{$label inventorymaster1 Description}{END Description_label}</span>
  <span class="rnr-control style3">{$Description_editcontrol}</span>
</div>
{END Description_fieldblock}
	{BEGIN Supplier_fieldblock}
<div data-fieldname="Supplier" class="rnr-field style1 {$fielddispclass_Supplier}">
  <span class="rnr-label">{BEGIN Supplier_label}{$label inventorymaster1 Supplier}{END Supplier_label}</span>
  <span class="rnr-control style3">{$Supplier_editcontrol}</span>
</div>
{END Supplier_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
