<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel inventorymaster_pricing detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Details found: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Displaying first: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$UnitPrice_class}">{$label inventorymaster_pricing UnitPrice}</th>
			<th class="{$GRNDate_class}">{$label inventorymaster_pricing GRNDate}</th>
			<th class="{$ID1_class}">{$label inventorymaster_pricing ID1}</th>
			<th class="{$ItemID_class}">{$label inventorymaster_pricing ItemID}</th>
			<th class="{$Brand_class}">{$label inventorymaster_pricing Brand}</th>
			<th class="{$Description_class}">{$label inventorymaster_pricing Description}</th>
			<th class="{$Supplier_class}">{$label inventorymaster_pricing Supplier}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$UnitPrice_class}">{$UnitPrice_value}</td>
			<td class="{$GRNDate_class}">{$GRNDate_value}</td>
			<td class="{$ID1_class}">{$ID1_value}</td>
			<td class="{$ItemID_class}">{$ItemID_value}</td>
			<td class="{$Brand_class}">{$Brand_value}</td>
			<td class="{$Description_class}">{$Description_value}</td>
			<td class="{$Supplier_class}">{$Supplier_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>