<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel inventorymaster view}</h2>

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN ItemID_fieldblock}
	<div class="{$fielddispclass_ItemID} col-md-6 bs-viewcontrolgroup" data-fieldname="ItemID">
		<label class="control-label" for="{$labelfor_ItemID}">
			{$label inventorymaster ItemID}
		</label>
		<div class="" >
			{$ItemID_value}&nbsp;
		</div>
	</div>
{END ItemID_fieldblock}
					{BEGIN Brand_fieldblock}
	<div class="{$fielddispclass_Brand} col-md-6 bs-viewcontrolgroup" data-fieldname="Brand">
		<label class="control-label" for="{$labelfor_Brand}">
			{$label inventorymaster Brand}
		</label>
		<div class="" >
			{$Brand_value}&nbsp;
		</div>
	</div>
{END Brand_fieldblock}
					{BEGIN Description_fieldblock}
	<div class="{$fielddispclass_Description} col-md-6 bs-viewcontrolgroup" data-fieldname="Description">
		<label class="control-label" for="{$labelfor_Description}">
			{$label inventorymaster Description}
		</label>
		<div class="" >
			{$Description_value}&nbsp;
		</div>
	</div>
{END Description_fieldblock}
					{BEGIN Supplier_fieldblock}
	<div class="{$fielddispclass_Supplier} col-md-6 bs-viewcontrolgroup" data-fieldname="Supplier">
		<label class="control-label" for="{$labelfor_Supplier}">
			{$label inventorymaster Supplier}
		</label>
		<div class="" >
			{$Supplier_value}&nbsp;
		</div>
	</div>
{END Supplier_fieldblock}
					{BEGIN Id_fieldblock}
	<div class="{$fielddispclass_Id} col-md-6 bs-viewcontrolgroup" data-fieldname="Id">
		<label class="control-label" for="{$labelfor_Id}">
			{$label inventorymaster Id}
		</label>
		<div class="" >
			{$Id_value}&nbsp;
		</div>
	</div>
{END Id_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>{mlang_message CLOSE_WINDOW}</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
						{BEGIN pdflink_block}
			<li><a href=# class="pdflink" {$pdflink_attrs}>{mlang_message PDF_VIEW}</a></li>
			{END pdflink_block}
						{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>{mlang_message EDIT}</a></li>
			{END edit_page_button}
		</ul>
	</div>
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
