<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel inventorymaster_pricing1 add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN ItemID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ItemID}" data-fieldname="ItemID" data-signal-error-for="ItemID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ItemID}">
		{BEGIN ItemID_label}{$label inventorymaster_pricing1 ItemID}{END ItemID_label}
	</label>
	<div class="col-md-6" >
		{$ItemID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ItemID">
		<div class="text-muted" >
		{$tooltip inventorymaster_pricing1 ItemID}
		</div>
	</div>
</div>
</div>
{END ItemID_fieldblock}

			{BEGIN Brand_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Brand}" data-fieldname="Brand" data-signal-error-for="Brand{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Brand}">
		{BEGIN Brand_label}{$label inventorymaster_pricing1 Brand}{END Brand_label}
	</label>
	<div class="col-md-6" >
		{$Brand_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Brand">
		<div class="text-muted" >
		{$tooltip inventorymaster_pricing1 Brand}
		</div>
	</div>
</div>
</div>
{END Brand_fieldblock}

			{BEGIN Description_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Description}" data-fieldname="Description" data-signal-error-for="Description{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Description}">
		{BEGIN Description_label}{$label inventorymaster_pricing1 Description}{END Description_label}
	</label>
	<div class="col-md-6" >
		{$Description_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Description">
		<div class="text-muted" >
		{$tooltip inventorymaster_pricing1 Description}
		</div>
	</div>
</div>
</div>
{END Description_fieldblock}

			{BEGIN Supplier_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Supplier}" data-fieldname="Supplier" data-signal-error-for="Supplier{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Supplier}">
		{BEGIN Supplier_label}{$label inventorymaster_pricing1 Supplier}{END Supplier_label}
	</label>
	<div class="col-md-6" >
		{$Supplier_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Supplier">
		<div class="text-muted" >
		{$tooltip inventorymaster_pricing1 Supplier}
		</div>
	</div>
</div>
</div>
{END Supplier_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
