<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}">	<h1>{$pagetitlelabel inventorymaster masterlist}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-mastergridfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$Id_class}">{$label inventorymaster Id}</th>
			<th class="{$ItemID_class}">{$label inventorymaster ItemID}</th>
			<th class="{$Brand_class}">{$label inventorymaster Brand}</th>
			<th class="{$Description_class}">{$label inventorymaster Description}</th>
			<th class="{$Supplier_class}">{$label inventorymaster Supplier}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$Id_class}">{$Id_mastervalue}</td>
			<td class="{$ItemID_class}">{$ItemID_mastervalue}</td>
			<td class="{$Brand_class}">{$Brand_mastervalue}</td>
			<td class="{$Description_class}">{$Description_mastervalue}</td>
			<td class="{$Supplier_class}">{$Supplier_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 




{END container_mastergrid}

</div>