<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel inventorymaster_Report search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Id}">
	{BEGIN Id_fieldblock}		
	<td>
		{$label inventorymaster_Report Id}
	</td>
	<td>
		<input type="checkbox" {$Id_notbox}>
	</td>
	<td>
		{$searchtype_Id}
	</td>
	<td>
		{$Id_editcontrol}&nbsp;
	</td>
	<td>
		{$Id_editcontrol1}&nbsp;
	</td>
{END Id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ItemID}">
	{BEGIN ItemID_fieldblock}		
	<td>
		{$label inventorymaster_Report ItemID}
	</td>
	<td>
		<input type="checkbox" {$ItemID_notbox}>
	</td>
	<td>
		{$searchtype_ItemID}
	</td>
	<td>
		{$ItemID_editcontrol}&nbsp;
	</td>
	<td>
		{$ItemID_editcontrol1}&nbsp;
	</td>
{END ItemID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Brand}">
	{BEGIN Brand_fieldblock}		
	<td>
		{$label inventorymaster_Report Brand}
	</td>
	<td>
		<input type="checkbox" {$Brand_notbox}>
	</td>
	<td>
		{$searchtype_Brand}
	</td>
	<td>
		{$Brand_editcontrol}&nbsp;
	</td>
	<td>
		{$Brand_editcontrol1}&nbsp;
	</td>
{END Brand_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Description}">
	{BEGIN Description_fieldblock}		
	<td>
		{$label inventorymaster_Report Description}
	</td>
	<td>
		<input type="checkbox" {$Description_notbox}>
	</td>
	<td>
		{$searchtype_Description}
	</td>
	<td>
		{$Description_editcontrol}&nbsp;
	</td>
	<td>
		{$Description_editcontrol1}&nbsp;
	</td>
{END Description_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Supplier}">
	{BEGIN Supplier_fieldblock}		
	<td>
		{$label inventorymaster_Report Supplier}
	</td>
	<td>
		<input type="checkbox" {$Supplier_notbox}>
	</td>
	<td>
		{$searchtype_Supplier}
	</td>
	<td>
		{$Supplier_editcontrol}&nbsp;
	</td>
	<td>
		{$Supplier_editcontrol1}&nbsp;
	</td>
{END Supplier_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
