<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-login" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN loginheader}
<div  class="rnr-brickcontents style2 rnr-b-loginheader {$brickclass_loginheader}"><span>	<h1>{$pagetitlelabel  login}</h1>
</span></div>{END loginheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style3 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-loginfields {$brickclass_loginfields}"><table class="fieldGrid">
	<tr>
		<td>
			{BEGIN username_label}Username:{END username_label}
		</td>
		<td class="rnr-control">
			<input type="text" name="username" {$username_attrs}>
		</td>
	</tr>
	<tr>
		<td>
			{BEGIN password_label}Password:{END password_label}
		</td>
		<td class="rnr-control">
			<input type="password" name="password" {$password_attrs}>
		</td>
	</tr>
					<tr>
		<td>
			{BEGIN remember_password_label}Remember Password:{END remember_password_label}
		</td>
		<td>
			<input type="checkbox" {$rememberbox_attrs}>
		</td>
	</tr>
</table>
								</div>


{BEGIN guestlink_block}
<div  class="rnr-brickcontents style3 rnr-b-mesguest {$brickclass_mesguest}"><a {$guestlink_attrs} >Login as Guest</a>
</div>{END guestlink_block}




<div  class="rnr-brickcontents style3 rnr-b-mesforgot {$brickclass_mesforgot}"><a href="remind.php" {$forgotpasswordlink_attrs}>Forgot password?</a>
</div>


{BEGIN loginbuttons}
<div  class="rnr-brickcontents style2 rnr-b-loginbuttons {$brickclass_loginbuttons}"><a href="#" class="rnr-button main" {$loginlink_attrs}>Submit</a>
{BEGIN continue_button}
<a href="#" class="rnr-button" {$continuebutton_attrs}>Continue</a>
{END continue_button}
</div>{END loginbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
