<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel maintenenace_regularservice search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Date_fieldblock}		
	<div class="container {$fielddispclass_Date}" data-fieldname="Date">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Date}
			</div>
			<div class="col-md-2" >
				{$searchtype_Date}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol1}
			</div>
		</div>
	</div>
{END Date_fieldblock}
	{BEGIN Id_fieldblock}		
	<div class="container {$fielddispclass_Id}" data-fieldname="Id">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Id}
			</div>
			<div class="col-md-2" >
				{$searchtype_Id}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Id_editcontrol1}
			</div>
		</div>
	</div>
{END Id_fieldblock}
	{BEGIN MaintType_fieldblock}		
	<div class="container {$fielddispclass_MaintType}" data-fieldname="MaintType">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice MaintType}
			</div>
			<div class="col-md-2" >
				{$searchtype_MaintType}
			</div>
			<div class="col-md-4" >
				{$MaintType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MaintType_editcontrol1}
			</div>
		</div>
	</div>
{END MaintType_fieldblock}
	{BEGIN Vehicle_fieldblock}		
	<div class="container {$fielddispclass_Vehicle}" data-fieldname="Vehicle">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Vehicle}
			</div>
			<div class="col-md-2" >
				{$searchtype_Vehicle}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol1}
			</div>
		</div>
	</div>
{END Vehicle_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}		
	<div class="container {$fielddispclass_Type}" data-fieldname="Type">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Type}
			</div>
			<div class="col-md-2" >
				{$searchtype_Type}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol1}
			</div>
		</div>
	</div>
{END Type_fieldblock}
	{BEGIN MeterReading_fieldblock}		
	<div class="container {$fielddispclass_MeterReading}" data-fieldname="MeterReading">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice MeterReading}
			</div>
			<div class="col-md-2" >
				{$searchtype_MeterReading}
			</div>
			<div class="col-md-4" >
				{$MeterReading_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MeterReading_editcontrol1}
			</div>
		</div>
	</div>
{END MeterReading_fieldblock}
	{BEGIN RefNo_fieldblock}		
	<div class="container {$fielddispclass_RefNo}" data-fieldname="RefNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice RefNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_RefNo}
			</div>
			<div class="col-md-4" >
				{$RefNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RefNo_editcontrol1}
			</div>
		</div>
	</div>
{END RefNo_fieldblock}
	{BEGIN Supplier_fieldblock}		
	<div class="container {$fielddispclass_Supplier}" data-fieldname="Supplier">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Supplier}
			</div>
			<div class="col-md-2" >
				{$searchtype_Supplier}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Supplier_editcontrol1}
			</div>
		</div>
	</div>
{END Supplier_fieldblock}
	{BEGIN Cost_fieldblock}		
	<div class="container {$fielddispclass_Cost}" data-fieldname="Cost">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Cost}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_fieldblock}
	{BEGIN PaymentVoucher_fieldblock}		
	<div class="container {$fielddispclass_PaymentVoucher}" data-fieldname="PaymentVoucher">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice PaymentVoucher}
			</div>
			<div class="col-md-2" >
				{$searchtype_PaymentVoucher}
			</div>
			<div class="col-md-4" >
				{$PaymentVoucher_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentVoucher_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentVoucher_fieldblock}
	{BEGIN Remarks_fieldblock}		
	<div class="container {$fielddispclass_Remarks}" data-fieldname="Remarks">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Remarks}
			</div>
			<div class="col-md-2" >
				{$searchtype_Remarks}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol1}
			</div>
		</div>
	</div>
{END Remarks_fieldblock}
	{BEGIN EnteredBy_fieldblock}		
	<div class="container {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice EnteredBy}
			</div>
			<div class="col-md-2" >
				{$searchtype_EnteredBy}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol1}
			</div>
		</div>
	</div>
{END EnteredBy_fieldblock}
	{BEGIN Approval_fieldblock}		
	<div class="container {$fielddispclass_Approval}" data-fieldname="Approval">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice Approval}
			</div>
			<div class="col-md-2" >
				{$searchtype_Approval}
			</div>
			<div class="col-md-4" >
				{$Approval_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Approval_editcontrol1}
			</div>
		</div>
	</div>
{END Approval_fieldblock}
	{BEGIN SysDate_fieldblock}		
	<div class="container {$fielddispclass_SysDate}" data-fieldname="SysDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_regularservice SysDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SysDate}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SysDate_editcontrol1}
			</div>
		</div>
	</div>
{END SysDate_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
