<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel maintenenace_other_maintain add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN Date_fieldblock}
<div data-fieldname="Date" class="rnr-field style1 {$fielddispclass_Date}">
  <span class="rnr-label">{BEGIN Date_label}{$label maintenenace_other_maintain Date}{END Date_label}</span>
  <span class="rnr-control style3">{$Date_editcontrol}</span>
</div>
{END Date_fieldblock}
	{BEGIN MaintType_fieldblock}
<div data-fieldname="MaintType" class="rnr-field style1 {$fielddispclass_MaintType}">
  <span class="rnr-label">{BEGIN MaintType_label}{$label maintenenace_other_maintain MaintType}{END MaintType_label}</span>
  <span class="rnr-control style3">{$MaintType_editcontrol}</span>
</div>
{END MaintType_fieldblock}
	{BEGIN Vehicle_fieldblock}
<div data-fieldname="Vehicle" class="rnr-field style1 {$fielddispclass_Vehicle}">
  <span class="rnr-label">{BEGIN Vehicle_label}{$label maintenenace_other_maintain Vehicle}{END Vehicle_label}</span>
  <span class="rnr-control style3">{$Vehicle_editcontrol}</span>
</div>
{END Vehicle_fieldblock}
	{BEGIN Fleet_fieldblock}
<div data-fieldname="Fleet" class="rnr-field style1 {$fielddispclass_Fleet}">
  <span class="rnr-label">{BEGIN Fleet_label}{$label maintenenace_other_maintain Fleet}{END Fleet_label}</span>
  <span class="rnr-control style3">{$Fleet_editcontrol}</span>
</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}
<div data-fieldname="Type" class="rnr-field style1 {$fielddispclass_Type}">
  <span class="rnr-label">{BEGIN Type_label}{$label maintenenace_other_maintain Type}{END Type_label}</span>
  <span class="rnr-control style3">{$Type_editcontrol}</span>
</div>
{END Type_fieldblock}
	{BEGIN RefNo_fieldblock}
<div data-fieldname="RefNo" class="rnr-field style1 {$fielddispclass_RefNo}">
  <span class="rnr-label">{BEGIN RefNo_label}{$label maintenenace_other_maintain RefNo}{END RefNo_label}</span>
  <span class="rnr-control style3">{$RefNo_editcontrol}</span>
</div>
{END RefNo_fieldblock}
</td>
<td>
	{BEGIN Supplier_fieldblock}
<div data-fieldname="Supplier" class="rnr-field style1 {$fielddispclass_Supplier}">
  <span class="rnr-label">{BEGIN Supplier_label}{$label maintenenace_other_maintain Supplier}{END Supplier_label}</span>
  <span class="rnr-control style3">{$Supplier_editcontrol}</span>
</div>
{END Supplier_fieldblock}
	{BEGIN Cost_fieldblock}
<div data-fieldname="Cost" class="rnr-field style1 {$fielddispclass_Cost}">
  <span class="rnr-label">{BEGIN Cost_label}{$label maintenenace_other_maintain Cost}{END Cost_label}</span>
  <span class="rnr-control style3">{$Cost_editcontrol}</span>
</div>
{END Cost_fieldblock}
	{BEGIN PaymentVoucher_fieldblock}
<div data-fieldname="PaymentVoucher" class="rnr-field style1 {$fielddispclass_PaymentVoucher}">
  <span class="rnr-label">{BEGIN PaymentVoucher_label}{$label maintenenace_other_maintain PaymentVoucher}{END PaymentVoucher_label}</span>
  <span class="rnr-control style3">{$PaymentVoucher_editcontrol}</span>
</div>
{END PaymentVoucher_fieldblock}
	{BEGIN Remarks_fieldblock}
<div data-fieldname="Remarks" class="rnr-field style1 {$fielddispclass_Remarks}">
  <span class="rnr-label">{BEGIN Remarks_label}{$label maintenenace_other_maintain Remarks}{END Remarks_label}</span>
  <span class="rnr-control style3">{$Remarks_editcontrol}</span>
</div>
{END Remarks_fieldblock}
	{BEGIN EnteredBy_fieldblock}
<div data-fieldname="EnteredBy" class="rnr-field style1 {$fielddispclass_EnteredBy}">
  <span class="rnr-label">{BEGIN EnteredBy_label}{$label maintenenace_other_maintain EnteredBy}{END EnteredBy_label}</span>
  <span class="rnr-control style3">{$EnteredBy_editcontrol}</span>
</div>
{END EnteredBy_fieldblock}
	{BEGIN SysDate_fieldblock}
<div data-fieldname="SysDate" class="rnr-field style1 {$fielddispclass_SysDate}">
  <span class="rnr-label">{BEGIN SysDate_label}{$label maintenenace_other_maintain SysDate}{END SysDate_label}</span>
  <span class="rnr-control style3">{$SysDate_editcontrol}</span>
</div>
{END SysDate_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
