<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel maintenenace_Chart search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_Chart Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN Vehicle_fieldblock}		
	<div class="container {$fielddispclass_Vehicle}" data-fieldname="Vehicle">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_Chart Vehicle}
			</div>
			<div class="col-md-2" >
				{$searchtype_Vehicle}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Vehicle_editcontrol1}
			</div>
		</div>
	</div>
{END Vehicle_fieldblock}
	{BEGIN Date_fieldblock}		
	<div class="container {$fielddispclass_Date}" data-fieldname="Date">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_Chart Date}
			</div>
			<div class="col-md-2" >
				{$searchtype_Date}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Date_editcontrol1}
			</div>
		</div>
	</div>
{END Date_fieldblock}
	{BEGIN MaintType_fieldblock}		
	<div class="container {$fielddispclass_MaintType}" data-fieldname="MaintType">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_Chart MaintType}
			</div>
			<div class="col-md-2" >
				{$searchtype_MaintType}
			</div>
			<div class="col-md-4" >
				{$MaintType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MaintType_editcontrol1}
			</div>
		</div>
	</div>
{END MaintType_fieldblock}
	{BEGIN Cost_1_fieldblock}		
	<div class="container {$fielddispclass_Cost_1}" data-fieldname="Cost_1">
		<div class="form-group">
			<div class="col-md-2">
				{$label maintenenace_Chart Cost_1}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost_1}
			</div>
			<div class="col-md-4" >
				{$Cost_1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_1_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_1_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
