<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
<style>
{$containerCss}
</style>
<div class="sidebar bs-fixed clearfix mCustomScrollbar" data-mcs-theme="minimal-dark" {$blockattr_left}>
	<div class="sidebar-contents mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside">
		

{BEGIN container_logo}
<div {$logo_chiddenattr} data-pageid="{$pageid}" data-container="logo" class=" bs-sidebarlogo   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}



</div>
{END container_logo}



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-default clearfix   "> 

{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}

{BEGIN container_sidemenu}<div {$sidemenu_chiddenattr} data-pageid="{$pageid}" data-container="sidemenu" class="bs-navform navbar-collapse sidebar-menu bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main}

{END menu_block}

												</div>						{END container_sidemenu}

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class=" sidebar-container   "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


	</div>
</div>	
<div class="bs-wrapper">
	<div class="bs-fixedheader" id="fixedheader{$id}">
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default bs-fullwidth-navbar">					



{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class=" navbar-form navbar-left   "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   



{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >{mlang_message EXPORT_SELECTED}</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>{mlang_message DELETE_SELECTED}</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="maintenenace_regularservice_search.php" {$advsearchlink_attrs}>{mlang_message ADVANCED_SEARCH}</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">{mlang_message SHOW_SEARCH_PANEL}</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="maintenenace_regularservice_export.php"  {$exportlink_attrs}>{mlang_message EXPORT_RESULTS}</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="maintenenace_regularservice_import.php?{$crosstable_attrs}"  {$importlink_attrs}>{mlang_message IMPORT}</a></li>
		{END import_link}

					<li role="separator" class="divider"></li>
				{BEGIN AfrikaansLANGLINK}
				<li><a href="#" data-lang="Afrikaans" class="rnr-langlink">
					{BEGIN AfrikaansLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END AfrikaansLANGLINK_ACTIVE}
					Afrikaans</a></li>
				{END AfrikaansLANGLINK}
				{BEGIN ArabicLANGLINK}
				<li><a href="#" data-lang="Arabic" class="rnr-langlink">
					{BEGIN ArabicLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END ArabicLANGLINK_ACTIVE}
					العربية</a></li>
				{END ArabicLANGLINK}
				{BEGIN ChineseLANGLINK}
				<li><a href="#" data-lang="Chinese" class="rnr-langlink">
					{BEGIN ChineseLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END ChineseLANGLINK_ACTIVE}
					中文(简体)</a></li>
				{END ChineseLANGLINK}
				{BEGIN EnglishLANGLINK}
				<li><a href="#" data-lang="English" class="rnr-langlink">
					{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
					English</a></li>
				{END EnglishLANGLINK}
				{BEGIN FrenchLANGLINK}
				<li><a href="#" data-lang="French" class="rnr-langlink">
					{BEGIN FrenchLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END FrenchLANGLINK_ACTIVE}
					Français</a></li>
				{END FrenchLANGLINK}
				{BEGIN GermanLANGLINK}
				<li><a href="#" data-lang="German" class="rnr-langlink">
					{BEGIN GermanLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END GermanLANGLINK_ACTIVE}
					Deutsch</a></li>
				{END GermanLANGLINK}
				{BEGIN ItalianLANGLINK}
				<li><a href="#" data-lang="Italian" class="rnr-langlink">
					{BEGIN ItalianLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END ItalianLANGLINK_ACTIVE}
					Italiano</a></li>
				{END ItalianLANGLINK}
				{BEGIN RussianLANGLINK}
				<li><a href="#" data-lang="Russian" class="rnr-langlink">
					{BEGIN RussianLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END RussianLANGLINK_ACTIVE}
					Русский</a></li>
				{END RussianLANGLINK}
				{BEGIN SpanishLANGLINK}
				<li><a href="#" data-lang="Spanish" class="rnr-langlink">
					{BEGIN SpanishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END SpanishLANGLINK_ACTIVE}
					Español</a></li>
				{END SpanishLANGLINK}
		
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<span class="form-inline">
		{BEGIN embeded_log_fields}
			<span>
				<input type="text" name="username" class="form-control" {$username_attrs}>&nbsp;
				<input type="password" name="password" class="form-control" {$password_attrs}>
			</span>
		{END embeded_log_fields}
			<button class="btn btn-info" {$guestloginlink_attrs}>{mlang_message LOGIN}</button>
		{BEGIN embeded_log_ctrls}
			{END embeded_log_ctrls}
		</span>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>{mlang_message LOG_OUT}</a></li>
		{END logoutbutton}
		
		{BEGIN adminarea_link}
				<li><a href="admin_rights_list.php" {$adminarealink_attrs}>{mlang_message AA_ADMINAREA}</a></li>
		{END adminarea_link}


	{BEGIN changepwd_link}
				<li><a href="#" {$changepwdlink_attrs}>{mlang_message CHANGE_PASSWORD}</a></li>
	{END changepwd_link}
			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
	</div>	
	<div class="container-fluid bs-underheader bs-fixedsidebarmain" id="underheader{$id}">
		{$header}
		<div class="bs-sidebar-screenbound">
			



{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="    "> 




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>
{END container_messagerow}



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class=" bs-navcontrolled bs-hidden-xs   "> 




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>{mlang_message ADD_NEW}</a>
	{END add_link}

	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>{mlang_message DELETE}</button>
	{END deleteselected_link}
		</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{mlang_message WR_PRINT_FRIENDLY}">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">{mlang_message PPANEL_SCOPE}</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="maintenenace_regularservice_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							{mlang_message PPANEL_ALL_PAGES}
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="maintenenace_regularservice_print.php?{$crosstable_attrs}" name="printScope" checked>
							{mlang_message PPANEL_THIS_PAGE}
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							{mlang_message PPANEL_SELECTED}
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

		
				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											{mlang_message RECORDS_PP}:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >{mlang_message PPANEL_PRINT}</button>			
		</li>
	</ul>	
</span>

{END print_friendly}


{BEGIN field_hide_panel}
<div {$bsfieldhidepanel_hiddenattr} data-pageid="{$pageid}" data-brick="bsfieldhidepanel" id="fildhidepanel{$id}" class="keep-open btn-group" title="{mlang_message SHOW_HIDE_COLUMNS}">
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Id" checked="checked" value="1" data-field="Id">
			  <span>{$label maintenenace_regularservice Id}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Date" checked="checked" value="1" data-field="Date">
			  <span>{$label maintenenace_regularservice Date}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_MaintType" checked="checked" value="1" data-field="MaintType">
			  <span>{$label maintenenace_regularservice MaintType}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Vehicle" checked="checked" value="1" data-field="Vehicle">
			  <span>{$label maintenenace_regularservice Vehicle}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Fleet" checked="checked" value="1" data-field="Fleet">
			  <span>{$label maintenenace_regularservice Fleet}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Type" checked="checked" value="1" data-field="Type">
			  <span>{$label maintenenace_regularservice Type}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_MeterReading" checked="checked" value="1" data-field="MeterReading">
			  <span>{$label maintenenace_regularservice MeterReading}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_RefNo" checked="checked" value="1" data-field="RefNo">
			  <span>{$label maintenenace_regularservice RefNo}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Supplier" checked="checked" value="1" data-field="Supplier">
			  <span>{$label maintenenace_regularservice Supplier}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Cost" checked="checked" value="1" data-field="Cost">
			  <span>{$label maintenenace_regularservice Cost}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_PaymentVoucher" checked="checked" value="1" data-field="PaymentVoucher">
			  <span>{$label maintenenace_regularservice PaymentVoucher}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_Remarks" checked="checked" value="1" data-field="Remarks">
			  <span>{$label maintenenace_regularservice Remarks}</span>
			</label>
		</div>
		</a>
		</li>
		<li>
		<a>
		  <div class="checkbox">
			<label>
			  <input type="checkbox" id="hide_EnteredBy" checked="checked" value="1" data-field="EnteredBy">
			  <span>{$label maintenenace_regularservice EnteredBy}</span>
			</label>
		</div>
		</a>
		</li>
	</ul>
</div>

{END field_hide_panel}



</div>
{END container_gridinfo}






</div>
{END container_gridcontrols}


		</div>
		<div></div>
		<div class="bs-sidebar-screenbound bs-minwidth">
			

{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=Id]:before {
		content: "{$label maintenenace_regularservice Id}";
	}
	.bs-gridcell[data-field=Fleet]:before {
		content: "{$label maintenenace_regularservice Fleet}";
	}
	.bs-gridcell[data-field=Vehicle]:before {
		content: "{$label maintenenace_regularservice Vehicle}";
	}
	.bs-gridcell[data-field=Type]:before {
		content: "{$label maintenenace_regularservice Type}";
	}
	.bs-gridcell[data-field=Supplier]:before {
		content: "{$label maintenenace_regularservice Supplier}";
	}
	.bs-gridcell[data-field=Cost]:before {
		content: "{$label maintenenace_regularservice Cost}";
	}
	.bs-gridcell[data-field=Remarks]:before {
		content: "{$label maintenenace_regularservice Remarks}";
	}
	.bs-gridcell[data-field=RefNo]:before {
		content: "{$label maintenenace_regularservice RefNo}";
	}
	.bs-gridcell[data-field=SysDate]:before {
		content: "{$label maintenenace_regularservice SysDate}";
	}
	.bs-gridcell[data-field=Date]:before {
		content: "{$label maintenenace_regularservice Date}";
	}
	.bs-gridcell[data-field=EnteredBy]:before {
		content: "{$label maintenenace_regularservice EnteredBy}";
	}
	.bs-gridcell[data-field=Approval]:before {
		content: "{$label maintenenace_regularservice Approval}";
	}
	.bs-gridcell[data-field=MeterReading]:before {
		content: "{$label maintenenace_regularservice MeterReading}";
	}
	.bs-gridcell[data-field=AccidentRef]:before {
		content: "{$label maintenenace_regularservice AccidentRef}";
	}
	.bs-gridcell[data-field=PaymentVoucher]:before {
		content: "{$label maintenenace_regularservice PaymentVoucher}";
	}
	.bs-gridcell[data-field=MaintType]:before {
		content: "{$label maintenenace_regularservice MaintType}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		
									{BEGIN Id_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Id_class}" data-field=Id>
									{BEGIN Id_fieldheader}
																				<span {$Id_orderlinkattrs}>
											{$label maintenenace_regularservice Id}
										</span>
									{END Id_fieldheader}
									</th>
									{END Id_fieldheadercolumn}
									
									
									
									
									{BEGIN Date_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Date_class}" data-field=Date>
									{BEGIN Date_fieldheader}
																				<span {$Date_orderlinkattrs}>
											{$label maintenenace_regularservice Date}
										</span>
									{END Date_fieldheader}
									</th>
									{END Date_fieldheadercolumn}
									
									
									
									
									{BEGIN MaintType_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$MaintType_class}" data-field=MaintType>
									{BEGIN MaintType_fieldheader}
																				<span {$MaintType_orderlinkattrs}>
											{$label maintenenace_regularservice MaintType}
										</span>
									{END MaintType_fieldheader}
									</th>
									{END MaintType_fieldheadercolumn}
									
									
									
									
									{BEGIN Vehicle_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Vehicle_class}" data-field=Vehicle>
									{BEGIN Vehicle_fieldheader}
																				<span {$Vehicle_orderlinkattrs}>
											{$label maintenenace_regularservice Vehicle}
										</span>
									{END Vehicle_fieldheader}
									</th>
									{END Vehicle_fieldheadercolumn}
									
									
									
									
									{BEGIN Fleet_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Fleet_class}" data-field=Fleet>
									{BEGIN Fleet_fieldheader}
																				<span {$Fleet_orderlinkattrs}>
											{$label maintenenace_regularservice Fleet}
										</span>
									{END Fleet_fieldheader}
									</th>
									{END Fleet_fieldheadercolumn}
									
									
									
									
									{BEGIN Type_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Type_class}" data-field=Type>
									{BEGIN Type_fieldheader}
																				<span {$Type_orderlinkattrs}>
											{$label maintenenace_regularservice Type}
										</span>
									{END Type_fieldheader}
									</th>
									{END Type_fieldheadercolumn}
									
									
									
									
									{BEGIN MeterReading_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$MeterReading_class}" data-field=MeterReading>
									{BEGIN MeterReading_fieldheader}
																				<span {$MeterReading_orderlinkattrs}>
											{$label maintenenace_regularservice MeterReading}
										</span>
									{END MeterReading_fieldheader}
									</th>
									{END MeterReading_fieldheadercolumn}
									
									
									
									
									{BEGIN RefNo_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$RefNo_class}" data-field=RefNo>
									{BEGIN RefNo_fieldheader}
																				<span {$RefNo_orderlinkattrs}>
											{$label maintenenace_regularservice RefNo}
										</span>
									{END RefNo_fieldheader}
									</th>
									{END RefNo_fieldheadercolumn}
									
									
									
									
									{BEGIN Supplier_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Supplier_class}" data-field=Supplier>
									{BEGIN Supplier_fieldheader}
																				<span {$Supplier_orderlinkattrs}>
											{$label maintenenace_regularservice Supplier}
										</span>
									{END Supplier_fieldheader}
									</th>
									{END Supplier_fieldheadercolumn}
									
									
									
									
									{BEGIN Cost_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Cost_class}" data-field=Cost>
									{BEGIN Cost_fieldheader}
																				<span {$Cost_orderlinkattrs}>
											{$label maintenenace_regularservice Cost}
										</span>
									{END Cost_fieldheader}
									</th>
									{END Cost_fieldheadercolumn}
									
									
									
									
									{BEGIN PaymentVoucher_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$PaymentVoucher_class}" data-field=PaymentVoucher>
									{BEGIN PaymentVoucher_fieldheader}
																				<span {$PaymentVoucher_orderlinkattrs}>
											{$label maintenenace_regularservice PaymentVoucher}
										</span>
									{END PaymentVoucher_fieldheader}
									</th>
									{END PaymentVoucher_fieldheadercolumn}
									
									
									
									
									{BEGIN Remarks_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Remarks_class}" data-field=Remarks>
									{BEGIN Remarks_fieldheader}
																				<span {$Remarks_orderlinkattrs}>
											{$label maintenenace_regularservice Remarks}
										</span>
									{END Remarks_fieldheader}
									</th>
									{END Remarks_fieldheadercolumn}
									
									
									
									
									{BEGIN EnteredBy_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$EnteredBy_class}" data-field=EnteredBy>
									{BEGIN EnteredBy_fieldheader}
																				<span {$EnteredBy_orderlinkattrs}>
											{$label maintenenace_regularservice EnteredBy}
										</span>
									{END EnteredBy_fieldheader}
									</th>
									{END EnteredBy_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="{mlang_message EDIT}"></a>
	{END edit_link}
	{END edit_column}

	
	
		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="{mlang_message VIEW}"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

	

	{BEGIN Id_fieldcolumn}
	<td class="bs-gridcell {$Id_class}"  data-field=Id {$rowstyle} {$recordattrs}>
		{$Id_value}
	</td>
{END Id_fieldcolumn}


	{BEGIN Date_fieldcolumn}
	<td class="bs-gridcell {$Date_class}"  data-field=Date {$rowstyle} {$recordattrs}>
		{$Date_value}
	</td>
{END Date_fieldcolumn}


	{BEGIN MaintType_fieldcolumn}
	<td class="bs-gridcell {$MaintType_class}"  data-field=MaintType {$rowstyle} {$recordattrs}>
		{$MaintType_value}
	</td>
{END MaintType_fieldcolumn}


	{BEGIN Vehicle_fieldcolumn}
	<td class="bs-gridcell {$Vehicle_class}"  data-field=Vehicle {$rowstyle} {$recordattrs}>
		{$Vehicle_value}
	</td>
{END Vehicle_fieldcolumn}


	{BEGIN Fleet_fieldcolumn}
	<td class="bs-gridcell {$Fleet_class}"  data-field=Fleet {$rowstyle} {$recordattrs}>
		{$Fleet_value}
	</td>
{END Fleet_fieldcolumn}


	{BEGIN Type_fieldcolumn}
	<td class="bs-gridcell {$Type_class}"  data-field=Type {$rowstyle} {$recordattrs}>
		{$Type_value}
	</td>
{END Type_fieldcolumn}


	{BEGIN MeterReading_fieldcolumn}
	<td class="bs-gridcell {$MeterReading_class}"  data-field=MeterReading {$rowstyle} {$recordattrs}>
		{$MeterReading_value}
	</td>
{END MeterReading_fieldcolumn}


	{BEGIN RefNo_fieldcolumn}
	<td class="bs-gridcell {$RefNo_class}"  data-field=RefNo {$rowstyle} {$recordattrs}>
		{$RefNo_value}
	</td>
{END RefNo_fieldcolumn}


	{BEGIN Supplier_fieldcolumn}
	<td class="bs-gridcell {$Supplier_class}"  data-field=Supplier {$rowstyle} {$recordattrs}>
		{$Supplier_value}
	</td>
{END Supplier_fieldcolumn}


	{BEGIN Cost_fieldcolumn}
	<td class="bs-gridcell {$Cost_class}"  data-field=Cost {$rowstyle} {$recordattrs}>
		{$Cost_value}
	</td>
{END Cost_fieldcolumn}


	{BEGIN PaymentVoucher_fieldcolumn}
	<td class="bs-gridcell {$PaymentVoucher_class}"  data-field=PaymentVoucher {$rowstyle} {$recordattrs}>
		{$PaymentVoucher_value}
	</td>
{END PaymentVoucher_fieldcolumn}


	{BEGIN Remarks_fieldcolumn}
	<td class="bs-gridcell {$Remarks_class}"  data-field=Remarks {$rowstyle} {$recordattrs}>
		{$Remarks_value}
	</td>
{END Remarks_fieldcolumn}


	{BEGIN EnteredBy_fieldcolumn}
	<td class="bs-gridcell {$EnteredBy_class}"  data-field=EnteredBy {$rowstyle} {$recordattrs}>
		{$EnteredBy_value}
	</td>
{END EnteredBy_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
																		{BEGIN totals_row}
								<tr class="rnr-bottomrow style1 {$gridFooter_class}">
									{BEGIN totals_record}
									{BEGIN listIcons_column}
									<td class="bs-gridcell"></td>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<td class="bs-gridcell"></td>
									{END checkbox_column}

									
										{BEGIN Id_fieldfootercolumn}
										<td class="bs-gridcell {$Id_class}" data-field="Id">
																				</td>
										{END Id_fieldfootercolumn}
										{BEGIN Date_fieldfootercolumn}
										<td class="bs-gridcell {$Date_class}" data-field="Date">
																				</td>
										{END Date_fieldfootercolumn}
										{BEGIN MaintType_fieldfootercolumn}
										<td class="bs-gridcell {$MaintType_class}" data-field="MaintType">
																				</td>
										{END MaintType_fieldfootercolumn}
										{BEGIN Vehicle_fieldfootercolumn}
										<td class="bs-gridcell {$Vehicle_class}" data-field="Vehicle">
																				</td>
										{END Vehicle_fieldfootercolumn}
										{BEGIN Fleet_fieldfootercolumn}
										<td class="bs-gridcell {$Fleet_class}" data-field="Fleet">
																				</td>
										{END Fleet_fieldfootercolumn}
										{BEGIN Type_fieldfootercolumn}
										<td class="bs-gridcell {$Type_class}" data-field="Type">
																				</td>
										{END Type_fieldfootercolumn}
										{BEGIN MeterReading_fieldfootercolumn}
										<td class="bs-gridcell {$MeterReading_class}" data-field="MeterReading">
																				</td>
										{END MeterReading_fieldfootercolumn}
										{BEGIN RefNo_fieldfootercolumn}
										<td class="bs-gridcell {$RefNo_class}" data-field="RefNo">
																				</td>
										{END RefNo_fieldfootercolumn}
										{BEGIN Supplier_fieldfootercolumn}
										<td class="bs-gridcell {$Supplier_class}" data-field="Supplier">
																				</td>
										{END Supplier_fieldfootercolumn}
										{BEGIN Cost_fieldfootercolumn}
										<td class="bs-gridcell {$Cost_class}" data-field="Cost">
																					{BEGIN Cost_showtotal}
																							{mlang_message TOTAL}:
											{$Cost_total}
											{END Cost_showtotal}
										</td>
										{END Cost_fieldfootercolumn}
										{BEGIN PaymentVoucher_fieldfootercolumn}
										<td class="bs-gridcell {$PaymentVoucher_class}" data-field="PaymentVoucher">
																				</td>
										{END PaymentVoucher_fieldfootercolumn}
										{BEGIN Remarks_fieldfootercolumn}
										<td class="bs-gridcell {$Remarks_class}" data-field="Remarks">
																				</td>
										{END Remarks_fieldfootercolumn}
										{BEGIN EnteredBy_fieldfootercolumn}
										<td class="bs-gridcell {$EnteredBy_class}" data-field="EnteredBy">
																				</td>
										{END EnteredBy_fieldfootercolumn}
									{BEGIN endrecordtotals_block}
									<td class="rnr-cs bs-gridcell"></td>
									{END endrecordtotals_block}
									{END totals_record}
								</tr>
								{END totals_row}
								
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


		</div>
	</div>
</div>
	

		{$footer}
	{END body}
	</body>
</html>
