<tr id="itemAAS" view="topitem" class="runner-vmenu ##if @MENU.InlineMenu##tree##else##simple##endif## Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc"><HR></td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-vmenu ##if @MENU.InlineMenu##tree##else##simple##endif## Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlinkAA" href="admin_rights_list.##@ext##">##message AA_ADMINAREA##</a>
	</td>
	<td class="runner-cr"></td>
</tr>