<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu ##if @MENU.InlineMenu##tree##else##simple##endif## Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu ##if @MENU.InlineMenu##tree##else##simple##endif## Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>