{BEGIN item1_menulink}
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item1_menulink}
{BEGIN item2_menulink}
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item2_menulink}
{BEGIN item3_menulink}
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item3_menulink}

