<tr id="item1" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink1">
					{mlang_message AA_PERMISSIONS}
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item2" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink2">
					{mlang_message AA_ASSIGN_USERS}
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item3" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink3">
					{mlang_message AA_ADDEDIT_USERS}
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
