<tr id="item1" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink1">
					Permissions
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item2" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink2">
					Assign users to groups
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
<tr id="item3" view="topitem" class="runner-vmenu runner-b-vmenu simple Leaf" originalMenuTag="$$originalMenuTag">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a id="itemlink3">
					Add/Edit users
		</a>
	</td>
	<td class="runner-cr"></td>
</tr>
