{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item1_menulink_attrs}>{$item1_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}
{BEGIN item2_menulink}
<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item2_menulink_attrs}>{$item2_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}
{BEGIN item3_menulink}
<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item3_menulink_attrs}>{$item3_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}
