<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel otherrenewal search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_fieldblock}		
	<div class="container {$fielddispclass_ID}" data-fieldname="ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ID}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol1}
			</div>
		</div>
	</div>
{END ID_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN VehicleNo_fieldblock}		
	<div class="container {$fielddispclass_VehicleNo}" data-fieldname="VehicleNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal VehicleNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_VehicleNo}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VehicleNo_editcontrol1}
			</div>
		</div>
	</div>
{END VehicleNo_fieldblock}
	{BEGIN VehicleType_fieldblock}		
	<div class="container {$fielddispclass_VehicleType}" data-fieldname="VehicleType">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal VehicleType}
			</div>
			<div class="col-md-2" >
				{$searchtype_VehicleType}
			</div>
			<div class="col-md-4" >
				{$VehicleType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VehicleType_editcontrol1}
			</div>
		</div>
	</div>
{END VehicleType_fieldblock}
	{BEGIN PaymentType_fieldblock}		
	<div class="container {$fielddispclass_PaymentType}" data-fieldname="PaymentType">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal PaymentType}
			</div>
			<div class="col-md-2" >
				{$searchtype_PaymentType}
			</div>
			<div class="col-md-4" >
				{$PaymentType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentType_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentType_fieldblock}
	{BEGIN PaymentDate_fieldblock}		
	<div class="container {$fielddispclass_PaymentDate}" data-fieldname="PaymentDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal PaymentDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_PaymentDate}
			</div>
			<div class="col-md-4" >
				{$PaymentDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentDate_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentDate_fieldblock}
	{BEGIN Cost_fieldblock}		
	<div class="container {$fielddispclass_Cost}" data-fieldname="Cost">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal Cost}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_fieldblock}
	{BEGIN PeriodFrom_fieldblock}		
	<div class="container {$fielddispclass_PeriodFrom}" data-fieldname="PeriodFrom">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal PeriodFrom}
			</div>
			<div class="col-md-2" >
				{$searchtype_PeriodFrom}
			</div>
			<div class="col-md-4" >
				{$PeriodFrom_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PeriodFrom_editcontrol1}
			</div>
		</div>
	</div>
{END PeriodFrom_fieldblock}
	{BEGIN PeriodTo_fieldblock}		
	<div class="container {$fielddispclass_PeriodTo}" data-fieldname="PeriodTo">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal PeriodTo}
			</div>
			<div class="col-md-2" >
				{$searchtype_PeriodTo}
			</div>
			<div class="col-md-4" >
				{$PeriodTo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PeriodTo_editcontrol1}
			</div>
		</div>
	</div>
{END PeriodTo_fieldblock}
	{BEGIN PaymentRef_fieldblock}		
	<div class="container {$fielddispclass_PaymentRef}" data-fieldname="PaymentRef">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal PaymentRef}
			</div>
			<div class="col-md-2" >
				{$searchtype_PaymentRef}
			</div>
			<div class="col-md-4" >
				{$PaymentRef_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentRef_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentRef_fieldblock}
	{BEGIN SystemDate_fieldblock}		
	<div class="container {$fielddispclass_SystemDate}" data-fieldname="SystemDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal SystemDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_SystemDate}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SystemDate_editcontrol1}
			</div>
		</div>
	</div>
{END SystemDate_fieldblock}
	{BEGIN EnteredBy_fieldblock}		
	<div class="container {$fielddispclass_EnteredBy}" data-fieldname="EnteredBy">
		<div class="form-group">
			<div class="col-md-2">
				{$label otherrenewal EnteredBy}
			</div>
			<div class="col-md-2" >
				{$searchtype_EnteredBy}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EnteredBy_editcontrol1}
			</div>
		</div>
	</div>
{END EnteredBy_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
