<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button button" {$pdflink_attrs}>PDF View</a>
{END pdflink_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel OtherRenewals print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN Fleet_fieldheadercolumn}
<th class="runner-cc {$Fleet_class}" {$Fleet_style}>
	{BEGIN Fleet_fieldheader}
	<b>{$label OtherRenewals Fleet}</b>
	{END Fleet_fieldheader}
</th>
{END Fleet_fieldheadercolumn}
	{BEGIN ID_fieldheadercolumn}
<th class="runner-cc {$ID_class}" {$ID_style}>
	{BEGIN ID_fieldheader}
	<b>{$label OtherRenewals ID}</b>
	{END ID_fieldheader}
</th>
{END ID_fieldheadercolumn}
	{BEGIN VehicleNo_fieldheadercolumn}
<th class="runner-cc {$VehicleNo_class}" {$VehicleNo_style}>
	{BEGIN VehicleNo_fieldheader}
	<b>{$label OtherRenewals VehicleNo}</b>
	{END VehicleNo_fieldheader}
</th>
{END VehicleNo_fieldheadercolumn}
	{BEGIN VehicleType_fieldheadercolumn}
<th class="runner-cc {$VehicleType_class}" {$VehicleType_style}>
	{BEGIN VehicleType_fieldheader}
	<b>{$label OtherRenewals VehicleType}</b>
	{END VehicleType_fieldheader}
</th>
{END VehicleType_fieldheadercolumn}
	{BEGIN PaymentType_fieldheadercolumn}
<th class="runner-cc {$PaymentType_class}" {$PaymentType_style}>
	{BEGIN PaymentType_fieldheader}
	<b>{$label OtherRenewals PaymentType}</b>
	{END PaymentType_fieldheader}
</th>
{END PaymentType_fieldheadercolumn}
	{BEGIN RenewalDate_fieldheadercolumn}
<th class="runner-cc {$RenewalDate_class}" {$RenewalDate_style}>
	{BEGIN RenewalDate_fieldheader}
	<b>{$label OtherRenewals RenewalDate}</b>
	{END RenewalDate_fieldheader}
</th>
{END RenewalDate_fieldheadercolumn}
	{BEGIN Cost_fieldheadercolumn}
<th class="runner-cc {$Cost_class}" {$Cost_style}>
	{BEGIN Cost_fieldheader}
	<b>{$label OtherRenewals Cost}</b>
	{END Cost_fieldheader}
</th>
{END Cost_fieldheadercolumn}
	{BEGIN PaymentRef_fieldheadercolumn}
<th class="runner-cc {$PaymentRef_class}" {$PaymentRef_style}>
	{BEGIN PaymentRef_fieldheader}
	<b>{$label OtherRenewals PaymentRef}</b>
	{END PaymentRef_fieldheader}
</th>
{END PaymentRef_fieldheadercolumn}
	{BEGIN PeriodFrom_fieldheadercolumn}
<th class="runner-cc {$PeriodFrom_class}" {$PeriodFrom_style}>
	{BEGIN PeriodFrom_fieldheader}
	<b>{$label OtherRenewals PeriodFrom}</b>
	{END PeriodFrom_fieldheader}
</th>
{END PeriodFrom_fieldheadercolumn}
	{BEGIN PeriodTo_fieldheadercolumn}
<th class="runner-cc {$PeriodTo_class}" {$PeriodTo_style}>
	{BEGIN PeriodTo_fieldheader}
	<b>{$label OtherRenewals PeriodTo}</b>
	{END PeriodTo_fieldheader}
</th>
{END PeriodTo_fieldheadercolumn}
	{BEGIN SystemDate_fieldheadercolumn}
<th class="runner-cc {$SystemDate_class}" {$SystemDate_style}>
	{BEGIN SystemDate_fieldheader}
	<b>{$label OtherRenewals SystemDate}</b>
	{END SystemDate_fieldheader}
</th>
{END SystemDate_fieldheadercolumn}
	{BEGIN EnteredBy_fieldheadercolumn}
<th class="runner-cc {$EnteredBy_class}" {$EnteredBy_style}>
	{BEGIN EnteredBy_fieldheader}
	<b>{$label OtherRenewals EnteredBy}</b>
	{END EnteredBy_fieldheader}
</th>
{END EnteredBy_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN Fleet_fieldcolumn}
<td  class="runner-cc {$Fleet_class}" {$Fleet_style} {$recordattrs}>
	{$Fleet_value}
</td>
{END Fleet_fieldcolumn}
	{BEGIN ID_fieldcolumn}
<td  class="runner-cc {$ID_class}" {$ID_style} {$recordattrs}>
	{$ID_value}
</td>
{END ID_fieldcolumn}
	{BEGIN VehicleNo_fieldcolumn}
<td  class="runner-cc {$VehicleNo_class}" {$VehicleNo_style} {$recordattrs}>
	{$VehicleNo_value}
</td>
{END VehicleNo_fieldcolumn}
	{BEGIN VehicleType_fieldcolumn}
<td  class="runner-cc {$VehicleType_class}" {$VehicleType_style} {$recordattrs}>
	{$VehicleType_value}
</td>
{END VehicleType_fieldcolumn}
	{BEGIN PaymentType_fieldcolumn}
<td  class="runner-cc {$PaymentType_class}" {$PaymentType_style} {$recordattrs}>
	{$PaymentType_value}
</td>
{END PaymentType_fieldcolumn}
	{BEGIN RenewalDate_fieldcolumn}
<td  class="runner-cc {$RenewalDate_class}" {$RenewalDate_style} {$recordattrs}>
	{$RenewalDate_value}
</td>
{END RenewalDate_fieldcolumn}
	{BEGIN Cost_fieldcolumn}
<td  class="runner-cc {$Cost_class}" {$Cost_style} {$recordattrs}>
	{$Cost_value}
</td>
{END Cost_fieldcolumn}
	{BEGIN PaymentRef_fieldcolumn}
<td  class="runner-cc {$PaymentRef_class}" {$PaymentRef_style} {$recordattrs}>
	{$PaymentRef_value}
</td>
{END PaymentRef_fieldcolumn}
	{BEGIN PeriodFrom_fieldcolumn}
<td  class="runner-cc {$PeriodFrom_class}" {$PeriodFrom_style} {$recordattrs}>
	{$PeriodFrom_value}
</td>
{END PeriodFrom_fieldcolumn}
	{BEGIN PeriodTo_fieldcolumn}
<td  class="runner-cc {$PeriodTo_class}" {$PeriodTo_style} {$recordattrs}>
	{$PeriodTo_value}
</td>
{END PeriodTo_fieldcolumn}
	{BEGIN SystemDate_fieldcolumn}
<td  class="runner-cc {$SystemDate_class}" {$SystemDate_style} {$recordattrs}>
	{$SystemDate_value}
</td>
{END SystemDate_fieldcolumn}
	{BEGIN EnteredBy_fieldcolumn}
<td  class="runner-cc {$EnteredBy_class}" {$EnteredBy_style} {$recordattrs}>
	{$EnteredBy_value}
</td>
{END EnteredBy_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
