<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel suppliermaster edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-editfields2 {$brickclass_editfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN SupplierName_fieldblock}
<div data-fieldname="SupplierName" class="rnr-field style1 {$fielddispclass_SupplierName}">
  <span class="rnr-label">{BEGIN SupplierName_label}{$label suppliermaster SupplierName}{END SupplierName_label}</span>
  <span class="rnr-control style3">{$SupplierName_editcontrol}</span>
</div>
{END SupplierName_fieldblock}
	{BEGIN Address_fieldblock}
<div data-fieldname="Address" class="rnr-field style1 {$fielddispclass_Address}">
  <span class="rnr-label">{BEGIN Address_label}{$label suppliermaster Address}{END Address_label}</span>
  <span class="rnr-control style3">{$Address_editcontrol}</span>
</div>
{END Address_fieldblock}
	{BEGIN ContactPerson_fieldblock}
<div data-fieldname="ContactPerson" class="rnr-field style1 {$fielddispclass_ContactPerson}">
  <span class="rnr-label">{BEGIN ContactPerson_label}{$label suppliermaster ContactPerson}{END ContactPerson_label}</span>
  <span class="rnr-control style3">{$ContactPerson_editcontrol}</span>
</div>
{END ContactPerson_fieldblock}
</td>
<td>
	{BEGIN Telephone_fieldblock}
<div data-fieldname="Telephone" class="rnr-field style1 {$fielddispclass_Telephone}">
  <span class="rnr-label">{BEGIN Telephone_label}{$label suppliermaster Telephone}{END Telephone_label}</span>
  <span class="rnr-control style3">{$Telephone_editcontrol}</span>
</div>
{END Telephone_fieldblock}
	{BEGIN Remarks_fieldblock}
<div data-fieldname="Remarks" class="rnr-field style1 {$fielddispclass_Remarks}">
  <span class="rnr-label">{BEGIN Remarks_label}{$label suppliermaster Remarks}{END Remarks_label}</span>
  <span class="rnr-control style3">{$Remarks_editcontrol}</span>
</div>
{END Remarks_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
