<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel vehiclemaster_new search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_FullTank}">
	{BEGIN FullTank_fieldblock}		
	<td>
		{$label vehiclemaster_new FullTank}
	</td>
	<td>
		<input type="checkbox" {$FullTank_notbox}>
	</td>
	<td>
		{$searchtype_FullTank}
	</td>
	<td>
		{$FullTank_editcontrol}&nbsp;
	</td>
	<td>
		{$FullTank_editcontrol1}&nbsp;
	</td>
{END FullTank_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ID}">
	{BEGIN ID_fieldblock}		
	<td>
		{$label vehiclemaster_new ID}
	</td>
	<td>
		<input type="checkbox" {$ID_notbox}>
	</td>
	<td>
		{$searchtype_ID}
	</td>
	<td>
		{$ID_editcontrol}&nbsp;
	</td>
	<td>
		{$ID_editcontrol1}&nbsp;
	</td>
{END ID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Fleet}">
	{BEGIN Fleet_fieldblock}		
	<td>
		{$label vehiclemaster_new Fleet}
	</td>
	<td>
		<input type="checkbox" {$Fleet_notbox}>
	</td>
	<td>
		{$searchtype_Fleet}
	</td>
	<td>
		{$Fleet_editcontrol}&nbsp;
	</td>
	<td>
		{$Fleet_editcontrol1}&nbsp;
	</td>
{END Fleet_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Type}">
	{BEGIN Type_fieldblock}		
	<td>
		{$label vehiclemaster_new Type}
	</td>
	<td>
		<input type="checkbox" {$Type_notbox}>
	</td>
	<td>
		{$searchtype_Type}
	</td>
	<td>
		{$Type_editcontrol}&nbsp;
	</td>
	<td>
		{$Type_editcontrol1}&nbsp;
	</td>
{END Type_fieldblock}
	</tr>
	<tr class="{$fielddispclass_RegDate}">
	{BEGIN RegDate_fieldblock}		
	<td>
		{$label vehiclemaster_new RegDate}
	</td>
	<td>
		<input type="checkbox" {$RegDate_notbox}>
	</td>
	<td>
		{$searchtype_RegDate}
	</td>
	<td>
		{$RegDate_editcontrol}&nbsp;
	</td>
	<td>
		{$RegDate_editcontrol1}&nbsp;
	</td>
{END RegDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_RegNo}">
	{BEGIN RegNo_fieldblock}		
	<td>
		{$label vehiclemaster_new RegNo}
	</td>
	<td>
		<input type="checkbox" {$RegNo_notbox}>
	</td>
	<td>
		{$searchtype_RegNo}
	</td>
	<td>
		{$RegNo_editcontrol}&nbsp;
	</td>
	<td>
		{$RegNo_editcontrol1}&nbsp;
	</td>
{END RegNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Make}">
	{BEGIN Make_fieldblock}		
	<td>
		{$label vehiclemaster_new Make}
	</td>
	<td>
		<input type="checkbox" {$Make_notbox}>
	</td>
	<td>
		{$searchtype_Make}
	</td>
	<td>
		{$Make_editcontrol}&nbsp;
	</td>
	<td>
		{$Make_editcontrol1}&nbsp;
	</td>
{END Make_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Model}">
	{BEGIN Model_fieldblock}		
	<td>
		{$label vehiclemaster_new Model}
	</td>
	<td>
		<input type="checkbox" {$Model_notbox}>
	</td>
	<td>
		{$searchtype_Model}
	</td>
	<td>
		{$Model_editcontrol}&nbsp;
	</td>
	<td>
		{$Model_editcontrol1}&nbsp;
	</td>
{END Model_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Cost}">
	{BEGIN Cost_fieldblock}		
	<td>
		{$label vehiclemaster_new Cost}
	</td>
	<td>
		<input type="checkbox" {$Cost_notbox}>
	</td>
	<td>
		{$searchtype_Cost}
	</td>
	<td>
		{$Cost_editcontrol}&nbsp;
	</td>
	<td>
		{$Cost_editcontrol1}&nbsp;
	</td>
{END Cost_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DriverAsigned}">
	{BEGIN DriverAsigned_fieldblock}		
	<td>
		{$label vehiclemaster_new DriverAsigned}
	</td>
	<td>
		<input type="checkbox" {$DriverAsigned_notbox}>
	</td>
	<td>
		{$searchtype_DriverAsigned}
	</td>
	<td>
		{$DriverAsigned_editcontrol}&nbsp;
	</td>
	<td>
		{$DriverAsigned_editcontrol1}&nbsp;
	</td>
{END DriverAsigned_fieldblock}
	</tr>
	<tr class="{$fielddispclass_InsuranceDue}">
	{BEGIN InsuranceDue_fieldblock}		
	<td>
		{$label vehiclemaster_new InsuranceDue}
	</td>
	<td>
		<input type="checkbox" {$InsuranceDue_notbox}>
	</td>
	<td>
		{$searchtype_InsuranceDue}
	</td>
	<td>
		{$InsuranceDue_editcontrol}&nbsp;
	</td>
	<td>
		{$InsuranceDue_editcontrol1}&nbsp;
	</td>
{END InsuranceDue_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Last_Mileage}">
	{BEGIN Last_Mileage_fieldblock}		
	<td>
		{$label vehiclemaster_new Last_Mileage}
	</td>
	<td>
		<input type="checkbox" {$Last_Mileage_notbox}>
	</td>
	<td>
		{$searchtype_Last_Mileage}
	</td>
	<td>
		{$Last_Mileage_editcontrol}&nbsp;
	</td>
	<td>
		{$Last_Mileage_editcontrol1}&nbsp;
	</td>
{END Last_Mileage_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
