<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel vehiclemaster add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Fleet_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Fleet}" data-fieldname="Fleet" data-signal-error-for="Fleet{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Fleet}">
		{BEGIN Fleet_label}{$label vehiclemaster Fleet}{END Fleet_label}
	</label>
	<div class="col-md-6" >
		{$Fleet_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Fleet">
		<div class="text-muted" >
		{$tooltip vehiclemaster Fleet}
		</div>
	</div>
</div>
</div>
{END Fleet_fieldblock}

			{BEGIN Type_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Type}" data-fieldname="Type" data-signal-error-for="Type{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Type}">
		{BEGIN Type_label}{$label vehiclemaster Type}{END Type_label}
	</label>
	<div class="col-md-6" >
		{$Type_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Type">
		<div class="text-muted" >
		{$tooltip vehiclemaster Type}
		</div>
	</div>
</div>
</div>
{END Type_fieldblock}

			{BEGIN RegDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RegDate}" data-fieldname="RegDate" data-signal-error-for="RegDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RegDate}">
		{BEGIN RegDate_label}{$label vehiclemaster RegDate}{END RegDate_label}
	</label>
	<div class="col-md-6" >
		{$RegDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RegDate">
		<div class="text-muted" >
		{$tooltip vehiclemaster RegDate}
		</div>
	</div>
</div>
</div>
{END RegDate_fieldblock}

			{BEGIN RegNo_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RegNo}" data-fieldname="RegNo" data-signal-error-for="RegNo{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RegNo}">
		{BEGIN RegNo_label}{$label vehiclemaster RegNo}{END RegNo_label}
	</label>
	<div class="col-md-6" >
		{$RegNo_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RegNo">
		<div class="text-muted" >
		{$tooltip vehiclemaster RegNo}
		</div>
	</div>
</div>
</div>
{END RegNo_fieldblock}

			{BEGIN Make_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Make}" data-fieldname="Make" data-signal-error-for="Make{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Make}">
		{BEGIN Make_label}{$label vehiclemaster Make}{END Make_label}
	</label>
	<div class="col-md-6" >
		{$Make_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Make">
		<div class="text-muted" >
		{$tooltip vehiclemaster Make}
		</div>
	</div>
</div>
</div>
{END Make_fieldblock}

			{BEGIN Model_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Model}" data-fieldname="Model" data-signal-error-for="Model{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Model}">
		{BEGIN Model_label}{$label vehiclemaster Model}{END Model_label}
	</label>
	<div class="col-md-6" >
		{$Model_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Model">
		<div class="text-muted" >
		{$tooltip vehiclemaster Model}
		</div>
	</div>
</div>
</div>
{END Model_fieldblock}

			{BEGIN Cost_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Cost}" data-fieldname="Cost" data-signal-error-for="Cost{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Cost}">
		{BEGIN Cost_label}{$label vehiclemaster Cost}{END Cost_label}
	</label>
	<div class="col-md-6" >
		{$Cost_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Cost">
		<div class="text-muted" >
		{$tooltip vehiclemaster Cost}
		</div>
	</div>
</div>
</div>
{END Cost_fieldblock}

			{BEGIN DriverAsigned_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DriverAsigned}" data-fieldname="DriverAsigned" data-signal-error-for="DriverAsigned{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DriverAsigned}">
		{BEGIN DriverAsigned_label}{$label vehiclemaster DriverAsigned}{END DriverAsigned_label}
	</label>
	<div class="col-md-6" >
		{$DriverAsigned_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DriverAsigned">
		<div class="text-muted" >
		{$tooltip vehiclemaster DriverAsigned}
		</div>
	</div>
</div>
</div>
{END DriverAsigned_fieldblock}

			{BEGIN InsuranceDue_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_InsuranceDue}" data-fieldname="InsuranceDue" data-signal-error-for="InsuranceDue{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_InsuranceDue}">
		{BEGIN InsuranceDue_label}{$label vehiclemaster InsuranceDue}{END InsuranceDue_label}
	</label>
	<div class="col-md-6" >
		{$InsuranceDue_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="InsuranceDue">
		<div class="text-muted" >
		{$tooltip vehiclemaster InsuranceDue}
		</div>
	</div>
</div>
</div>
{END InsuranceDue_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>{mlang_message SAVE}</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">{mlang_message RESET}</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">{mlang_message BACK_TO_LIST}</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">{mlang_message CANCEL}</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
