<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel vehiclemaster_report search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_fieldblock}		
	<div class="container {$fielddispclass_ID}" data-fieldname="ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ID}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol1}
			</div>
		</div>
	</div>
{END ID_fieldblock}
	{BEGIN Fleet_fieldblock}		
	<div class="container {$fielddispclass_Fleet}" data-fieldname="Fleet">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report Fleet}
			</div>
			<div class="col-md-2" >
				{$searchtype_Fleet}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Fleet_editcontrol1}
			</div>
		</div>
	</div>
{END Fleet_fieldblock}
	{BEGIN Type_fieldblock}		
	<div class="container {$fielddispclass_Type}" data-fieldname="Type">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report Type}
			</div>
			<div class="col-md-2" >
				{$searchtype_Type}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Type_editcontrol1}
			</div>
		</div>
	</div>
{END Type_fieldblock}
	{BEGIN RegDate_fieldblock}		
	<div class="container {$fielddispclass_RegDate}" data-fieldname="RegDate">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report RegDate}
			</div>
			<div class="col-md-2" >
				{$searchtype_RegDate}
			</div>
			<div class="col-md-4" >
				{$RegDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegDate_editcontrol1}
			</div>
		</div>
	</div>
{END RegDate_fieldblock}
	{BEGIN RegNo_fieldblock}		
	<div class="container {$fielddispclass_RegNo}" data-fieldname="RegNo">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report RegNo}
			</div>
			<div class="col-md-2" >
				{$searchtype_RegNo}
			</div>
			<div class="col-md-4" >
				{$RegNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegNo_editcontrol1}
			</div>
		</div>
	</div>
{END RegNo_fieldblock}
	{BEGIN Make_fieldblock}		
	<div class="container {$fielddispclass_Make}" data-fieldname="Make">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report Make}
			</div>
			<div class="col-md-2" >
				{$searchtype_Make}
			</div>
			<div class="col-md-4" >
				{$Make_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Make_editcontrol1}
			</div>
		</div>
	</div>
{END Make_fieldblock}
	{BEGIN Model_fieldblock}		
	<div class="container {$fielddispclass_Model}" data-fieldname="Model">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report Model}
			</div>
			<div class="col-md-2" >
				{$searchtype_Model}
			</div>
			<div class="col-md-4" >
				{$Model_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Model_editcontrol1}
			</div>
		</div>
	</div>
{END Model_fieldblock}
	{BEGIN Cost_fieldblock}		
	<div class="container {$fielddispclass_Cost}" data-fieldname="Cost">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report Cost}
			</div>
			<div class="col-md-2" >
				{$searchtype_Cost}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cost_editcontrol1}
			</div>
		</div>
	</div>
{END Cost_fieldblock}
	{BEGIN DriverAsigned_fieldblock}		
	<div class="container {$fielddispclass_DriverAsigned}" data-fieldname="DriverAsigned">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report DriverAsigned}
			</div>
			<div class="col-md-2" >
				{$searchtype_DriverAsigned}
			</div>
			<div class="col-md-4" >
				{$DriverAsigned_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DriverAsigned_editcontrol1}
			</div>
		</div>
	</div>
{END DriverAsigned_fieldblock}
	{BEGIN InsuranceDue_fieldblock}		
	<div class="container {$fielddispclass_InsuranceDue}" data-fieldname="InsuranceDue">
		<div class="form-group">
			<div class="col-md-2">
				{$label vehiclemaster_report InsuranceDue}
			</div>
			<div class="col-md-2" >
				{$searchtype_InsuranceDue}
			</div>
			<div class="col-md-4" >
				{$InsuranceDue_editcontrol}
			</div>
			<div class="col-md-4" >
				{$InsuranceDue_editcontrol1}
			</div>
		</div>
	</div>
{END InsuranceDue_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>{mlang_message SEARCH}</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>{mlang_message RESET}</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
