.PdfAvenue .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-empty > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-toprow > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-empty > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-empty > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-empty > * > * > .runner-row > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-toprow.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-row.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-toprow > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-row > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-toprow.runner-vmenu > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-toprow.runner-vmenu > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-toprow.runner-vmenu > *.runner-cc a
{
color: #696969
}
.PdfAvenue .runner-vmenu.runner-vmenu > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-vmenu.runner-vmenu > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-vmenu.runner-vmenu > *.runner-cc a
{
color: #696969
}
.PdfAvenue .runner-vmenu.runner-vmenu.current > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-vmenu.runner-vmenu.current > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-vmenu.runner-vmenu.current > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-vmenu.runner-vmenu.active > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-vmenu.runner-vmenu.active > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-vmenu.runner-vmenu.active > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-vmenu.runner-vmenu.expanded > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-vmenu.runner-vmenu.expanded > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-vmenu.runner-vmenu.expanded > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-menu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-menu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-menu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-hmenu > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-hmenu > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu > * > * > .runner-row > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-hmenu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-hmenu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-hmenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #404040
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #404040
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-undermenu > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-undermenu > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-undermenu > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu > * > * > .runner-row > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-undermenu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-undermenu  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-undermenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #333381
}
.PdfAvenue .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a
{
color: #333381
}
.PdfAvenue .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-fields > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-toprow > *.runner-cc a
{
color: #696969
}
.PdfAvenue .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-fields > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-fields > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields > * > * > .runner-row > *.runner-cc a
{
color: #696969
}
.PdfAvenue .runner-s-fields  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-fields  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-fields  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-form > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #000080
}
.PdfAvenue .runner-s-form > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-row.style1 > *.runner-cc a
{
color: #000080
}
.PdfAvenue .runner-s-form > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-form > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-form > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-form > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-toprow > *.runner-cc a
{
color: #003366
}
.PdfAvenue .runner-s-form > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-form > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-form > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form > * > * > .runner-row > *.runner-cc a
{
color: #003366
}
.PdfAvenue .runner-s-form  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-form  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-form  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-1 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-toprow > *.runner-cc a
{
color: #D1EEEE
}
.PdfAvenue .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-1 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-1 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1 > * > * > .runner-row > *.runner-cc a
{
color: #D1EEEE
}
.PdfAvenue .runner-s-1  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-1  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-1  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-2 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-toprow > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-2 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-2 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2 > * > * > .runner-row > *.runner-cc a
{
color: #FFFF00
}
.PdfAvenue .runner-s-2  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-2  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-2  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-3 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-row.style1 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-row.style2 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue .runner-s-3 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-toprow > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-toprow.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-toprow > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue .runner-s-3 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-3 > * > * > .runner-row > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-row.style3 > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3 > * > * > .runner-row > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-3  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-3  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-3  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a
{
color: #696969
}
.PdfAvenue .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a
{
color: #FFFFFF
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt
{
color: #333333
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.PdfAvenue .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a
{
color: #333333
}
.PdfAvenue .runner-s-grid  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-s-grid  span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-s-grid  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper span.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-tab > .runner-tabright,
.PdfAvenue  .runner-wrapper .runner-tab > .runner-tabright,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-tab > .runner-tabright
{
clip:rect(auto auto auto 496px);
}
.PdfAvenue .runner-tab.selected > a
{
color: #FFFFFF !important;
}
.PdfAvenue .runner-tab > a
{
color: #000000 !important;
}
.PdfAvenue .runner-tab > a *,
.PdfAvenue  .runner-wrapper .runner-tab > a *,
.PdfAvenue  .runner-wrapper .runner-wrapper .runner-tab > a *
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfAvenue span.mainbutton.mainbutton.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper span.mainbutton.mainbutton.runner-btnframe > .runner-btnright,
.PdfAvenue  .runner-wrapper .runner-wrapper span.mainbutton.mainbutton.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 496px);
}
